<div class="wrap-buttons">
  <a mat-raised-button color="primary" [routerLink]="'/catalogos-administrativos/crear-usuario'">Crear Usuario</a>
</div>

<mat-form-field class="margin-333" style="width: 98%">
  <input 
  matInput 
  placeholder="Filtrar Usuarios" 
  value=""
  (keyup)='updateFilter($event)'>
</mat-form-field>


<div fxLayout="row wrap" *ngIf = "obs$ | async as users; else loading">
  <ng-container *ngIf = "users.length; else noUsers">
    <div
     *ngFor="let user of users" 
     fxFlex="100"
     fxFlex.gt-sm="33"
     fxFlex.sm="50">
 
      <mat-card class="user-card p-0">
        <mat-card-title>
          <div class="card-title-text">
            <a class="toolbar-avatar md mr-1"><img src="{{rutaImg}}/{{user.imagen}}" alt=""></a>
            <span>{{user.nombre}} {{user.apellidoPaterno}}</span>
            <span fxFlex></span>
            <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
              <mat-icon class="">more_vert</mat-icon>
            </button>
            <mat-menu #userMenu="matMenu">
              <button mat-menu-item (click)="openDialogUser(user)">Ver</button>
              <button mat-menu-item [routerLink]="['/catalogos-administrativos/modificar-usuario', user.idUsuario]">Editar</button>
              <button mat-menu-item (click)="openDialoAlertDelete(user.idUsuario)">Eliminar</button>
            </mat-menu>
          </div>
          <mat-divider></mat-divider>
        </mat-card-title>
  
        <mat-card-content>
          <div class="user-details">
            <p><mat-icon class="text-muted">business</mat-icon>{{user.idEmpresa | getEmpresa}}</p>
            <p><mat-icon class="text-muted">email</mat-icon>{{user.email}}</p>
            <p><mat-icon class="text-muted">phone</mat-icon>{{user.telefono}}</p>
            <p><mat-icon class="text-muted">location_on</mat-icon>{{user.direccion}}</p>
            <p><mat-icon class="text-muted">date_range</mat-icon>{{user.fechaNacimiento | date}}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>  

  <ng-template #noUsers>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
      <mat-card class="user-card p-0">
        <mat-card-content>
          <img src="assets/images/icons/no-close.png" alt="no found">
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>
</div>

<ng-template #loading>loading animation...</ng-template>

<mat-paginator [pageSizeOptions]="[6, 12, 24, 100]"></mat-paginator>
