<div fxLayout="row wrap" *ngIf="!obra">
  <div fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100">
    <div class="wrap-spiner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>

<div *ngIf="opcionesPermitidas">
  <mat-card fxLayout="row wrap" class="container-solitud" *ngIf="obra">
    <form [formGroup]="solicitudForm" (submit)="crearSolicitud()" >
    <!-- <form> -->
      <div fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100">
        <mat-card-title class="title-solicitud">
          <h1>Solicitud de Maquinaria y Equipo</h1>
          <span>Grupo Empresarial Cima</span>
          <p>Area de Transporte y Maquinaria</p>
        </mat-card-title>
        <mat-divider></mat-divider>
  
        <mat-card-content>

          <div class="data-form">
            
            <div class="wrap-logo">
              <img   class="img md mr-1" src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="empresa">
            </div>

            <div class="wrap-data-obra">
              <div class="tit">Nombre de la empresa:</div>
              <div class="desc">{{obra.nombreObra}}</div>
              <div class="tit">Obra / Proyecto:</div>
              <div class="desc">Proyecto</div>
              <div class="tit">Fecha de la Solicitud:</div>
              <div class="desc">{{fechaHoy | date}}</div> 
              <div class="tit">Teléfono de Contácto:</div>
              <div class="desc">
                <mat-form-field class="full-width">
                  <input matInput name="telefono" formControlName="telefonoContacto">
                </mat-form-field>
                <!-- <div class="validaciones"> 
                  <small *ngIf="solicitudForm.controls['telefono'].hasError('required') && solicitudForm.controls['telefono'].touched" class="form-error-msg">
                    Teléfono es un campo requerido 
                  </small>
                </div> -->
              </div>
              <div class="tit">Correo Electrónico:</div>
              <div class="desc">
                <mat-form-field class="full-width">
                  <input matInput type="email" name="email" formControlName="correoElectronico">
                </mat-form-field>
              
              </div>
              <div class="tit">Inicio Periodo uso de equipo:</div>
              <div class="desc">
                <mat-form-field class="full-width">
                  <input matInput [matDatepicker]="fechaInicialUso" formControlName="fechaInicialUso" name="date" (dateChange)="onFechaInicioUso($event)">
                  <mat-datepicker-toggle matSuffix [for]="fechaInicialUso"></mat-datepicker-toggle>
                  <mat-datepicker #fechaInicialUso (selectedChange)="onFechaInicioUso($event)"></mat-datepicker>
                </mat-form-field>
             
                <div class="validaciones">
                  <small *ngIf="error.isError" class="form-error-msg">
                    {{ error.errorMessage }}
                  </small>
                </div>    
              </div>
              <div class="tit">Fin Periodo uso de equipo:</div>
              <div class="desc">
                <mat-form-field class="full-width">
                  <input matInput [matDatepicker]="fechaFinalUso" formControlName="fechaFinalUso" name="date" (dateChange)="onFechaFinalUso($event)">
                  <mat-datepicker-toggle matSuffix [for]="fechaFinalUso"></mat-datepicker-toggle>
                  <mat-datepicker #fechaFinalUso (selectedChange)="onFechaFinalUso($event)"></mat-datepicker>
                </mat-form-field>
               
              </div>
              <div class="tit">Lugar donde se requiere el servicio:</div>
              <div class="desc">
                <mat-form-field class="full-width">
                  <input matInput name="lugar" formControlName="lugar">
                </mat-form-field>
              
              </div>
             
            </div>
          </div>

          <!-- <div class="fields-form">
            <div class="wrap-descripcion-solicitud">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <textarea matInput placeholder="Detalles generales de la Solicitud" formControlName="descripcion"></textarea>
                </mat-form-field>
                <div class="validaciones">
                  <small *ngIf="solicitudForm.controls['descripcion'].hasError('required') && solicitudForm.controls['descripcion'].touched"
                  class="form-error-msg">
                    Descripción de la solicitud es un campo requerido
                  </small>
                </div>
              </div>
            </div>
          </div> -->

          <!-- <div class="pb-1">
            <mat-form-field class="full-width">
              <mat-label>Servicio de Interes</mat-label>
              <mat-select formControlName="idServicioInteres" required>
                <mat-option *ngFor="let interes of objServiciosInteres" [value]="interes.id">
                  {{interes.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="solicitudForm.controls['idServicioInteres'].hasError('required') && solicitudForm.controls['idServicioInteres'].touched" class="form-error-msg">
                Servicio de Interes es un campo requerido
              </small>
            </div>
          </div> -->
    
          <div class="cont-btns">
            <button mat-raised-button color="primary" [disabled]="solicitudForm.invalid" type="submit" class="btn-accept" *ngIf="obra.cierre===0">Crear Solicitud</button>
            <button mat-raised-button [routerLink]="'/solicitudes-suministros/obras'">Cancelar</button>
          </div>
          
        </mat-card-content>
      </div>
    </form>

    <div class="wrap-peticiones">
      <mat-expansion-panel [(expanded)]="panelOpenState">
        
        <mat-expansion-panel-header>
          <mat-panel-title class="title-peticion">
            Agregar Petición
          </mat-panel-title>
        </mat-expansion-panel-header>
      
        <div class="pb-1">
          <mat-form-field class="full-width">
            <mat-label>Categoría</mat-label>
            <mat-select required [(ngModel)]="categoriaPeticion">
              <mat-option *ngFor="let categoria of listaCategoriasPeticion" [value]="categoria.idCategoriaSolicitudMaquinariaEquipo">
                {{categoria.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>  
        </div>
  
        <div class="pb-1">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Descripción"  [(ngModel)]="descripcionSolicitud"></textarea>
          </mat-form-field>
        </div>

        <div class="pb-1">
          <mat-form-field class="full-width">
            <input matInput  placeholder="Tipo de Servicio" [(ngModel)]="tipoServicioSolicitud">
          </mat-form-field>
        </div>

        <div class="pb-1">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Comentarios"  [(ngModel)]="comentariosSolicitud"></textarea>
          </mat-form-field>
        </div>


        <div class="cont-btns">
          <button mat-raised-button color="primary" (click)="agregarPeticion()" class="btn-accept">Agregar Petición</button>
        </div>
      
      </mat-expansion-panel>
      
    </div>
  
  </mat-card>
  
  <div class="mat-box-shadow margin-333" *ngIf="peticionesSolicitadas.length; else nopeticiones">
    <!-- {{peticionesSolicitadas | json}} -->

    <ngx-datatable class="material fullscreen bg-white" style="height: auto; overflow-y: auto;" [rows]="peticionesSolicitadas" [columnMode]="'force'"
      [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true" [rowHeight]="'auto'" [scrollbarH]="true" [rowHeight]="50">

      <ngx-datatable-column name="No." [flexGrow]="1">
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <p class="content-center">
            {{ rowIndex + 1 }}
          </p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Categoría" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <p class="content-center">
            {{row?.categoriaSolicitudMaquinariaEquipo.descripcion}}
          </p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Descripción" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <p class="content-center">
            {{row?.descripcion}}
          </p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Tipo de Servicio" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <p class="content-center">
            {{row?.tipoServicio}}
          </p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Comentarios" [flexGrow]="1">
        <ng-template let-row="row" ngx-datatable-cell-template>
          <p class="content-center">
            {{row?.comentario}}
          </p>
        </ng-template>
      </ngx-datatable-column>

      <ngx-datatable-column name="Acción" [flexGrow]="1">
        <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
          <p class="content-center">
            <button mat-mini-fab [color]="'btn-delete'" (click)="eliminarObservacion(rowIndex)">
              <mat-icon>delete</mat-icon>
            </button>
          </p>
        </ng-template>
      </ngx-datatable-column>

    </ngx-datatable>

  </div>

  <ng-template #nopeticiones >
    <ngx-datatable class="material fullscreen bg-white" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true"
      [rowHeight]="'auto'" [scrollbarH]="true" [rowHeight]="50" *ngIf="obra">
      <ngx-datatable-column name="No." [flexGrow]="1"></ngx-datatable-column>
      <ngx-datatable-column name="Categoría" [flexGrow]="1"></ngx-datatable-column>
      <ngx-datatable-column name="Descripción" [flexGrow]="1"></ngx-datatable-column>
      <ngx-datatable-column name="Tipo de Servicio" [flexGrow]="1"></ngx-datatable-column>
      <ngx-datatable-column name="Comentarios" [flexGrow]="1"></ngx-datatable-column>
    </ngx-datatable>
  </ng-template>

  <mat-card fxLayout="row wrap" class="container-solitud c-s" *ngIf="obra">
    <div fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100">
      <mat-card-content class="observacion-adicional">
        <div class="fields-form-adicional">
          <div class="wrap-descripcion-solicitud">
            <div class="pb-1">
              <mat-form-field class="full-width">
                <textarea matInput placeholder="Observaciones Adicionales" [(ngModel)] = "observacionesAdicionales"></textarea>
              </mat-form-field>
            </div>
          </div>
        </div>
      </mat-card-content>
    </div>
  </mat-card>

</div>
