<mat-list *ngIf="!doc">
  <!-- <mat-list-item class="wrap-button">
    <button mat-raised-button color="primary" (click)="abrirAltaDocumento(1)">Agregar Archivo</button>
  </mat-list-item> -->
  <!-- <mat-divider></mat-divider> -->
  <h3 mat-subheader>Archivos</h3>
  <div *ngIf="(listadocumentosValidosObs$ | async) as documentos">
    <!-- {{documento | json}} -->
    <div class="container-list">
      <div *ngFor="let documento of documentos; let i = index">
        <mat-list-item *ngIf="obraLoad">
          <!-- {{documento.idExpedienteUnicoObra | json}} -->
          <div class="cont">
            <button mat-icon-button [matMenuTriggerFor]="documentMenu" class="">
              <mat-icon class="">more_vert</mat-icon>
            </button>
          </div>
          <mat-menu #documentMenu="matMenu">
            <ng-container *ngIf="!documento.multiple">
              <a mat-menu-item *ngIf="!documento.detExpedienteUnicoObra && obraLoad.cierre === 0" (click)="abrirAltaDocumento(documento.idExpedienteUnicoObra)" target="blank">Subír</a>
              <div *ngIf="documento.detExpedienteUnicoObra">
                <ng-container *ngFor ="let detExpediente of documento.detExpedienteUnicoObra">
                  <a mat-menu-item (click)="vistaPreviaArchivo(detExpediente)" target="blank">Ver</a>
                  <a mat-menu-item href="http://{{host}}/{{rutaSicap}}/files/files-log-obra/{{detExpediente.nombreArchivo}}" target="blank">Descargar</a>
                  <button mat-menu-item *ngIf="obra.cierre === 0" (click)="openDialoAlertDelete(detExpediente.idDetExpedienteUnicoObra)">Eliminar</button>
                </ng-container>
              </div>
            </ng-container>
            
            <ng-container *ngIf="documento.multiple">
              <a mat-menu-item *ngIf="obra.cierre === 0" (click)="abrirAltaDocumento(documento.idExpedienteUnicoObra)" target="blank">Subír</a>
              <div *ngIf="documento.detExpedienteUnicoObra">
                <ng-container *ngFor ="let detExpediente of documento.detExpedienteUnicoObra">
                  <a mat-menu-item (click)="vistaPreviaArchivo(detExpediente)" target="blank">Ver Archivo {{detExpediente.nombreArchivo}}</a>
                  <a mat-menu-item href="http://{{host}}/{{rutaSicap}}/files/files-log-obra/{{detExpediente.nombreArchivo}}" target="blank">Descargar Archivo {{detExpediente.nombreArchivo}}</a>
                  <button mat-menu-item *ngIf="obra.cierre === 0" (click)="openDialoAlertDelete(detExpediente.idDetExpedienteUnicoObra)">Eliminar Archivo {{detExpediente.nombreArchivo}}</button>
                </ng-container>
              </div>
            </ng-container>
            
          </mat-menu>
          <mat-icon mat-list-icon class="upload" *ngIf="documento.detExpedienteUnicoObra">done</mat-icon>
          <mat-icon mat-list-icon class="no-upload" *ngIf="!documento.detExpedienteUnicoObra">close</mat-icon>
          <a mat-line class="title-doc" > {{i+1}}. {{documento.descripcion}} </a>
          <mat-divider></mat-divider>
        </mat-list-item>
      </div>
    </div>
  </div>
</mat-list>

<div class="container-visualizador" *ngIf="doc">
  <button mat-mini-fab [color]="'close'" (click)="noVer()" matTooltip="Cerrar visualización previa" matTooltipPosition="left"><mat-icon class="">close</mat-icon></button>
  <ngx-doc-viewer loaded [url]="doc" viewer="google" style="width:100%;height:70vh; margin-top: 20px"  ></ngx-doc-viewer>
</div>
