<!-- <mat-form-field class="margin-333" style="width: 98%">
  <input matInput placeholder="Filtrar Plan de Trabajo" value="" (keyup)='updateFilter($event)'>
</mat-form-field> -->

<div class="container-gral" *ngIf="permisoAcceso">
  <div class="wrap-button">
    <button mat-raised-button color="primary" [routerLink]="'/ejecucion-proyecto/proyectos/reporte-mano-obra'">Regresar</button>
  </div>

  <div fxLayout="row wrap" *ngIf="(obs$ | async) as reportes">
    <ng-container *ngIf="reportes.length; else loading">
      <div class="monto-total">
        <p>
          Se han capturado {{reportes.length}} reportes que suman un importe acumulado de
          <b>{{montoTotal | currency}}</b>
          y representa el {{(montoTotal / totalMonto) * 100 | number:'1.2-2'}}% del total de materiales.
        </p>
      </div>

      <div *ngFor="let reporte of reportes" fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
        <!-- {{reporte | json}} -->
        <mat-card class="user-card p-0">
          <mat-card-title>
            <div class="card-title-text obra">
              <span fxFlex></span>
              <button mat-icon-button [matMenuTriggerFor]="reporteMenu" class="">
                <mat-icon class="">more_vert</mat-icon>
              </button>
              <mat-menu #reporteMenu="matMenu">
                <div id="modificar-reporte" #myIdM>
                  <a mat-menu-item routerLink="modificar-reporte-materiales/{{reporte.idCapturaMaterial}}" *ngIf="permisosEspecialesPermitidos.includes(myIdM?.id)">Modificar Reporte Materiales</a>
                </div>
                <div id="eliminar-reporte" #myIdE>
                  <button mat-menu-item (click)="openDialoAlertDelete(reporte)" *ngIf="permisosEspecialesPermitidos.includes(myIdE?.id)">Eliminar Reporte</button>
                </div>
              </mat-menu>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>

          <mat-card-content>
            <div class="user-details">
              <div class="wrap-detalles-tarea">
                <p class="p-info-catalogs">
                  <span>Fecha de Captura:</span> {{reporte.fechaCaptura | date}}
                </p>
              </div>
              <div class="wrap-observacion">
                <p class="tit-observacion">Observación:</p>
                <p>{{reporte.observacion}}</p>
              </div>
              <div class="wrap-total" *ngFor="let tot of total">
                <p class="total-p" *ngIf="tot.idReporte === reporte.idCapturaMaterial">
                  El importe total capturado dentro del periodo es de
                  <b>{{tot.totalMateriales | currency}}</b>
                  y representa el {{(tot.totalMateriales / tot.totalMaterial) * 100 | number:'1.2-2'}}% del total de materiales.
                </p>

              </div>
            </div>

            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Materiales
                  </mat-panel-title>
                  <mat-panel-description>
                    Materiales agregados al reporte de materiales
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <app-conceptos-lista [conceptos]="reporte.detMaterial" [tipoReporte]="'reporte-materiales'" (montosCaptured)="onMontosTotal($event)">
                </app-conceptos-lista>
              </mat-expansion-panel>
            </mat-accordion>

          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="wrap-loading-catalog">
        <mat-spinner [diameter]="60" *ngIf = "reporteExistente"></mat-spinner>
        <div *ngIf = "!reporteExistente">
          <h3>EL PROYECTO NO CUENTA CON REPORTES REGISTRADOS</h3>
        </div>
      </div>
    </ng-template>
  </div>

  <mat-paginator [pageSizeOptions]="[6, 12, 24, 100]"></mat-paginator>
</div>