<div fxLayout="row wrap" *ngIf="!(obraObs$ | async) as obra">
  <div fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100">
    <div class="wrap-spiner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>

<div fxLayout="row wrap" *ngIf="(obraObs$ | async) as obra">
  <form [formGroup]="reporteForm" (submit)="reportarAvance()" *ngIf="opcionesPermitidas">
    <div fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" class="container-obra">

      <div class="wrap-colapsable">
        <mat-expansion-panel [(expanded)]="panelOpenState">
          <mat-expansion-panel-header>
            <mat-panel-title class="title-obra">
              <h2>{{obra.noContrato}}</h2>
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div class="info-obra">
            <!-- <h1>{{obra.noContrato}}</h1> -->
            <p>{{obra.nombreObra}}</p>
          </div>

          <div class="info-bitacora">
            <div class="pb-1">
              <mat-form-field class="full-width">
                <textarea matInput placeholder="Título" formControlName="observacion"></textarea>
              </mat-form-field>
            </div>

            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="fechaCaptura" formControlName="fechaCaptura" name="date" placeholder="Fecha de Captura"
                  (dateChange)="onFechaInicio($event)">
                <mat-datepicker-toggle matSuffix [for]="fechaCaptura"></mat-datepicker-toggle>
                <mat-datepicker #fechaCaptura (selectedChange)="onFechaInicio($event)"></mat-datepicker>
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="reporteForm.controls['fechaCaptura'].hasError('required') && reporteForm.controls['fechaCaptura'].touched"
                  class="form-error-msg">
                  Fecha de captura es un campo requerido
                </small>
              </div>
            </div>

          </div>

        </mat-expansion-panel>

      </div>

      <div class="wrap-button">
        <button mat-raised-button color="primary" [disabled]="reporteForm.invalid" type="submit" *ngIf="catalogo.length && obra.cierre===0" class="btn-accept">Modificar</button>
        <button mat-raised-button [routerLink]="['/ejecucion-proyecto/lista-reporte-maquinaria-equipo', obra.idObra]">Cancelar</button>
      </div>

    </div>
  </form>


  <div fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" class="container-catalogo" *ngIf="opcionesPermitidas">
    <mat-form-field class="margin-333" style="width: 98%">
      <input matInput placeholder="Filtrar Conceptos" value="" (keyup)='updateFilter($event)'>
    </mat-form-field>

    <div class="mat-box-shadow margin-333" *ngIf="catalogo.length; else noconceptos">

      <ngx-datatable class="material fullscreen bg-white" style="height: 500px; overflow-y: auto;" [rows]="catalogo" [columnMode]="'force'"
        [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true" [rowHeight]="'auto'" [scrollbarH]="true" [rowHeight]="50">
        <ngx-datatable-column name="No." [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <p class="content-center" [ngStyle]="{'color':row?.extraordinario === 1 ? 'green' : 'black' }">
                {{ row?.idVehiculo }}
              </p>
            </ng-template>
          </ngx-datatable-column>

        <ngx-datatable-column name="Descripción" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <p [ngStyle]="{'color':row?.extraordinario === 1 ? 'green' : 'black' }">
              {{row?.descripcion}}
            </p>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Unidad" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <p class="content-center" [ngStyle]="{'color':row?.extraordinario === 1 ? 'green' : 'black' }">
              {{row?.unidad}}
            </p>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Cantidad" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <p class="content-center" [ngStyle]="{'color':row?.extraordinario === 1 ? 'green' : 'black' }">
              {{row?.cantidad}}
            </p>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Cantidad Total Capturada" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <p class="content-center" [ngStyle]="{'color':row?.extraordinario === 1 ? 'gray' : 'blue' }">
              {{row?.cantidadTotalCapturado}}
            </p>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Precio Unitario" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <p class="content-center" [ngStyle]="{'color':row?.extraordinario === 1 ? 'green' : 'black' }">
              {{row?.precioUnitario | transformCurrency}}
            </p>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Cantidad a Capturar" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <mat-form-field class="cantidad-seleccionada">
              <!-- <mat-label>Materiales Necesitados</mat-label> -->
              <input matInput type="number" min="0" [(ngModel)]="row.cantidadCapturada">
            </mat-form-field>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Importe" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <p class="content-center" [ngStyle]="{'color':row?.extraordinario === 1 ? 'green' : 'black' }">
              {{ row?.cantidadCapturada * row?.precioUnitario | transformCurrency }}
            </p>
          </ng-template>
        </ngx-datatable-column>

      </ngx-datatable>
    </div>

    <ng-template #noconceptos>
      <ngx-datatable class="material fullscreen bg-white" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true"
        [rowHeight]="'auto'" [scrollbarH]="true" [rowHeight]="50">
        <ngx-datatable-column name="No." [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column name="Descripción" [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column name="Unidad" [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column name="Cantidad" [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column name="Cantidad Total Capturada" [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column name="Precio Unitario" [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column name="Cantidad a Capturar" [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column name="Importe" [flexGrow]="1"></ngx-datatable-column>
      </ngx-datatable>
    </ng-template>

  </div>
</div>