<div fxLayout="row wrap" *ngIf="!obra">
  <div fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100">
    <div class="wrap-spiner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>

<div *ngIf="opcionesPermitidas">
  <mat-card fxLayout="row wrap" class="container-solitud" *ngIf="obra">
    <h3 class="title-s">Solicitud de Materiales y Herramienta</h3>
    <div class="wrap-colapsable">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title class="title-obra"><h2>{{obra.noContrato}}</h2></mat-panel-title>
        </mat-expansion-panel-header>
        
        <div class="info-obra">
          <p>{{obra.nombreObra}}</p>
        </div> 
      </mat-expansion-panel>
    </div>
    <!-- <form [formGroup]="solicitudForm" (submit)="crearSolicitud()">
      <div fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100">
        <mat-card-title class="title-solicitud">
          <h1>Solicitud de Materiales y Herramienta</h1>
          <span>Grupo Empresarial Cima</span>
          <p>Area de Compras y Almacenes</p>
        </mat-card-title>
        <mat-divider></mat-divider>

        <mat-card-content>

          <div class="data-form">
            
            <div class="wrap-logo">
              <img   class="img md mr-1" src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="empresa">
            </div>

            <div class="wrap-data-obra">
              <div class="tit">Nombre de la empresa:</div>
              <div class="desc">{{obra.nombreObra}}</div>
              <div class="tit">Obra / Proyecto:</div>
              <div class="desc">Proyecto</div>
              <div class="tit">Fecha de la Solicitud:</div>
              <div class="desc">{{fechaHoy | date}}</div> 
              <div class="tit">Fecha en que se requiere en en obra:</div>
              <div class="desc">
                <mat-form-field class="full-width">
                  <input matInput [matDatepicker]="fechaRequiere" formControlName="fechaRequiere" name="date" (dateChange)="onFechaRequiereMaterial($event)">
                  <mat-datepicker-toggle matSuffix [for]="fechaRequiere"></mat-datepicker-toggle>
                  <mat-datepicker #fechaRequiere (selectedChange)="onFechaRequiereMaterial($event)"></mat-datepicker>
                </mat-form-field>
              </div>
              <div class="tit">Lugar de recepción del material:</div>
              <div class="desc">
                <mat-form-field class="full-width">
                  <input matInput name="lugarRecepcion" formControlName="lugarRecepcion" >
                </mat-form-field>
              </div>

            </div>
          </div>

          <div class="cont-btns">
            <button #save mat-raised-button color="primary" [disabled]="solicitudForm.invalid" type="submit" class="btn-accept" *ngIf="obra.cierre===0">Crear Solicitud</button>
            <button mat-raised-button [routerLink]="'/solicitudes-suministros/obras'">Cancelar</button>
          </div>

        </mat-card-content>
      </div>
    </form> -->

    <div class="wrap-peticiones">
      <mat-expansion-panel [(expanded)]="panelOpenState">
        <mat-expansion-panel-header>
          <mat-panel-title class="title-peticion">
            Agregar Material
          </mat-panel-title>
          
        </mat-expansion-panel-header>

        <div class="pb-1">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Descripción"  [(ngModel)]="descripcionMaterial"></textarea>
          </mat-form-field>
        </div>
  
        <div class="pb-1">
          <mat-form-field class="full-width">
            <input matInput name="unidad"  placeholder="Unidad" [(ngModel)]="unidadMaterial">
          </mat-form-field>
        </div>

        <div class="pb-1">
          <mat-form-field class="full-width">
            <input matInput name="familia"  placeholder="Familia" [(ngModel)]="familiaMaterial">
          </mat-form-field>
        </div>

        <div class="pb-1">
          <mat-form-field class="full-width">
            <mat-label>Categoria</mat-label>
            <mat-select  [(ngModel)]="idCategoriaMaterial" required>
              <mat-option *ngFor="let categoria of categoriasParaMateriales" [value]="categoria.idCategoriaSolicitudMaterial">
                {{categoria.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="pb-1">
          <mat-form-field class="full-width">
            <input matInput type="number" name="cantidad-solicitada"  placeholder="Cantidad Solicitada" [(ngModel)]="cantidadMaterial">
          </mat-form-field>
        </div>
  
        <div class="cont-btns">
          <button mat-raised-button color="primary" (click)="agregarMaterialExtra()" class="btn-accept">Agregar Material</button>
        </div>
      
      </mat-expansion-panel>   
    </div>

  </mat-card>

  <!-- FILTRO -->
  <mat-form-field class="margin-333" style="width: 98.8%; margin-top: 20px !important;" *ngIf="obra">
    <input matInput placeholder="Filtrar Materiales" value="" (keyup)='updateFilter($event)'>
  </mat-form-field>
  <!-- END FILTRO -->

  <div class="mat-box-shadow margin-333" *ngIf="listaMaterial.length; else noMaterial">
    <div *ngIf= "obra">
      <!-- {{listaMaterial | json}} -->
      <ngx-datatable 
        class="material fullscreen bg-white" 
        [rows]="listaMaterial"
        [columnMode]="'force'" 
        [headerHeight]="50" 
        [footerHeight]="50" 
        [scrollbarH]="true" 
        [rowHeight]="'auto'" 
        [rowHeight]="50"
        [limit]="10"
      >
  
        <ngx-datatable-column name="Categoría" [flexGrow]="1">
          <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <p class="content-center" [ngStyle]="{'color':row?.noMaterial === 99999 ? 'green' : 'black' }" *ngIf="row?.idCategoriaSolicitudMaterial === 0">
              Materiales
            </p>
            <p class="content-center" [ngStyle]="{'color':row?.noMaterial === 99999 ? 'green' : 'black' }" *ngIf="row?.idCategoriaSolicitudMaterial !== 0">
              {{row?.categoriaSolicitudMateria.descripcion}}
              <!-- {{row?.categoriaSolicitudMaterial}} -->
            </p>
          </ng-template>
        </ngx-datatable-column>

        <!-- <ngx-datatable-column name="Categoria" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <p class="content-center" [ngStyle]="{'color':row?.noMaterial === 99999 ? 'green' : 'black' }">
              {{row?.idMaterial}}
            </p>
          </ng-template>
        </ngx-datatable-column> -->
  
        <ngx-datatable-column name="Descripción" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <p class="content-center" [ngStyle]="{'color':row?.noMaterial === 99999 ? 'green' : 'black' }">
              {{row?.descripcion}}
            </p>
          </ng-template>
        </ngx-datatable-column>
        
        
        <ngx-datatable-column name="Unidad" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <p class="content-center" [ngStyle]="{'color':row?.noMaterial === 99999 ? 'green' : 'black' }">
              {{row?.unidad}}
            </p>
          </ng-template>
        </ngx-datatable-column>
        
        <ngx-datatable-column name="Cantidad" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <mat-form-field class="cantidad-seleccionada" >
              <input 
              matInput 
              type="number" 
              [min]="0"
              [(ngModel)]="row.cantidadSolictada" />
            </mat-form-field>
          </ng-template>
        </ngx-datatable-column>
  
        <ngx-datatable-column name="Comentarios" [flexGrow]="1">
          <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <mat-form-field class="comentario">
              <textarea matInput [(ngModel)]="row.comentario"></textarea>
            </mat-form-field>
          </ng-template>
        </ngx-datatable-column>
  
  
      </ngx-datatable>
    </div>
  </div>

  <ng-template #noMaterial>
    <ngx-datatable class="material fullscreen bg-white" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true"
      [rowHeight]="'auto'" [scrollbarH]="true" [rowHeight]="50" *ngIf="obra">
      <ngx-datatable-column name="No." [flexGrow]="1"></ngx-datatable-column>
      <ngx-datatable-column name="Conceptos" [flexGrow]="1"></ngx-datatable-column>
      <ngx-datatable-column name="Unidad" [flexGrow]="1"></ngx-datatable-column>
      <ngx-datatable-column name="Cantidad" [flexGrow]="1"></ngx-datatable-column>
      <ngx-datatable-column name="Comentarios" [flexGrow]="1"></ngx-datatable-column>
    </ngx-datatable>
  </ng-template>

  <mat-card fxLayout="row wrap" class="container-solitud c-o form" *ngIf="obra">
    <mat-card-content class="observations">
      <div class="wrap-observaciones" fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100">
        <div class="fields-form">
          <div class="wrap-descripcion-solicitud">
            <div class="pb-1">
              <mat-form-field class="full-width">
                <textarea matInput placeholder="Observaciones Adicionales" [(ngModel)]="observacionesAdicionales"></textarea>
              </mat-form-field>
            </div>
          </div>
          <form [formGroup]="solicitudForm" (submit)="crearSolicitud()">
            <div class="cont-btns">
              <button #save mat-raised-button color="primary" [disabled]="solicitudForm.invalid" type="submit" class="btn-accept" *ngIf="obra.cierre===0">Crear Solicitud</button>
              <button mat-raised-button [routerLink]="'/solicitudes-suministros/obras'">Cancelar</button>
            </div>
          </form>
        </div>
      </div>
    </mat-card-content>
  </mat-card>

</div>