<!-- <mat-selection-list #list>
  <mat-list-option 
  *ngFor="let material of data"
  [selected]="material.selected" 
  (click)="agregarMateriales(list)" 
  [value]="{'idMaterial':material.idMaterial, 'idObra': material.idObra, 'cantidad': material.cantidad}"
  >
    {{material.descripcion}}
  </mat-list-option>
</mat-selection-list>
<button mat-raised-button (click)="agregarMateriales(list)">Agregar</button>  -->
<mat-form-field class="margin-333" style="width: 98%">
  <input matInput placeholder="Filtrar Conceptos" value="" (keyup)='updateFilter($event)'>
</mat-form-field>

<ngx-datatable 
  class="material fullscreen bg-white ml-0 mr-0 force" 
  style="display: flex !important;justify-content: center !important;align-items: center !important;"
  [rows]="materiales"
  [columns] = "columns"
  [columnMode]="'force'"  
  [headerHeight]="50"
  [footerHeight]="50" 
  [scrollbarH]="true"
  [rowHeight]="'auto'"
  [limit]="20"
  > 

  <ngx-datatable-column name="Descripción" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row?.descripcion }}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Cantidad Disponible" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row?.cantidadDisponible }} / {{row?.cantidadOriginal}}
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Cantidad Seleccionada" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
        <mat-form-field class="cantidad-seleccionada">
          <!-- <mat-label>Materiales Necesitados</mat-label> -->
          <input matInput type="number" [(ngModel)] = "row.cantidadSeleccionada">
        </mat-form-field>
    </ng-template>
  </ngx-datatable-column>

  <ngx-datatable-column name="Cantidad Total" [flexGrow]="1">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{ row?.cantidadSeleccionada * cantidadConcepto  }} 
    </ng-template>
  </ngx-datatable-column>
  
</ngx-datatable>

<div class="wrap-button">
  <button mat-raised-button color="primary" (click)="agregarMateriales(data)">Registrar</button>
</div>