<mat-card class="p-0">
  <mat-tab-group>
    <mat-tab label="Modificar Información">
      <mat-card-content class="mt-1">
        <form [formGroup]="updateUserForm" (submit)="updateUser()">
          <div fxLayout="row wrap">

            <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1 wrap-form-1">
              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input matInput name="nombre" formControlName="nombre" placeholder="Nombre(s)">
                </mat-form-field>
                <div class="validaciones">
                  <small *ngIf="updateUserForm.controls['nombre'].hasError('required') && updateUserForm.controls['nombre'].touched" class="form-error-msg">
                    Nombre es un campo requerido
                  </small>
                </div>
              </div>

              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input matInput name="apellidoPaterno" formControlName="apellidoPaterno" placeholder="Apellido Paterno">
                </mat-form-field>
                <div class="validaciones">
                  <small *ngIf="updateUserForm.controls['apellidoPaterno'].hasError('required') && updateUserForm.controls['apellidoPaterno'].touched"
                    class="form-error-msg">
                    Apellido Paterno es un campo requerido
                  </small>
                </div>
              </div>

              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input matInput name="apellidoMaterno" formControlName="apellidoMaterno" placeholder="Apellido Materno">
                </mat-form-field>
                <div class="validaciones">
                  <small *ngIf="updateUserForm.controls['apellidoMaterno'].hasError('required') && updateUserForm.controls['apellidoMaterno'].touched"
                    class="form-error-msg">
                    Apellido Materno es un campo requerido
                  </small>
                </div>
              </div>

              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input matInput name="telefono" formControlName="telefono" placeholder="Teléfono">
                </mat-form-field>
                <div class="validaciones">
                  <small *ngIf="updateUserForm.controls['telefono'].hasError('required') && updateUserForm.controls['telefono'].touched" class="form-error-msg">
                    Número de teléfono invalido
                  </small>
                </div>
              </div>

              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input matInput name="direccion" formControlName="direccion" placeholder="Dirección">
                </mat-form-field>
                <div class="validaciones">
                  <small *ngIf="updateUserForm.controls['direccion'].hasError('direccion') && updateUserForm.controls['direccion'].touched"
                    class="form-error-msg">
                    Dirección es un campo requerido
                  </small>
                </div>
              </div>

              <div class="pb-1">
                <mat-form-field class="full-width">
                  <input matInput [matDatepicker]="fechaNacimiento" formControlName="fechaNacimiento" name="date" placeholder="Fecha Nacimiento"
                    (dateChange)="onFechaNacimiento($event)">
                  <mat-datepicker-toggle matSuffix [for]="fechaNacimiento" (selectedChange)="onFechaNacimiento($event)"></mat-datepicker-toggle>
                </mat-form-field>
                <mat-datepicker #fechaNacimiento></mat-datepicker>
                <div class="validaciones"></div>
              </div>

            </div>

          </div>

          <div class="cont-btns">
            <button mat-raised-button color="primary" [disabled]="updateUserForm.invalid" type="submit">Modificar</button>
          </div>
        </form>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Foto de Perfil">
      <mat-card-content>
        <div class="mb-1 mt-1">
          <p>Upload a profile picture</p>
          <input type="file" ng2FileSelect [uploader]="uploader" />
        </div>

        <div class="mb-1">
          <div ng2FileDrop [ngClass]="{'dz-file-over': hasBaseDropZoneOver}" [uploader]="uploader" (fileOver)="fileOverBase($event)"
            class="fileupload-drop-zone">
            Drop png/jpeg file here
          </div>
        </div>
        <table class="default-table mat-box-shadow" style="width: 100%">
          <thead>
            <tr>
              <th width="30%">Name</th>
              <th>Size</th>
              <th>Progress</th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody *ngIf="uploader.queue.length; else tableNoData">
            <tr *ngFor="let item of uploader.queue">
              <td>{{ item?.file?.name }}</td>
              <td nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
              <td>
                <div class="progress" style="margin-bottom: 0;">
                  <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                  <mat-progress-bar class="" color="primary" mode="determinate" [value]="item.progress">
                  </mat-progress-bar>
                </div>
              </td>
              <td class="">
                <mat-icon *ngIf="item.isSuccess">check</mat-icon>
                <mat-icon *ngIf="item.isCancel" color="accent">cancel</mat-icon>
                <mat-icon *ngIf="item.isError" color="warn">error</mat-icon>
              </td>
              <td nowrap>
                <button mat-raised-button class="mat-primary" (click)="item.upload()" [disabled]="item.isReady || item.isUploading || item.isSuccess">Upload</button>
                <button mat-raised-button class="mat-accent" (click)="item.cancel()" [disabled]="!item.isUploading">Cancel</button>

                <button mat-raised-button class="mat-warn" (click)="item.remove()">Remove</button>
              </td>
            </tr>
          </tbody>
          <ng-template #tableNoData>
            <p [ngStyle]="{padding: '0 1.2rem'}">Queue is empty</p>
          </ng-template>
        </table>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>