<div *ngIf="(catalogoConceptosObs$ | async) as catalogo">

  <div *ngIf="catalogo.length; else cargarCatalogo">
    <div class="div" *ngIf="catalogo">
      <!-- <mat-form-field class="margin-333" style="width: 100%">
        <input matInput placeholder="Filtrar Conceptos" value="" (keyup)='updateFilter($event)'>
      </mat-form-field> -->
      <div class="wrap-button">
          <button mat-raised-button color="warn" (click)="eliminarCatalogo()">Eliminar Catálogo</button>
        <button mat-raised-button color="primary" (click)="openBottomExtraordinario()">Extraordinario</button>
      </div>
        
      <div class="mat-box-shadow margin-333">
        <ngx-datatable 
        class="material fullscreen bg-white"
        [rows]="catalogo"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [scrollbarH]="true"
        [rowHeight]="'auto'"
        [limit]="20"
        [scrollbarH]="true"
        [rowHeight]="50">
          
          <ngx-datatable-column name="No." [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row?.noConcepto }}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Descripción" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row?.descripcion}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Unidad" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row?.unidad}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Cantidad" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row?.cantidad}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Precio Unitario" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row?.precioUnitario | currency}}
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Importe" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              {{row?.importe | currency}}
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
      </div>
    </div>
  </div>
  
  <ng-template #cargarCatalogo>
    <div class="mb-1">
      <input style="visibility: hidden;" type="file" #fileInput ng2FileSelect [uploader]="uploaderCatalogo" />
      <div ng2FileDrop (click)="fileInput.click()" [ngClass]="{'dz-file-over': hasBaseDropZoneOver}" [uploader]="uploaderCatalogo"
        (fileOver)="fileOverBase($event)" class="fileupload-drop-zone-logo-div">
        <p>Catálogo de Conceptos</p>
        <p>Arrastra o click sobre la imagen o zona punteada</p>
    
        <div *ngIf="uploaderCatalogo.queue.length; else tableNoData">
          <div *ngFor="let item of uploaderCatalogo.queue ">
            <div *ngIf="!item.isSuccess" class="progress" style="margin-bottom: 0;">
              <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
              <mat-progress-bar class="" color="primary" mode="determinate" [value]="item.progress">
              </mat-progress-bar>
            </div>
          </div>
        </div>
    
        <div *ngIf="loadingFile">
          <div class="wrap-loading-catalog">
            <mat-spinner [diameter]="40"></mat-spinner>
          </div>
        </div>
    
        <div class="wrap-catalog-list" *ngIf="listaConceptos">
          <div class="icon-excel-status">
            <!-- <img *ngIf="listaConceptos" class="fileupload-drop-zone-logo" src="http://{{host}}/{{rutaImg}}/files/{{obra.supervisor.imagen}}" alt=""> -->
            <img class="fileupload-drop-zone-logo" src="https://image.flaticon.com/icons/png/512/303/303850.png" alt="">
          </div>
          <div class="message">
            <p>Nombre del archivo subido</p>
          </div>
        </div>
      </div>
    </div>

  </ng-template>
  
  
</div>
