<div class="mb-1">
  <input style="visibility: hidden;" type="file" #fileInput ng2FileSelect [uploader]="uploaderCatalogo" />
  <div ng2FileDrop (click)="fileInput.click()" [ngClass]="{'dz-file-over': hasBaseDropZoneOver}" [uploader]="uploaderCatalogo"
    (fileOver)="fileOverBase($event)" class="fileupload-drop-zone-logo-div">
    <p>Catálogo de Conceptos</p>
    <p>Arrastra o click sobre la imagen o zona punteada</p>

    <div *ngIf="uploaderCatalogo.queue.length; else tableNoData">
      <div *ngFor="let item of uploaderCatalogo.queue ">
        <div *ngIf="!item.isSuccess" class="progress" style="margin-bottom: 0;">
          <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
          <mat-progress-bar class="" color="primary" mode="determinate" [value]="item.progress">
          </mat-progress-bar>
        </div>
      </div>
    </div>

    <div *ngIf="!obra">
      <div class="wrap-loading-catalog">
        <mat-spinner [diameter]="40"></mat-spinner>
      </div>
    </div>

    <img *ngIf="obra" class="fileupload-drop-zone-logo" src="http://{{host}}/{{rutaImg}}/files/{{obra.supervisor.imagen}}" alt="">
  </div>
</div>

<mat-card>
  <div class="mb-1">
    <div class="container-table-conceptos">

      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
        <ng-container matColumnDef="numero">
          <th mat-header-cell *matHeaderCellDef> No. </th>
          <td mat-cell *matCellDef="let concepto"> {{concepto.numero}} </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Descripcion </th>
          <td mat-cell *matCellDef="let concepto"> {{concepto.descripcion}} </td>
        </ng-container>

        <ng-container matColumnDef="unidad">
          <th mat-header-cell *matHeaderCellDef> Unidad </th>
          <td mat-cell *matCellDef="let concepto"> {{concepto.unidad}} </td>
        </ng-container>

        <ng-container matColumnDef="cantidad">
          <th mat-header-cell *matHeaderCellDef> Cantidad </th>
          <td mat-cell *matCellDef="let concepto"> {{concepto.cantidad}} </td>
        </ng-container>

        <ng-container matColumnDef="precioUnitario">
          <th mat-header-cell *matHeaderCellDef> Precio Unitario </th>
          <td mat-cell *matCellDef="let concepto"> {{concepto.precioUnitario}} </td>
        </ng-container>

        <ng-container matColumnDef="importe">
          <th mat-header-cell *matHeaderCellDef> Importe </th>
          <td mat-cell *matCellDef="let concepto"> {{concepto.importe}} </td>
        </ng-container>

        <!-- <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> Actions </th>
          <td mat-cell *matCellDef="let product">
            <a mat-button [routerLink]="['edit', product.id]">Update</a>
            <button (click)="deleteProduct(product.id)" mat-raised-button color="warn">Delete</button>
          </td>
        </ng-container> -->

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons></mat-paginator>

    </div>
  </div>
</mat-card>