<ul class="list-concepts">
  <li *ngFor="let concepto of conceptosSeleccionados">
    <p *ngIf = "tipoReporte === 'plan-trabajo' || tipoReporte === 'reporte-ejecutados'"><b>No. Concepto:</b> {{concepto.noConcepto}}</p>
    <p  *ngIf = "tipoReporte === 'reporte-subcontrato'"><b>No. Concepto:</b> {{concepto.noSubcontrato}}</p>
    <p><b>Descripción:</b> {{concepto.descripcion}}</p>
    <p *ngIf = "tipoReporte === 'plan-trabajo'"><b>Cantidad Planeada:</b> {{concepto.cantidadPlaneada}}</p>
    <p *ngIf = "tipoReporte === 'reporte-ejecutados'"><b>Cantidad Ejecutada:</b> {{concepto.cantidadEjecutada}}</p>
    <p *ngIf = "tipoReporte === 'reporte-subcontrato'"><b>Cantidad Subcontrato:</b> {{concepto.cantidadSubContrato}}</p>
    <p *ngIf = "tipoReporte === 'reporte-mano-obra'"><b>Cantidad Capturada:</b> {{concepto.cantidadCapturada}}</p>
    <p *ngIf = "tipoReporte === 'plan-trabajo'"><b>Importe Planeado:</b> {{concepto.importePlaneado |currency}}</p>
    <p *ngIf = "tipoReporte === 'reporte-ejecutados'"><b>Importe Ejecutado:</b> {{concepto.importeEjecutado |currency}}</p>
    <p *ngIf = "tipoReporte === 'reporte-subcontrato'"><b>Importe Subcontrato:</b> {{concepto.importeSubContrato |currency}}</p>
    <p *ngIf = "tipoReporte === 'reporte-mano-obra'"><b>Importe Capturado:</b> {{concepto.importeCapturado |currency}}</p>
    <!-- {{concepto | json}} -->
    <div class="wrap-buttons-evidence">
      <button 
      mat-mini-fab color="primary" 
      *ngIf="conceptoEvidencias !== concepto.idConcepto && tipoReporte === 'reporte-ejecutados'" 
      (click)="showEvidences(concepto.idConcepto)" 
      matTooltip="Ver Evidencias" 
      matTooltipPosition="left">
        <mat-icon>panorama </mat-icon>
      </button>
      <button 
      mat-mini-fab color="primary" 
      *ngIf="conceptoEvidencias === concepto.idConcepto && tipoReporte === 'reporte-ejecutados'" 
      (click)="hiddenEvidences()" 
      matTooltip="Ocultar Evidencias" 
      matTooltipPosition="left" >
        <mat-icon>visibility_off </mat-icon>
      </button>

      <button 
      mat-mini-fab color="primary" 
      *ngIf="conceptoEvidencias !== concepto.idSubcontrato && tipoReporte === 'reporte-subcontrato'" 
      (click)="showEvidences(concepto.idSubcontrato)" 
      matTooltip="Ver Evidencias" 
      matTooltipPosition="left">
        <mat-icon>panorama </mat-icon>
      </button>
      <button 
      mat-mini-fab color="primary" 
      *ngIf="conceptoEvidencias === concepto.idSubcontrato && tipoReporte === 'reporte-subcontrato'" 
      (click)="hiddenEvidences()" 
      matTooltip="Ocultar Evidencias" 
      matTooltipPosition="left" >
        <mat-icon>visibility_off </mat-icon>
      </button>
    </div>

    <div class="mb-1 container-evidence" *ngIf="conceptoEvidencias === concepto.idConcepto || conceptoEvidencias === concepto.idSubcontrato">
      <app-gallery [listaEvidencias] = "listaEvidencias" (deleteEvidenceClicked)="onDeleteEvidence($event)"></app-gallery>
    </div>

  </li>
</ul>
