.list-concepts li{
  border-bottom: 1px solid lightgrey;
  margin-bottom: 15px;
}

.list-concepts li p{
  margin: 0 0 10px;
}

.wrap-cantidad-total{
  text-align: right;
  margin: 20px 10px;
  color: #4caf50;
}

.wrap-buttons-evidence{
  text-align: right;
  margin: 0 0 10px 0;
}