<ul class="list-concepts">
  <li *ngFor="let concepto of conceptosSeleccionados">
    <p *ngIf = "tipoReporte === 'plan-trabajo' || tipoReporte === 'reporte-ejecutados'"><b>No. Concepto:</b> {{concepto.noConcepto}}</p>
    <p  *ngIf = "tipoReporte === 'reporte-subcontrato'"><b>No. Concepto:</b> {{concepto.noSubcontrato}}</p>
    <p><b>Descripción:</b> {{concepto.descripcion}}</p>
    <p *ngIf = "tipoReporte === 'plan-trabajo'"><b>Cantidad Planeada:</b> {{concepto.cantidadPlaneada}}</p>
    <p *ngIf = "tipoReporte === 'reporte-ejecutados'"><b>Cantidad Ejecutada:</b> {{concepto.cantidadEjecutada}}</p>
    <p *ngIf = "tipoReporte === 'reporte-subcontrato'"><b>Cantidad Subcontrato:</b> {{concepto.cantidadSubContrato}}</p>
    <p *ngIf = "tipoReporte === 'plan-trabajo'"><b>Importe Planeado:</b> {{concepto.importePlaneado |currency}}</p>
    <p *ngIf = "tipoReporte === 'reporte-ejecutados'"><b>Importe Ejecutado:</b> {{concepto.importeEjecutado |currency}}</p>
    <p *ngIf = "tipoReporte === 'reporte-subcontrato'"><b>Importe Subcontrato:</b> {{concepto.importeSubContrato |currency}}</p>
  </li>
</ul>
<div class="wrap-cantidad-total">
  <p *ngIf = "tipoReporte === 'plan-trabajo'">El importe total planeado de los conceptos agregados al plan de trabajo es de <b>{{montoImporteConceptosSeleccionados | currency}}</b> </p>
  <p *ngIf = "tipoReporte === 'reporte-ejecutados'">El importe total ejecutado de los conceptos agregados al reporte es de <b>{{montoImporteConceptosSeleccionados | currency}}</b> </p>
  <p *ngIf = "tipoReporte === 'reporte-subcontrato'">El importe total  de los conceptos agregados al reporte de subcontrato es de <b>{{montoImporteConceptosSeleccionados | currency}}</b> </p>
</div>