.wrap-datos-obra{
  h3{
    text-align: center;
    text-transform: uppercase;
    color: #4caf50;
    font-weight: 500;
    margin-bottom: 2px;
  }
  span{
    text-align: center;
    display: inherit;
    color: gray;
    text-transform: uppercase;
    font-size: 12px;
  }
  .col-obra{
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-gap: 5px;
    margin: 5px 10px;
    align-items: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    .logo{
      text-align: center;
      img{
        width: 80%;
        vertical-align: bottom;
      }
    }
    .nombre{
      p{
        margin: 0;
        line-height: 15px;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }
}

.wrap-datos-solicitud{
  padding: 10px;
  .inf{
    margin-bottom: 5px;
    color: gray;
    span{
      color: #4caf50;
    }
  }
  .col-descripcion{
    margin-top: 10px;
    p{
      margin-bottom: 5px;
      color: gray;
    }
    .desc{
      // border: 1px solid lightgray;
      padding: 10px;
      span{
        color: #4caf50;
      }
    }
  }
}

.wrap-materiales{
  margin: 0 10px;
  .title{
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    color: #4caf50;
    margin-bottom: 10px;
  }
  .material{
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-gap: 5px;
    padding: 10px;
    align-items: center;
    font-weight: 400;
    border-radius: 5px 5px 0 0;
    margin-bottom: 0px;
    &:nth-child(even){
      background: ghostwhite;
    }
    &:nth-child(odd){
      background: honeydew;
    }
    .tit{
      color: darkorange;
      font-size: 12px;
    }
    .desc{
      color: mediumseagreen;
      font-size: 12px;
    }
  }
  .info-extra {
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-gap: 5px;
    padding: 0 10px 10px 10px;
    align-items: center;
    font-weight: 400;
    border-radius: 0 0 5px 5px;
    margin-bottom: 5px;
    &:nth-child(even){
      background: honeydew;
    }
    &:nth-child(odd){
      background: ghostwhite;
    }
    .tit{
      color: darkorange;
      font-size: 12px;
    }
    .desc{
      color: mediumseagreen;
      font-size: 12px;
    }
  }
  .material-ot{
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-gap: 5px;
    padding: 10px;
    align-items: center;
    font-weight: 400;
    border-radius: 5px;
    margin-bottom: 5px;
    &:nth-child(even){
      background: ghostwhite;
    }
    &:nth-child(odd){
      background: honeydew;
    }
    .tit{
      color: darkorange;
      font-size: 12px;
    }
    .desc{
      color: mediumseagreen;
      font-size: 12px;
    }
  }
}

.wrap-buttons{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 20px auto 0;
}