<div *ngIf="ordenTrabajo">
  <div class="wrap-datos-logo">
    <div class="col-logo">
      <div class="logo">
        <app-loading-image [url]="imgEmpresa"></app-loading-image>
      </div>
    </div>
    <div class="col-titulo">
      <h2>
        Orden de Trabajo
        <b *ngIf="ordenTrabajo.idTipo===1"> RECURSOS</b>
        <b *ngIf="ordenTrabajo.idTipo===2"> MATERIALES / HERRAMIENTAS</b>
        <b *ngIf="ordenTrabajo.idTipo===3"> MAQUINARIA / EQUIPO</b>
      </h2>
      <!-- <span>Grupo Empresasial CIMA</span> -->
    </div>
<!-- 
    <div class="col-obra">
    
      <div class="nombre">
        <p>{{ordenTrabajo.solicitud.obra.nombreObra}}</p>
      </div>
    </div> -->
  </div>

  <div class="wrap-solicitante">
    <p><b>SOLICITANTE:</b> {{ordenTrabajo.solicitud.usuarioSolicito.nombre}} {{ordenTrabajo.solicitud.usuarioSolicito.apellidoPaterno}} {{ordenTrabajo.solicitud.usuarioSolicito.apellidoMaterno}} </p>
    <p><b>FOLIO:</b> REC{{ordenTrabajo.idSolicitud}} </p>
    <p><b>FECHA SOLICITUD:</b> {{ordenTrabajo.solicitud.fechaSolicito | date}} </p>
    <p ><b>REALIZA OT:</b> {{ordenTrabajo.usuarioElaboro.nombre}} {{ordenTrabajo.usuarioElaboro.apellidoPaterno}} {{ordenTrabajo.usuarioElaboro.apellidoMaterno}} </p>
    <p *ngIf="ordenTrabajo.idTipo===1"><b>FOLIO:</b> OT REC{{ordenTrabajo.folio}} </p>
    <p *ngIf="ordenTrabajo.idTipo===2"><b>FOLIO:</b> OT {{ordenTrabajo.folio}} </p>
    <p *ngIf="ordenTrabajo.idTipo===3"><b>FOLIO:</b> OT {{ordenTrabajo.folio}} </p>
    <p><b>FECHA ELABORO:</b> {{ordenTrabajo.fechaElaboro | date}} </p>
    <!-- <p *ngIf="ordenTrabajo.idTipo===2"><b>LUGAR DONDE SE ENTREGA:</b> {{ordenTrabajo.solicitud.lugarRecepcion}}  </p>
    <p *ngIf="ordenTrabajo.idTipo===2"><b>FECHA EN LA QUE SE REQUIERE:</b> {{ordenTrabajo.solicitud.fechaRequiere | date}}  </p>
    <p *ngIf="ordenTrabajo.idTipo===3"><b>LUGAR DONDE SE REQUIERE:</b> {{ordenTrabajo.solicitud.lugar}}  </p>
    <p *ngIf="ordenTrabajo.idTipo===3"><b>PERIODO DE USO DEL EQUIPO:</b> {{ordenTrabajo.solicitud.fechaInicialUso | date}} al {{ordenTrabajo.solicitud.fechaFinalUso | date}}  </p> -->
  </div>

  <div class="wrap-obra">
    <div class="title-section">Datos Generales</div>
    <div class="data-obra">
      <div class="tit">Empresa: </div>
      <div class="inf">{{ordenTrabajo.solicitud.obra.empresa.descripcion}}</div>
      <div class="tit">Cliente: </div>
      <div class="inf">{{ordenTrabajo.solicitud.obra.empresa.descripcion}}</div>
      <div class="tit">Número de Contrato: </div>
      <div class="inf especial">
        {{ordenTrabajo.solicitud.obra.noContrato}}
        <div class="tit">Número de Licitación:</div>
        <div class="inf">{{ordenTrabajo.solicitud.obra.noLicitacion}}</div>
      </div>
      <div class="tit">Nombre Obra: </div>
      <div class="inf">{{ordenTrabajo.solicitud.obra.nombreObra}}</div>
      <div class="tit">Lugar: </div>
      <div class="inf">{{ordenTrabajo.solicitud.obra.lugarTrabajo}}</div>
    </div>
  </div>

  <div class="wrap-materiales" *ngIf="ordenTrabajo.idTipo===1">
    <p class="title">Desglose Solicitud</p>
    <div class="col-solicitud">
      <div class="material titulo">
        <div class="tit-col">No.</div>
        <div class="tit-col">Categoría</div>
        <div class="tit-col">Desglose</div>
        <div class="tit-col">Solicitado con Factura</div>
        <div class="tit-col">Solicitado sin Factura</div>
        <div class="tit-col" *ngIf="data.tipoAccion === 'verOrdenP'">Autorizado con Factura</div>
        <div class="tit-col" *ngIf="data.tipoAccion === 'verOrdenP'">Autorizado sin Factura</div>
        <div class="tit-col" *ngIf="data.tipoAccion !== 'verOrdenP'">Validado con Factura</div>
        <div class="tit-col" *ngIf="data.tipoAccion !== 'verOrdenP'">Validado sin Factura</div>
        <div class="tit-col">Comentarios</div>
      </div>
      <div class="material" *ngFor="let peticion of detallesOrdenTrabajoRecursos; let i = index">
        <div class="desc">{{i+1}}</div>
        <div class="desc categoria">{{peticion.categoria.descripcion}}</div>
        <div class="desc">{{peticion.desglose}}</div>
        <div class="desc">{{peticion.importeSolicitadoConFactura | transformCurrency}}</div>
        <div class="desc">{{peticion.importeSolicitadoSinFactura | transformCurrency}}</div>
        <div class="desc">{{peticion.importeValidadoConFactura | transformCurrency}}</div>
        <div class="desc">{{peticion.importeValidadoSinFactura | transformCurrency}}</div>
        <div class="desc">{{peticion.comentarioRevision}}</div>
      </div>
      <div class="material totales">
        <div></div>
        <div></div>
        <div><b>Totales</b></div>
        <div>{{totalSolicitadoConFactura | transformCurrency}}</div>
        <div>{{totalSolicitadoSinFactura | transformCurrency}}</div>
        <div>{{totalValidadoConFactura | transformCurrency}}</div>
        <div>{{totalValidadoSinFactura | transformCurrency}}</div>
        <div></div>
      </div>
    </div>
  </div>

  <div class="wrap-materiales" *ngIf="ordenTrabajo.idTipo===2 && detallesOrdenTrabajoMateriales.length">
    <p class="title">Desglose Solicitud</p>
    <div class="col-solicitud">
      <div class="cmaterial titulo">
        <div class="tit-col">No.</div>
        <div class="tit-col">Descripción Material</div>
        <div class="tit-col">Proveedor</div>
        <div class="tit-col">Unidad</div>
        <div class="tit-col">Cantidad Solicitada</div>
        <div class="tit-col">Cantidad Suministrada</div>
        <div class="tit-col">Precio</div>
        <div class="tit-col">Importe</div>
      </div>
      <div class="cmaterial" *ngFor="let material of detallesOrdenTrabajoMateriales; let i = index">
        <div class="desc" *ngIf="material.cantidadSuministrto > 0">{{i+1}}</div>
        <div class="desc" *ngIf="material.cantidadSuministrto > 0">{{material.descripcion}}</div>
        <div class="desc" *ngIf="material.cantidadSuministrto > 0">{{material.proveedor}}</div>
        <div class="desc" *ngIf="material.cantidadSuministrto > 0">{{material.unidad}}</div>
        <div class="desc" *ngIf="material.cantidadSuministrto > 0">{{material.cantidad}}</div>
        <div class="desc" *ngIf="material.cantidadSuministrto > 0">{{material.cantidadSuministrto}}</div>
        <div class="desc" *ngIf="material.cantidadSuministrto > 0">{{material.precioUnitario | transformCurrency}}</div>
        <div class="desc" *ngIf="material.cantidadSuministrto > 0">{{material.importe | transformCurrency}}</div>
      </div>
      <div class="cmaterial totales">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div><b>Total Importe</b></div>
        <div>{{totalImporteMateriales | transformCurrency}}</div>
      </div>
    </div>
  </div>

  <div class="wrap-materiales" *ngIf="ordenTrabajo.idTipo===3">
    <p class="title">Desglose Solicitud</p>
    <div class="col-solicitud">
      <div class="mmaterial titulo">
        <div class="tit-col">No.</div>
        <div class="tit-col">Categoría</div>
        <div class="tit-col">Descripción</div>
        <div class="tit-col">Tipo de Servicio</div>
        <div class="tit-col">Unidad</div>
        <div class="tit-col">Cantidad Solicitada</div>
        <div class="tit-col">Cantidad Suministrada</div>
        <div class="tit-col">Precio</div>
        <div class="tit-col">Importe</div>
      </div>
      <div class="mmaterial" *ngFor="let peticion of detallesOrdenTrabajoVehiculos; let i = index">
        <div class="desc">{{i+1}}</div>
        <div class="desc categoria">{{peticion.categoria.descripcion || "-"}}</div>
        <div class="desc">{{peticion.descripcion}}</div>
        <div class="desc">{{peticion.tipoServicio || "-"}}</div>
        <div class="desc">{{peticion.unidad}}</div>
        <div class="desc">{{peticion.cantidad}}</div>
        <div class="desc">{{peticion.cantidadSuministrto}}</div>
        <div class="desc">{{peticion.precioUnitario | transformCurrency}}</div>
        <div class="desc">{{peticion.importe | transformCurrency}}</div>
      </div>
      <div class="mmaterial totales">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div><b>Total Importe</b></div>
        <div>{{totalImporteMaquinaria | transformCurrency}}</div>
      </div>
    </div>
  </div>
  
  <!-- <div class="wrap-datos-solicitud" *ngIf="ordenTrabajo.idTipo===1">
    <p class="inf">No. Folio: <span>{{ordenTrabajo.solicitud.serieFolio}}-{{ordenTrabajo.solicitud.idSolicitudRecurso}}</span></p> 
    <p class="inf">Realiza OT: <span>{{ordenTrabajo.usuarioElaboro.nombre}} {{ordenTrabajo.usuarioElaboro.apellidoPaterno}} {{ordenTrabajo.usuarioElaboro.apellidoMaterno}}</span></p> 
    <p class="inf">Fecha Generación OT: <span>{{ordenTrabajo.fechaElaboro | date}}</span></p>  
    <p class="inf">Fecha Solicitud: <span>{{ordenTrabajo.solicitud.fechaSolicito | date}}</span></p>  
    <p class="inf">Beneficiario: <span>{{ordenTrabajo.solicitud.usuarioSolicito.nombre}} {{ordenTrabajo.solicitud.usuarioSolicito.apellidoPaterno}} {{ordenTrabajo.solicitud.usuarioSolicito.apellidoMaterno}}</span></p> 
    <div class="col-descripcion">
      <p>Observaciones Solicitud:</p>
      <div class="desc">
        <span>{{ordenTrabajo.solicitud.observacionesAdicionales}}</span>
      </div>
    </div>
    <div class="col-descripcion" *ngIf="ordenTrabajo.observacion">
      <p>Observaciones Orden de Trabajo:</p>
      <div class="desc">
        <span>{{ordenTrabajo.observacion}}</span>
      </div>
    </div>
    <div class="col-descripcion" *ngIf="ordenTrabajo.observacionAutorizacion && data.tipoAccion === 'suministrar' ">
      <p>Observaciones Autorización Orden de Trabajo:</p>
      <div class="desc">
        <span>{{ordenTrabajo.observacionAutorizacion}}</span>
      </div>
    </div>
  </div>
   -->
  
   <!-- <div class="wrap-materiales" *ngIf="ordenTrabajo.idTipo===1" >
    <p class="title">Lista Peticiones</p>
    <div class="material-ot" *ngFor="let peticion of detallesOrdenTrabajoRecursos">
      <div class="tit">Tipo de Movimiento:</div>
      <div class="desc" *ngIf="peticion.tipoMovimiento">{{peticion.tipoMovimiento.descripcion}}</div>
      <div class="tit">Categoria:</div>
      <div class="desc" *ngIf="peticion.categoria">{{peticion.categoria.descripcion}}</div>
      <div class="tit">Desglose:</div>
      <div class="desc">{{peticion.desglose}}</div>
      <div class="tit">Importe Solicitado sin Factura:</div>
      <div class="desc">{{peticion.importeSolicitadoSinFactura | transformCurrency}}</div>
      <div class="tit">Importe Solicitado con Factura:</div>
      <div class="desc">{{peticion.importeSolicitadoConFactura | transformCurrency}}</div>
      <div class="tit" *ngIf="peticion.comentarioSolicitud">Comentario de la Solicitud:</div>
      <div class="desc" *ngIf="peticion.comentarioSolicitud">{{peticion.comentarioSolicitud}}</div>
      <div class="tit">Importe Validado sin Factura:</div>
      <div class="desc">{{peticion.importeValidadoSinFactura | transformCurrency}}</div>
      <div class="tit">Importe Validado con Factura:</div>
      <div class="desc">{{peticion.importeValidadoConFactura | transformCurrency}}</div>
      <div class="tit" *ngIf="peticion.comentarioRevision">Comentario de la Revisión:</div>
      <div class="desc" *ngIf="peticion.comentarioRevision">{{peticion.comentarioRevision}}</div>
    </div>
  </div> -->
  
  <!-- <div class="wrap-datos-solicitud" *ngIf="ordenTrabajo.idTipo===2">
    <p class="inf">No. Folio: <span>MAT-{{ordenTrabajo.idSolicitud}}</span></p> 
    <p class="inf">Realiza OT: <span>{{ordenTrabajo.usuarioElaboro.nombre}} {{ordenTrabajo.usuarioElaboro.apellidoPaterno}} {{ordenTrabajo.usuarioElaboro.apellidoMaterno}}</span></p> 
    <p class="inf">Fecha Generación OT: <span>{{ordenTrabajo.fechaElaboro | date}}</span></p> 
    <p class="inf">Fecha Solicitud: <span>{{ordenTrabajo.solicitud.fechaSolicito | date}}</span></p>
    <p class="inf">Fecha Requiere en Obra: <span>{{ordenTrabajo.solicitud.fechaRequiere | date}}</span></p>
    <p class="inf">Lugar de Recepción del Material: <span>{{ordenTrabajo.solicitud.lugarRecepcion}}</span></p>
    <p class="inf">Beneficiario <span>{{ordenTrabajo.solicitud.usuarioSolicito.nombre}} {{ordenTrabajo.solicitud.usuarioSolicito.apellidoPaterno}} {{ordenTrabajo.solicitud.usuarioSolicito.apellidoMaterno}}</span></p> 

    <div class="col-descripcion">
      <p>Observaciones Solicitud:</p>
      <div class="desc">
        <span>{{ordenTrabajo.solicitud.observacionesAdicionales}}</span>
      </div>
    </div>
    <div class="col-descripcion" *ngIf="ordenTrabajo.observacion">
      <p>Observaciones Orden de Trabajo:</p>
      <div class="desc">
        <span>{{ordenTrabajo.observacion}}</span>
      </div>
    </div>
    <div class="col-descripcion" *ngIf="ordenTrabajo.observacionAutorizacion && data.tipoAccion === 'suministrar' ">
      <p>Observaciones Autorización Orden de Trabajo:</p>
      <div class="desc">
        <span>{{ordenTrabajo.observacionAutorizacion}}</span>
      </div>
    </div>
  </div> -->
    
  <!-- <div class="wrap-materiales" *ngIf="ordenTrabajo.idTipo===2">
    <p class="title">Lista Materiales</p>
    <div class="material-ot" *ngFor="let material of detallesOrdenTrabajoMateriales">
      <div class="tit">Descripción:</div>
      <div class="desc">{{material.descripcion}}</div>
      <div class="tit">Proveedor:</div>
      <div class="desc">{{material.proveedor}}</div>
      <div class="tit">Unidad:</div>
      <div class="desc">{{material.unidad}}</div>
      <div class="tit">Cantidad:</div>
      <div class="desc">{{material.cantidad}}</div>
      <div class="tit" *ngIf="material.comentario">Observación</div>
      <div class="desc" *ngIf="material.comentario">{{material.comentario}}</div>
      <div class="tit">Precio:</div>
      <div class="desc">{{material.precioUnitario | transformCurrency}}</div>
      <div class="tit">Importe:</div>
      <div class="desc">{{material.importe | transformCurrency}}</div>
    </div>
  </div> -->
    
  <!-- <div class="wrap-datos-solicitud" *ngIf="ordenTrabajo.idTipo===3">
    <p class="inf">No. Folio: <span>{{ordenTrabajo.solicitud.serieFolio}}-{{ordenTrabajo.idSolicitud}}</span></p> 
    <p class="inf">Realiza OT: <span>{{ordenTrabajo.usuarioElaboro.nombre}} {{ordenTrabajo.usuarioElaboro.apellidoPaterno}} {{ordenTrabajo.usuarioElaboro.apellidoMaterno}}</span></p> 
    <p class="inf">Fecha Generación OT: <span>{{ordenTrabajo.fechaElaboro | date}}</span></p>  
    <p class="inf">Fecha Solicitud: <span>{{ordenTrabajo.solicitud.fechaSolicitud | date}}</span></p>  
    <p class="inf">Beneficiario: <span>{{ordenTrabajo.solicitud.usuarioSolicito.nombre}} {{ordenTrabajo.solicitud.usuarioSolicito.apellidoPaterno}} {{ordenTrabajo.solicitud.usuarioSolicito.apellidoMaterno}}</span></p> 
    <p class="inf">Teléfono Contácto: <span>{{ordenTrabajo.solicitud.telefonoContacto}}</span></p>
    <p class="inf">Correo Electrónico: <span>{{ordenTrabajo.solicitud.correoElectronico}}</span></p>
    <p class="inf">Periodo de Uso del Equipo: <span>{{ordenTrabajo.solicitud.fechaInicialUso | date}} al {{ordenTrabajo.solicitud.fechaFinalUso | date}} </span></p>
    <p class="inf">Lugar donde se Requiere: <span>{{ordenTrabajo.solicitud.lugar}}</span></p>  

    <div class="col-descripcion" *ngIf="ordenTrabajo.solicitud.observacion">
      <p>Observaciones Solicitud:</p>
      <div class="desc">
        <span>{{ordenTrabajo.solicitud.observacion}}</span>
      </div>
    </div>
    <div class="col-descripcion" *ngIf="ordenTrabajo.observacion">
      <p>Observaciones Orden de Trabajo:</p>
      <div class="desc">
        <span>{{ordenTrabajo.observacion}}</span>
      </div>
    </div>
    <div class="col-descripcion" *ngIf="ordenTrabajo.observacionAutorizacion && data.tipoAccion === 'suministrar' ">
      <p>Observaciones Autorización Orden de Trabajo:</p>
      <div class="desc">
        <span>{{ordenTrabajo.observacionAutorizacion}}</span>
      </div>
    </div>
  </div> -->

  <!-- <div class="wrap-materiales" *ngIf="ordenTrabajo.idTipo===3">
    <p class="title">Detalles de la Orden</p>
    <div class="material-ot" *ngFor="let peticion of detallesOrdenTrabajoVehiculos">
      <div class="tit">Categoría:</div>
      <div class="desc">{{peticion.categoria.descripcion}}</div>
      <div class="tit">Descripción:</div>
      <div class="desc">{{peticion.descripcion}}</div>
      <div class="tit">Tipo de Servicio:</div>
      <div class="desc">{{peticion.tipoServicio}}</div>
      <div class="tit">Unidad:</div>
      <div class="desc">{{peticion.unidad}}</div>
      <div class="tit">Cantidad:</div>
      <div class="desc">{{peticion.cantidad}}</div>
      <div class="tit">Precio:</div>
      <div class="desc">{{peticion.precioUnitario | transformCurrency}}</div>
      <div class="tit">Importe:</div>
      <div class="desc">{{peticion.importe | transformCurrency}}</div>
    </div>
  </div> -->
  
  <div class="wrap-observaciones-adicionales">
    <div class="title-section">Observaciones Orden de Trabajo</div>
    <div class="observacion">
        <span>{{ordenTrabajo.observacion}}</span>
    </div>
  </div>
  
  <div class="wrap-observacion" *ngIf="data.tipoAccion === 'autorizar'">
    <p>Observaciones Adicionales:</p>
    <mat-form-field class="comentario">
      <textarea matInput [(ngModel)]="ordenTrabajo.observacionAutorizacion" [ngModelOptions]="{standalone: true}" ></textarea>
    </mat-form-field>
  </div>
  <div class="wrap-buttons" *ngIf="data.tipoAccion !== 'verOrden' && data.tipoAccion !== 'verOrdenP'">
    <!-- <button mat-mini-fab color="primary" [mat-dialog-close]="[{'opcion':'rechazar'}]"> -->
    <button mat-mini-fab color="primary" [mat-dialog-close]="[{'opcion':'rechazar', 'ot':ordenTrabajo}]" matTooltip="Rechazar Orden de Trabajo" matTooltipPosition="left">
      <mat-icon>thumb_down</mat-icon>
    </button>
    <button mat-mini-fab color="primary" [mat-dialog-close]="[{'opcion':'validar', 'ot':ordenTrabajo}]">
      <mat-icon>thumb_up</mat-icon>
    </button>
  </div>  
</div>