.wrap-datos-logo {
  display: grid;
  grid-template-columns: 20% 80%;
  justify-content: center;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  .col-logo {
    .logo{
      text-align: center;
      img{
        width: 80%;
        vertical-align: bottom;
      }
    }
  }
  .col-titulo {
    h2{
      text-align: center;
      text-transform: uppercase;
      color: #4caf50;
      font-weight: 500;
      margin-bottom: 2px;
    }
    span{
      text-align: center;
      display: inherit;
      color: gray;
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}

.wrap-solicitante {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 6px 20px;
  padding: 10px;
  justify-content: center;
  // align-items: center;
  // align-content: center;
  p {
    margin: 0;
  }
}

.wrap-obra{
  margin-top: 10px;
  border: 1px solid;
  padding: 0px;
  margin: 10px;
  .title-section{
    background: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
  }
  
  .data-obra{
    padding: 5px;
    display: grid;
    grid-template-columns: 100px 1fr;
    grid-gap: 8px;
    align-items: center;
    .inf{
      text-transform: capitalize;
      &.especial{
        display: grid;
        grid-template-columns: 200px 100px 1fr;
        grid-gap: 8px;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.wrap-datos-obra{
  h3{
    text-align: center;
    text-transform: uppercase;
    color: #4caf50;
    font-weight: 500;
    margin-bottom: 2px;
  }
  span{
    text-align: center;
    display: inherit;
    color: gray;
    text-transform: uppercase;
    font-size: 12px;
  }
  .col-obra{
    display: grid;
    grid-template-columns: .5fr 1fr;
    grid-gap: 5px;
    margin: 5px 10px;
    align-items: center;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    .logo{
      text-align: center;
      img{
        width: 80%;
        vertical-align: bottom;
      }
    }
    .nombre{
      p{
        margin: 0;
        line-height: 15px;
        text-transform: uppercase;
        font-size: 12px;
      }
    }
  }
}

.wrap-datos-solicitud{
  padding: 10px;
  .inf{
    margin-bottom: 5px;
    color: gray;
    span{
      color: #4caf50;
    }
  }
  .col-descripcion{
    margin-top: 10px;
    p{
      margin-bottom: 5px;
      color: gray;
    }
    .desc{
      // border: 1px solid lightgray;
      padding: 10px;
      span{
        color: #4caf50;
      }
    }
  }
}

// .wrap-materiales{
//   margin: 0 10px;
//   .title{
//     text-align: center;
//     font-weight: 500;
//     text-transform: uppercase;
//     color: #4caf50;
//     margin-bottom: 10px;
//   }
//   .material{
//     display: grid;
//     grid-template-columns: .5fr 1fr;
//     grid-gap: 5px;
//     padding: 10px;
//     align-items: center;
//     font-weight: 400;
//     border-radius: 5px 5px 0 0;
//     margin-bottom: 0px;
//     &:nth-child(even){
//       background: ghostwhite;
//     }
//     &:nth-child(odd){
//       background: honeydew;
//     }
//     .tit{
//       color: darkorange;
//       font-size: 12px;
//     }
//     .desc{
//       color: mediumseagreen;
//       font-size: 12px;
//     }
//   }
//   .info-extra {
//     display: grid;
//     grid-template-columns: .5fr 1fr;
//     grid-gap: 5px;
//     padding: 0 10px 10px 10px;
//     align-items: center;
//     font-weight: 400;
//     border-radius: 0 0 5px 5px;
//     margin-bottom: 5px;
//     &:nth-child(even){
//       background: honeydew;
//     }
//     &:nth-child(odd){
//       background: ghostwhite;
//     }
//     .tit{
//       color: darkorange;
//       font-size: 12px;
//     }
//     .desc{
//       color: mediumseagreen;
//       font-size: 12px;
//     }
//   }
//   .material-ot{
//     display: grid;
//     grid-template-columns: .5fr 1fr;
//     grid-gap: 5px;
//     padding: 10px;
//     align-items: center;
//     font-weight: 400;
//     border-radius: 5px;
//     margin-bottom: 5px;
//     &:nth-child(even){
//       background: ghostwhite;
//     }
//     &:nth-child(odd){
//       background: honeydew;
//     }
//     .tit{
//       color: darkorange;
//       font-size: 12px;
//     }
//     .desc{
//       color: mediumseagreen;
//       font-size: 12px;
//     }
//   }
// }


.wrap-materiales{
  margin: 10px;
  border: 1px solid;
  .title{
    background: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    margin: 0;
  }

  .col-solicitud {
    .material{
      display: grid;
      grid-template-columns: 50px 1fr 2fr 1fr 1fr 1fr 1fr 2fr;
      grid-gap: 5px;
      justify-content: center;
      text-align: center;
      &.titulo, &.totales {
        background: lightgrey;
        padding: 5px;
        text-transform: uppercase;
        text-align: center;
        align-items: center;
        font-size: 12px;
      }
      .desc {
        padding: 8px 5px;
        font-size: 13px;
        &.categoria{
          background: #5b9bd5;
          color: white;
        }
      }
    }
    .cmaterial{
      display: grid;
      grid-template-columns: 50px 2fr 1fr .5fr .5fr 1fr 1fr;
      grid-gap: 5px;
      justify-content: center;
      text-align: center;
      &.titulo {
        background: lightgrey;
        padding: 5px;
        text-transform: uppercase;
        text-align: center;
        align-items: center;
        font-size: 12px;
      }
      .desc {
        padding: 8px 5px;
        font-size: 13px;
        &.categoria{
          background: #5b9bd5;
          color: white;
        }
      }
    }
    .mmaterial{
      display: grid;
      grid-template-columns: 50px 1fr 2fr 1fr .5fr .5fr 1fr 1fr;
      grid-gap: 5px;
      justify-content: center;
      text-align: center;
      &.titulo {
        background: lightgrey;
        padding: 5px;
        text-transform: uppercase;
        text-align: center;
        align-items: center;
        font-size: 12px;
      }
      .desc {
        padding: 8px 5px;
        font-size: 13px;
        &.categoria{
          background: #5b9bd5;
          color: white;
        }
      }
    }
  }
}

.wrap-observacion{
  margin: 20px 10px 0px 10px;
  p {
    margin: 0;
    text-transform: uppercase;
  }
  .comentario {
    width:100%;
  }
}

.wrap-observaciones-adicionales {
  margin: 10px;
  border: 1px solid;
  .title-section {
    background: black;
    color: white;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    margin: 0;
  }
  .observacion {
    padding: 10px;
  }
}



.wrap-buttons{
  display: flex;
  justify-content: space-around;
  width: 50%;
  margin: 20px auto 0;
}

@media screen and (max-width: 1024px) {
  .wrap-solicitante {
    grid-template-columns: 1fr 1fr;
  }

  .wrap-materiales{
    .col-solicitud {
      width: 100%;
      overflow: auto;
      .material, .cmaterial, .mmaterial{
        width: 1100px;
      }
    }
  }
}


@media screen and (max-width: 768px) {
  .wrap-datos-logo {
    grid-template-columns: 1fr;
    margin-bottom: 10px;
    .logo{
      width: 50%;
      margin: 0 auto;
      img {
        width: 50% !important;
        border: 1px solid;
      }
    }
  }

  .wrap-solicitante {
    grid-template-columns: 1fr;
    grid-gap: 6px 20px;
  }

  .wrap-obra {
    .data-obra {
      .inf.especial {
        grid-template-columns: 150px 150px 1fr;
      } 
    }
  }

}