<mat-card class="p-0 container-create-user">
    <!-- <mat-card-title class="">
      <div class="card-title-text">Formulario para la modificación de obras</div>
      <mat-divider></mat-divider>
    </mat-card-title> -->
  
    <mat-card-content>
      <form [formGroup]="updateObraForm" (submit)="updateObra()">
        <div fxLayout="row wrap">
  
          <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1 wrap-form-1">
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <mat-label>Empresa</mat-label>
                <mat-select formControlName="idEmpresa" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let empresa of empresas" [value]="empresa.idEmpresa">
                    {{empresa.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['idEmpresa'].hasError('required') && updateObraForm.controls['idEmpresa'].touched"
                  class="form-error-msg">
                  Empresa es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <mat-label>Cliente</mat-label>
                <mat-select formControlName="idCliente" (selectionChange) = "getUsuariosCliente($event.value)"  required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let cliente of clientes" [value]="cliente.idCliente">
                    {{cliente.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['idCliente'].hasError('required') && updateObraForm.controls['idCliente'].touched"
                  class="form-error-msg">
                  Cliente es un campo requerido
                </small>
              </div>
            </div>

            <div class="pb-1">
              <mat-form-field class="full-width">
                <mat-label>Usuarios Cliente</mat-label>
                <mat-select formControlName="usuarioCliente" multiple>
                  <mat-option *ngFor="let usuarioCl of usuarioCliente" [value]="usuarioCl">
                    {{usuarioCl.nombre}} {{usuarioCl.apellidoPaterno}} {{usuarioCl.apellidoMaterno}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['usuarioCliente'].hasError('required') && updateObraForm.controls['usuarioCliente'].touched" class="form-error-msg">
                  Usuarios del cliente es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="noContrato" formControlName="noContrato" placeholder="Número de Contrato">
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['noContrato'].hasError('required') && updateObraForm.controls['noContrato'].touched"
                  class="form-error-msg">
                  Número de contrato es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
                <mat-form-field class="full-width">
                  <input matInput name="noLicitacion" formControlName="noLicitacion" placeholder="Número de Licitación">
                </mat-form-field>
                <div class="validaciones">
                  <small *ngIf="updateObraForm.controls['noLicitacion'].hasError('required') && updateObraForm.controls['noLicitacion'].touched" class="form-error-msg">
                    Número de Licitación es un campo requerido
                  </small>
                </div>
              </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="nombreObra" formControlName="nombreObra" placeholder="Nombre de Obra">
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['nombreObra'].hasError('required') && updateObraForm.controls['nombreObra'].touched"
                  class="form-error-msg">
                  Nombre de la obra es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="lugarTrabajo" formControlName="lugarTrabajo" placeholder="Lugar de Trabajos">
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['lugarTrabajo'].hasError('required') && updateObraForm.controls['lugarTrabajo'].touched"
                  class="form-error-msg">
                  Lugar de trabajos es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="objetivo" formControlName="objetivo" placeholder="Objetivo de la Obra">
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['objetivo'].hasError('required') && updateObraForm.controls['objetivo'].touched" class="form-error-msg">
                  Objetivo de la obra es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="fechaInicio" formControlName="fechaInicio" name="date" placeholder="Fecha Inicio de Obra"
                  (dateChange)="onFechaInicioObra($event)">
                <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
                <mat-datepicker #fechaInicio (selectedChange)="onFechaInicioObra($event)"></mat-datepicker>
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['fechaInicio'].hasError('required') && updateObraForm.controls['fechaInicio'].touched"
                  class="form-error-msg">
                  Fecha Inicio de la obra es un campo requerido
                </small>
              </div>
              <div class="validaciones">
                <small *ngIf="error.isError" class="form-error-msg">
                  {{ error.errorMessage }}
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput [matDatepicker]="fechaFin" formControlName="fechaFin" name="date" placeholder="Fecha Fin de Obra" (dateChange)="onFechaFinObra($event)">
                <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
                <mat-datepicker #fechaFin (selectedChange)="onFechaFinObra($event)"></mat-datepicker>
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['fechaFin'].hasError('required') && updateObraForm.controls['fechaFin'].touched" class="form-error-msg">
                  Fecha Finalización de la obra es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="plazoEjecucion" formControlName="plazoEjecucion" placeholder="Plazo de Ejecución" readonly>
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['plazoEjecucion'].hasError('required') && updateObraForm.controls['plazoEjecucion'].touched"
                  class="form-error-msg">
                  Plazo de ejecución es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <mat-label>Gerente de Proyecto</mat-label>
                <mat-select formControlName="idGerente" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let gerente of gerenteProyecto" [value]="gerente.idUsuario">
                    {{gerente.nombre}} {{gerente.apellidoPaterno}} {{gerente.apellidoMaterno}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['idGerente'].hasError('required') && updateObraForm.controls['idGerente'].touched" class="form-error-msg">
                  Gerente del proyecto es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <mat-label>Planeación y Presupuestos</mat-label>
                <mat-select formControlName="idPlaneacionPresupuesto" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let personal of planeacionPresupuestos" [value]="personal.idUsuario">
                    {{personal.nombre}} {{personal.apellidoPaterno}} {{personal.apellidoMaterno}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['idPlaneacionPresupuesto'].hasError('required') && updateObraForm.controls['idPlaneacionPresupuesto'].touched" class="form-error-msg">
                  Planeación y presupuestos es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <mat-label>Control de Obra</mat-label>
                <mat-select formControlName="idControlObra" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let personal of controlObra" [value]="personal.idUsuario">
                    {{personal.nombre}} {{personal.apellidoPaterno}} {{personal.apellidoMaterno}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['idControlObra'].hasError('required') && updateObraForm.controls['idControlObra'].touched" class="form-error-msg">
                  Control de obra es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <mat-label>Compras</mat-label>
                <mat-select formControlName="idCompras" required>
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let personal of compras" [value]="personal.idUsuario">
                    {{personal.nombre}} {{personal.apellidoPaterno}} {{personal.apellidoMaterno}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['idCompras'].hasError('required') && updateObraForm.controls['idCompras'].touched" class="form-error-msg">
                  Compras es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <mat-label>Supervisor</mat-label>
                <mat-select   formControlName="supervisor" multiple >
                  <!-- <mat-select-trigger>{{supervisoresSeleccionados}}</mat-select-trigger> -->
                  <mat-option *ngFor="let supervisor of supervisores" [value]="supervisor" >
                    {{supervisor.nombre}} {{supervisor.apellidoPaterno}} {{supervisor.apellidoMaterno}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['supervisor'].hasError('required') && updateObraForm.controls['supervisor'].touched"
                  class="form-error-msg">
                  Supervisor es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <mat-label>Subcontratista</mat-label>
                <mat-select formControlName="destajista" multiple>
                  <mat-option *ngFor="let destajista of destajistas" [value]="destajista">
                    {{destajista.nombre}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['destajista'].hasError('required') && updateObraForm.controls['destajista'].touched"
                  class="form-error-msg">
                  Subcontratista es un campo requerido
                </small>
              </div>
            </div>
  
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput type="number"  name="cantidadPersonal" formControlName="cantidadPersonal" placeholder="Cantidad de Personal">
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['cantidadPersonal'].hasError('required') && updateObraForm.controls['cantidadPersonal'].touched"
                  class="form-error-msg">
                  Cantidad de personal es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="presupuestoTotal" formControlName="presupuestoTotal" placeholder="Presupuesto Total de la Obra" mask="separator.2" thousandSeparator=",">
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['presupuestoTotal'].hasError('required') && updateObraForm.controls['presupuestoTotal'].touched"
                  class="form-error-msg">
                  El presupuesto total de la obra es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="presupuestoMaterial" formControlName="presupuestoMaterial" placeholder="Presupuesto de Materiales" mask="separator.2" thousandSeparator=",">
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['presupuestoMaterial'].hasError('required') && updateObraForm.controls['presupuestoMaterial'].touched"
                  class="form-error-msg">
                  Presupuesto de materiales es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="presupuestoManoObra" formControlName="presupuestoManoObra" placeholder="Presupuesto Mano de Obra" mask="separator.2" thousandSeparator=",">
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['presupuestoManoObra'].hasError('required') && updateObraForm.controls['presupuestoManoObra'].touched"
                  class="form-error-msg">
                  Presupuesto mano de obra es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="presupuestoSubcontrato" formControlName="presupuestoSubcontrato" placeholder="Presupuesto de Subcontratos" mask="separator.2" thousandSeparator=",">
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['presupuestoSubcontrato'].hasError('required') && updateObraForm.controls['presupuestoSubcontrato'].touched"
                  class="form-error-msg">
                  Presupuesto de subcontratos es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="presupuestoMaquinaria" formControlName="presupuestoMaquinaria" placeholder="Presupuesto de Maquinaria y Equipo" mask="separator.2" thousandSeparator=",">
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['presupuestoMaquinaria'].hasError('required') && updateObraForm.controls['presupuestoMaquinaria'].touched"
                  class="form-error-msg">
                  Presupuesto de maquinaria y Equipo es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="importeIndirecto" formControlName="importeIndirecto" placeholder="Importe de Indirectos" mask="separator.2" thousandSeparator=",">
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['importeIndirecto'].hasError('required') && updateObraForm.controls['importeIndirecto'].touched"
                  class="form-error-msg">
                  Importe de indirectos es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="importeFinanciamiento" formControlName="importeFinanciamiento" placeholder="Importe de Financiamiento" mask="separator.2" thousandSeparator=",">
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['importeFinanciamiento'].hasError('required') && updateObraForm.controls['importeFinanciamiento'].touched"
                  class="form-error-msg">
                  Importe de financiamiento es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput  name="utilidadEsperada" formControlName="utilidadEsperada" placeholder="Utilidad Esperada" mask="separator.2" thousandSeparator=",">
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['utilidadEsperada'].hasError('required') && updateObraForm.controls['utilidadEsperada'].touched"
                  class="form-error-msg">
                  Utilidad esperada es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width">
                <input matInput name="cargosAdicionales" formControlName="cargosAdicionales" placeholder="Cargos Adicionales" mask="separator.2" thousandSeparator=",">
              </mat-form-field>
              <div class="validaciones">
                <small *ngIf="updateObraForm.controls['cargosAdicionales'].hasError('required') && updateObraForm.controls['cargosAdicionales'].touched"
                  class="form-error-msg">
                  Cargos adicionales es un campo requerido
                </small>
              </div>
            </div>
  
            <div class="pb-1">
              <mat-form-field class="full-width wrap-input-observaciones">
                <input matInput  name="observacionesGenerales"  placeholder="Observación General"  [(ngModel)] = "observacionText"  [ngModelOptions]="{standalone: true}"  >
                <a 
                mat-mini-fab 
                color="primary" 
                class="btn-add-observacion" 
                matTooltip="Agregar Observación"
                matTooltipPosition="left"
                (click)="addObservation(observacionText)"><mat-icon>add</mat-icon></a>
              </mat-form-field>
            </div>  
  
            <div class="pb-1" *ngIf="observacionesGenerales.length">
              <p class="title-observaciones">Observaciones Generales:</p>
              <ul class="wrap-observaciones-generales">
                <li *ngFor = "let observacion of observacionesGenerales" class="observacion"> 
                  <p>
                    {{observacion.comentario}} 
                    <span 
                    matTooltip="Eliminar Observación" 
                    matTooltipPosition="left"
                    (click)="deleteObservation(observacion)">
                    <mat-icon>delete</mat-icon></span>
                  </p>
                  
                </li>
              </ul>
            </div>
  
          </div>
        </div>
  
        <div class="cont-btns">
          <button mat-raised-button color="primary" [disabled]="updateObraForm.invalid" type="submit">Modificar</button>
        </div>
      </form>
    </mat-card-content>
  </mat-card>