<div class="wrap-form-modificar">
  <form [formGroup]="modificarMontoForm" (submit)="ModificarMonto()">
    <div fxLayout="row wrap">
      <div fxFlex="100" fxFlex.gt-xs="100">
        <div class="pb-1">
          <mat-form-field class="full-width">
            <input matInput placeholder="Nombre" name="nombre" formControlName="nombre">
          </mat-form-field>
        </div>

        <div class="pb-1">
          <mat-form-field class="full-width">
            <mat-label>Duración del Periodo</mat-label>
            <mat-select formControlName="idTipoDuracion" required>
              <mat-option *ngFor="let tipo of tipoDuracion" [value]="tipo.idTipoDuracion">
                {{tipo.descripcion}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="pb-1">
          <mat-form-field class="full-width">
            <input matInput type="number" placeholder="Porcentaje" name="porcentaje" formControlName="porcentaje">
          </mat-form-field>
        </div>

        <div class="pb-1">
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="fechaInicio" formControlName="fechaInicial" name="date" placeholder="Desde" (dateChange)="onFechaInicio($event)">
            <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
            <mat-datepicker #fechaInicio (selectedChange)="onFechaInicio($event)"></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="pb-1">
          <mat-form-field class="full-width">
            <input matInput [matDatepicker]="fechaFin" formControlName="fechaFinal" name="date" placeholder="Hasta" (dateChange)="onFechaFin($event)">
            <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
            <mat-datepicker #fechaFin (selectedChange)="onFechaFin($event)"></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="cont-btn">
      <button mat-raised-button color="primary" [disabled]="modificarMontoForm.invalid" type="submit">Modificar</button>
    </div>
  </form>
</div>