<mat-card class="p-0" *ngIf="(obraObs$ | async) as obra">
  <mat-tab-group>
    <mat-tab label="Datos Obra">
      <mat-card-content class="mt-1">
        <app-obra-data [obra]="obra"></app-obra-data>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Catálogo de Conceptos">
      <mat-card-content>
        <app-catalogo-conceptos [obra]="obra"></app-catalogo-conceptos>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Catálogo de Materiales">
      <mat-card-content>
        <app-catalogo-materiales [obra]="obra"></app-catalogo-materiales>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Asignación de Materiales por Concepto">
      <mat-card-content>
        <app-materiales-por-concepto [obra]="obra"></app-materiales-por-concepto>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Biblioteca">
      <mat-card-content>
        <app-biblioteca [obra]="obra"></app-biblioteca>
      </mat-card-content>
    </mat-tab>
    <mat-tab label="Montos Programados">
      <mat-card-content>
        <app-montos-programados [obra]="obra"></app-montos-programados>
      </mat-card-content>
    </mat-tab>
  </mat-tab-group>
</mat-card>

<mat-card class="p-0"  *ngIf="!(obraObs$ | async)" class="wrapper-settings">
  <mat-card-content>
    <mat-spinner></mat-spinner>
  </mat-card-content>
</mat-card>