.wrap-spiner{
  display: flex;
  justify-content: center;
  height: 452px;
  align-items: center;
}

form{
  width: 100%;
}

.info-obra{
  padding: 20px 20px 10px;
}

.info-obra h1{
  color: gray;
}

.info-obra p {
  color: #4caf50;
  font-size: 14px;
  font-weight: 400;
}

agm-map {
    height: 300px;
    margin-bottom: 10px !important;
}

table {
  width: 100%;
}

.container-catalogo{
  margin-top: 10px;
}

.wrap-button{
  text-align: right;
  margin: 20px 5px 8px;
}

.btn-accept{
  margin-right: 10px;
}

.cantidad-seleccionada{
  display: block;
  position: relative;
  flex: auto;
  min-width: 0;
  width: auto !important;
}

.cantidad-seleccionada input{
  text-align: center;
  width: auto;
  width: 80%;
  margin: 0 auto;
  display: block;
}

.container-catalogo p{
  padding: 0 !important;
  margin: 16px 0 0 0 !important;
}

.content-center{
  text-align: center;
}

.wrap-colapsable{
  margin-top: 20px;
}

.title-obra{
  h2{
    color: gray;
    margin-bottom: 0;
  }
}