.wrap-loading-catalog{
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.cargando-componente{
  display: flex;
  justify-content: center;
  align-items: center;
}

.rep-card {
  padding: 15px !important;
}

.container-title{
  display: grid;
  grid-template-columns: 100px 1fr 100px;
  grid-gap: 10px;
  align-items: center;
  justify-items: center;
  border-bottom: 1px solid #212121;
  padding-bottom: 10px;
  margin-bottom: 10px;
  .icon{
    width: auto;
  };
  .title-component{
    text-transform: uppercase;
  };
  .logo{
    width: auto;
  }
}

.container-data-company{
  .title-section{
    background: #3f3f3f;
    color: white;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
  }
  .wrap-data-company{
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 10px 5px;
    margin-bottom: 25px;
    // .title{}
    .description{
      font-weight: 300;
      &.multiple{
        display: grid;
        grid-template-columns: 1fr 200px 1fr;
        .title {
          font-weight: 500;
        }
      }

    }
  }
}

.wrap-button{
  text-align: right;
}

.btn-generar-reporte{
  margin-bottom: 20px;
}

.title-section{
  background: #3f3f3f;
  color: white;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
}

.wrap-title{
  width: 100%;
  text-align: center;
  .title-graphic{
    text-transform: uppercase
  }
}

.container-alcance-general{
  .title-section{
    background: #3f3f3f;
    color: white;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
  }
  .wrap-alcance-general{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 5px;
    .avance{
      text-align: center;
      padding: 5px;
      .porcentaje{
        font-size: 2rem;
      }
      .leyenda{
        text-transform: uppercase
      }
    }
  }
}

// INGRESOS Y EGRESOS RESUMEN
.container-alcance-resumen{
  .title-section{
    background: #3f3f3f;
    color: white;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    margin: 0;
  }
  .scrollable-wrap{
    width: 100%;
    overflow: auto;
  }
  .wrap-alcance-resumen{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 1850px;
    &.title-wrap{
      background: #f2f2f2;
    }
    .title-prog{
      text-transform: uppercase;
      font-size: 13px;
      padding: 10px 3px;
      font-weight: 500;
      text-align: center;
      .encabezado-col{
        text-align: center;
        font-size: 11px;
      }
    }
    .col-1{
      background: #f2f2f2;
      font-weight: 500;
    }
    .info-ingreso{
      text-align: center;
      padding: 10px 0;
    }
    .tipo-1{
      display: grid;
      grid-template-columns:  repeat(2, 1fr);
      grid-gap: 10px;
      justify-items: center;
      align-items: center;  
      padding: 5px;
    }
    .tipo-2{
      display: grid;
      grid-template-columns:  repeat(3, 1fr);
      grid-gap: 10px;
      justify-items: center;
      align-items: center;
      padding: 5px;
    }
  }
}

//INGRESOS Y EGRESOS GENERAL
.container-ingresos-egresos-gral{
  .title-section{
    background: #3f3f3f;
    color: white;
    text-align: center;
    padding: 5px;
    text-transform: uppercase;
    margin: 0;
  }
  .scrollable-wrap{
    width: 100%;
    overflow: auto;
    margin-bottom: 20px;
    padding-bottom: 15px;
  }
  .wrap-ingresos-egresos-gral{
    display: grid;
    grid-template-columns: 230px 1fr;
    width: 1850px;
    align-items: center;
    &.title-wrap{
      background: #f2f2f2;
    }
    .title-prog{
      text-transform: uppercase;
      font-size: 13px;
      padding: 10px 3px;
      font-weight: 500;
      text-align: center;
    }
    .cont-meses{
      text-align: center;
    }
    .col-tipo{
      text-align: center;
      .title-cat{
        text-transform: uppercase;
        font-weight: 500;
      }
    }
    .col-meses{
      // border: 1px solid red;
      display: grid;
      grid-gap: 5px;
      &.num-col-1{grid-template-columns: repeat(1, 1fr);}
      &.num-col-2{grid-template-columns: repeat(2, 1fr);}
      &.num-col-3{grid-template-columns: repeat(3, 1fr);}
      &.num-col-4{grid-template-columns: repeat(4, 1fr);}
      &.num-col-5{grid-template-columns: repeat(5, 1fr);}
      &.num-col-6{grid-template-columns: repeat(6, 1fr);}
      &.num-col-7{grid-template-columns: repeat(7, 1fr);}
      &.num-col-8{grid-template-columns: repeat(8, 1fr);}
      &.num-col-9{grid-template-columns: repeat(9, 1fr);}
      &.num-col-10{grid-template-columns: repeat(10, 1fr);}
      &.num-col-11{grid-template-columns: repeat(11, 1fr);}
      &.num-col-12{grid-template-columns: repeat(12, 1fr);}
      .inf-cat{
        padding: 5px 0;
        text-transform: uppercase;
        &.tipo-6{background: #ed7d31; color: white;}
        &.tipo-2{background: #5b9bd5; color: white;}
        &.tipo-1{background: #70ad47; color: white;}
        &.tipo-3{background: #3d5e85; color: white;}
        &.tipo-4{background: #a5a5a5; color: white;}
        &.tipo-5{background: #ff0000; color: white;}
      }
    }
    .row-utilidad{
      background: gray;
      color: white;
      text-align: center;
      margin: 15px 0 0;
      padding: 5px 0;
      .flag{
        color: gray;
      }
    }
    .row-totales{
      background: lightgray;
      color: white;
      text-align: center;
      padding: 5px 0;
      .flag{
        color: lightgray;
      }
    }
   
  }
}


@media screen and (max-width: 768px){
  .container-alcance-general{
    .wrap-alcance-general{
      grid-template-columns: 1fr;
    }
  }
}