<div class="wrap-datos-obra">
  <h3>{{data.tipo}}</h3>
  <span>Grupo Empresasial CIMA</span>
  <div class="col-obra">
    <div class="logo">
        <img src="http://{{host}}/{{rutaImg}}/files/{{data.solicitud.obra.empresa.imagen}}" alt="usuario"  />
    </div>
    <div class="nombre">
      <p>{{data.solicitud.obra.nombreObra}}</p>
    </div>
  </div>
</div>
<div class="wrap-datos-solicitud" *ngIf="data.idTipo===1">
  <p class="inf">No. Folio: <span>{{data.solicitud.serieFolio}}-{{data.idSolicitud}}</span></p> 
  <p class="inf">Fecha Solicitud: <span>{{data.solicitud.fechaSolicito | date}}</span></p>  
  <p class="inf">Usuario Solicito: <span>{{data.solicitud.usuarioSolicito.nombre}} {{data.solicitud.usuarioSolicito.apellidoPaterno}} {{data.solicitud.usuarioSolicito.apellidoMaterno}}</span></p> 
  <div class="col-descripcion">
    <p>Observaciones Adicionales:</p>
    <div class="desc">
      <span>{{data.solicitud.observacionesAdicionales}}</span>
    </div>
  </div>
</div>

<div class="wrap-materiales" *ngIf="data.idTipo===1">
  <p class="title">Lista Peticiones</p>
  <div class="material" *ngFor="let peticion of peticionesSeleccionadas">
    <div class="tit">Desglose:</div>
    <div class="desc">{{peticion.desglose}}</div>
    <div class="tit">Importe Solicitado sin Factura:</div>
    <div class="desc">{{peticion.importeSolicitadoSinFactura | currency}}</div>
    <div class="tit">Importe Seleccionado con Factura:</div>
    <div class="desc">{{peticion.importeSolicitadoConFactura | currency}}</div>
    <div class="tit">Comentario</div>
    <div class="desc">{{peticion.comentario}}</div>
  </div>
</div>

<div class="wrap-datos-solicitud" *ngIf="data.idTipo===2">
  <p class="inf">No. Folio: <span>MAT-{{data.idSolicitud}}</span></p> 
  <p class="inf">Fecha Solicitud: <span>{{data.solicitud.fechaSolicito | date}}</span></p>
  <p class="inf">Fecha Requiere en Obra: <span>{{data.solicitud.fechaRequiere | date}}</span></p>
  <p class="inf">Lugar de Recepción del Material: <span>{{data.solicitud.lugarRecepcion}}</span></p>
  <p class="inf">Usuario Solicito: <span>{{data.solicitud.usuarioSolicito.nombre}} {{data.solicitud.usuarioSolicito.apellidoPaterno}} {{data.solicitud.usuarioSolicito.apellidoMaterno}}</span></p> 

  <div class="col-descripcion">
    <p>Observaciones Adicionales:</p>
    <div class="desc">
      <span>{{data.solicitud.observacionesAdicionales}}</span>
    </div>
  </div>
</div>

<div class="wrap-materiales" *ngIf="data.idTipo===2 && materialesSeleccionados.length">
  <p class="title">Lista Materiales</p>
  <div class="material" *ngFor="let material of materialesSeleccionados">
    <div class="tit">Descripción:</div>
    <div class="desc">{{material.descripcion}}</div>
    <div class="tit">Unidad:</div>
    <div class="desc">{{material.unidad}}</div>
    <div class="tit">Cantidad:</div>
    <div class="desc">{{material.cantidadSolictada}}</div>
    <div class="tit" *ngIf="material.comentario">Observación</div>
    <div class="desc" *ngIf="material.comentario">{{material.comentario}}</div>
  </div>
</div>

<div class="wrap-datos-solicitud" *ngIf="data.idTipo===3">
  <p class="inf">No Folio: <span>{{data.solicitud.folio}}</span></p>
  <p class="inf">Fecha Solicitud: <span>{{data.solicitud.fechaSolicitud | date}}</span></p>
  <p class="inf">Teléfono Contácto: <span>{{data.solicitud.telefonoContacto}}</span></p>
  <p class="inf">Correo Electrónico: <span>{{data.solicitud.correoElectronico}}</span></p>
  <p class="inf">Periodo de Uso del Equipo: <span>{{data.solicitud.fechaInicialUso | date}} al {{data.solicitud.fechaFinalUso | date}} </span></p>
  <p class="inf">Lugar donde se Requiere: <span>{{data.solicitud.lugar}}</span></p>
  <p class="inf">Usuario Solicito: <span>{{data.solicitud.usuarioSolicito.nombre}} {{data.solicitud.usuarioSolicito.apellidoPaterno}} {{data.solicitud.usuarioSolicito.apellidoMaterno}}</span></p> 

  <!-- <div class="col-descripcion">
    <p>Descripción:</p>
    <div class="desc">
      <span>{{data.solicitud.descripcion}}</span>
    </div>
  </div> -->
  <div class="col-descripcion" *ngIf="data.solicitud.observacion">
    <p>Observaciones Adicionales:</p>
    <div class="desc">
      <span>{{data.solicitud.observacion}}</span>
    </div>
  </div>
</div>

<div class="wrap-buttons">
  <!-- <button mat-mini-fab color="primary" [mat-dialog-close]="[{'opcion':'rechazar'}]"> -->
  <button mat-mini-fab color="primary">
    <mat-icon>thumb_down</mat-icon>
  </button>
  <button mat-mini-fab color="primary" [mat-dialog-close]="[{'opcion':'validar'}]">
    <mat-icon>thumb_up</mat-icon>
  </button>
</div>
