  <div mat-dialog-content class="content">
    <p><mat-icon class="text-muted">warning</mat-icon></p>
    <p *ngIf="data==='cerrar'">¿Está seguro de cerrar esta obra?</p>
    <p *ngIf="data==='abrir'">¿Está seguro de abrir esta obra?</p>
  </div>
  <div mat-dialog-actions class="actions">
    <button mat-raised-button [color]="'cancel'" (click)="onNoClick()">Cancelar</button>
    <button mat-raised-button [color]="'delete'" [mat-dialog-close]="'cerrar'" *ngIf="data==='cerrar'" cdkFocusInitial>Cerrar</button>
    <button mat-raised-button [color]="'open'" [mat-dialog-close]="'abrir'" *ngIf="data==='abrir'" cdkFocusInitial>Abrir</button>
  </div>
