<mat-card class="p-0 container-create-user">
  <mat-card-title class="">
    <div class="card-title-text">Formulario para la creación de usuarios</div>
    <mat-divider></mat-divider>
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="createEmpleadoForm" (submit)="createEmpleado()">
      <div fxLayout="row wrap">

        <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1 wrap-form-1">

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="nombre" formControlName="nombre" placeholder="Nombre(s)" value="">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="createEmpleadoForm.controls['nombre'].hasError('required') && createEmpleadoForm.controls['nombre'].touched" class="form-error-msg">
                Nombre es un campo requerido
              </small>
            </div>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <mat-label>Empresa</mat-label>
              <mat-select formControlName="idEmpresa" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let empresa of empresas" [value]="empresa.idEmpresa">
                  {{empresa.nombre}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="createEmpleadoForm.controls['idEmpresa'].hasError('required') && createEmpleadoForm.controls['idEmpresa'].touched"
                class="form-error-msg">
                Empresa es un campo requerido
              </small>
            </div>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="puesto" formControlName="puesto" placeholder="Puesto" value="">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="createEmpleadoForm.controls['puesto'].hasError('required') && createEmpleadoForm.controls['puesto'].touched"
                class="form-error-msg">
                Puesto es un campo requerido
              </small>
            </div>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="telefono" formControlName="telefono" placeholder="Teléfono">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="createEmpleadoForm.controls['telefono'].hasError('required') && createEmpleadoForm.controls['telefono'].touched" class="form-error-msg">
                Número de teléfono invalido
              </small>
            </div>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="especialidad" formControlName="especialidad" placeholder="Dirección">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="createEmpleadoForm.controls['especialidad'].hasError('required') && createEmpleadoForm.controls['especialidad'].touched"
                class="form-error-msg">
                Especialidad es un campo requerido
              </small>
            </div>
          </div>
         
        </div>

      </div>

      <div class="cont-btns">
        <button mat-raised-button color="primary" [disabled]="createEmpleadoForm.invalid" type="submit">Agregar</button>
        <button mat-raised-button [routerLink]="'/configuracion/empleados'">Cancelar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>