<div class="container-alcance-general">
  <p class="title-section">
    ALCANCE
  </p>
  <div class="wrap-alcance-general">
    <div class="avance programado-fecha">
      <p class="porcentaje">$7,503,666.41</p>
      <p class="leyenda">Ingresos Totales a la fecha</p>
    </div>
    <div class="avance ejecutado-fecha">
      <p class="porcentaje">$6,028,643.71</p>
      <p class="leyenda">Egresos Totales a la fecha</p>
    </div>
    <div class="avance diferencia">
      <!-- <p class="porcentaje" [ngStyle]="{'color':alcanceGeneral.diferenciaAlcance >= 0 ? 'green' : 'red' }">{{alcanceGeneral.diferenciaAlcance}}%</p> -->
      <p class="porcentaje">$1,475,022.70</p> 
      <p class="leyenda">Diferencia</p>
    </div>
  </div>
</div>