<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title>
        Filtros
      </mat-panel-title>
    </mat-expansion-panel-header>
    <ng-container>
      <div class="pb-1">
        <mat-form-field class="full-width">
          <mat-label>Empresa</mat-label>
          <mat-select [(ngModel)]="empresa">
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let company of empresas" [value]="company">
              {{company.descripcion}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="pb-1">
        <mat-form-field class="full-width">
          <mat-label>Obra</mat-label>
          <mat-select [(ngModel)]="obra" (selectionChange)="getCompanie($event.value)">
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let obra of obras" [value]="obra">
              {{obra.noContrato}} - {{obra.nombreObra}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="pb-1">
        <mat-form-field class="full-width">
          <mat-label>Estatus</mat-label>
          <mat-select [(ngModel)]="estatus">
            <mat-option value= -1></mat-option>
            <mat-option value= 0>Cerradas</mat-option>
            <mat-option value= 1>Abiertas</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="wrap-button">
        <button mat-raised-button color="primary" (click)="getResources(whoSolicitud)">Buscar</button>
      </div>
    </ng-container>
  </mat-expansion-panel> 
</mat-accordion>


<div class="accordions">
  <mat-accordion>
    <mat-expansion-panel (opened)="getResources(1)" [(expanded)]="panelOpenState">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Recursos
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="container-table">
        <table #innerTableRequest mat-table #outerSort="matSort" [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 mb"
          matSort>
          <ng-container matColumnDef="verSolicitud">
            <th mat-header-cell *matHeaderCellDef> Ver Solicitud </th>
            <td mat-cell *matCellDef="let element">
              <span class="col-center">
                <button *ngIf="element.estatus === 1" (click)="openDialogRequest(element.idSolicitud, element.idTipo)" mat-icon-button color="primary"
                  matTooltip="Ver Solicitud" matTooltipPosition="left">
                  <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button *ngIf="element.estatus ===  0" color="accent" matTooltip="Proceso Inactivo" matTooltipPosition="left">
                  <mat-icon>visibility</mat-icon>
                </button>
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element">
              <span class="col-center"> {{element.fechaSolicito | date}} </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="folio">
            <th mat-header-cell *matHeaderCellDef> Folio </th>
            <td mat-cell *matCellDef="let element">
              <span class="col-center"> {{element.folio}} </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="empresa">
            <th mat-header-cell *matHeaderCellDef> Empresa </th>
            <td mat-cell *matCellDef="let element">
              <span class="col-center"> {{element.empresa}} </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="contrato">
            <th mat-header-cell *matHeaderCellDef> Contrato </th>
            <td mat-cell *matCellDef="let element">
              <span class="col-center"> {{element.noContrato}} </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="solicitante">
            <th mat-header-cell *matHeaderCellDef> Solicitante </th>
            <td mat-cell *matCellDef="let element">
              <span class="col-center"> {{element.usuarioSolicito}} </span>
            </td>
          </ng-container>


          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="example-element-detail" [@detailExpand]="element == expandedElements ? 'expanded' : 'collapsed'">
                <div class="inner-table mat-elevation-z8" *ngIf="expandedElements">
                  
                  <table #innerTables mat-table #innerSort="matSort" class="orders-table" [dataSource]="dataWorkOrders" matSort>
                    <ng-container matColumnDef="verOrden">
                      <th mat-header-cell *matHeaderCellDef> Ver Orden de Trabajo </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="col-center">
                          <button (click)="openDialogAuthorize(element.idOrdenTrabajo, element.idTipo, element.idSolicitud, 'verOrdenP')" mat-icon-button
                            *ngIf="element.colorAutorizar === 'green'" color="primary" matTooltip="Ver Orden de Trabajo" matTooltipPosition="left">
                            <mat-icon>visibility</mat-icon>
                          </button>
                          <button mat-icon-button color="accent" *ngIf="element.colorAutorizar === 'gray'" matTooltip="Proceso Inactivo" matTooltipPosition="left">
                            <mat-icon>visibility</mat-icon>
                          </button>
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="fecha">
                      <th mat-header-cell *matHeaderCellDef> Fecha </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="col-center"> {{ element.fechaOrdenTrabajo | date }} </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="folio">
                      <th mat-header-cell *matHeaderCellDef> Folio </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="col-center"> OT {{element.folio}} - {{element.idOrdenTrabajo}} </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="elaboro">
                      <th mat-header-cell *matHeaderCellDef> Elaboro </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="col-center"> {{element.usuarioOrdenTrabajo}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="validarOrden">
                      <th mat-header-cell *matHeaderCellDef> Validar </th>
                      <td mat-cell *matCellDef="let element; let i = index">
                        <span class="col-center">
                          <button (click)="validateOrder(element, dataSource.filteredData.indexOf(element))" mat-raised-button color="primary" matTooltip="Validar Orden de Trabajo" matTooltipPosition="left">
                            Validar
                          </button>
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="cancelarOrden">
                      <th mat-header-cell *matHeaderCellDef> Cancelar </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="col-center">
                          <button (click)="openDialogDeleteOrden(element)" mat-icon-button *ngIf="element.colorEliminarOrdenTrabajo === 'green'" color="primary"
                            matTooltip="Cancelar Orden de Trabajo" matTooltipPosition="left">
                            <mat-icon>block</mat-icon>
                          </button>
                          <button mat-icon-button color="accent" *ngIf="element.colorEliminarOrdenTrabajo === 'gray'" matTooltip="Proceso Inactivo"
                            matTooltipPosition="left">
                            <mat-icon>block</mat-icon>
                          </button>
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="comprobante">
                      <th mat-header-cell *matHeaderCellDef> Comprobante </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="col-center">
                          <button mat-icon-button color="primary" (click) = "descargarOrdenTrabajo(element)" matTooltip="Descargar Comprobante" matTooltipPosition="left">
                            <mat-icon>cloud_download</mat-icon>
                          </button>
                        </span>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></tr>
                  </table>

                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" [class.example-element-row]="element.estatus === 1" [class.example-expanded-row]="expandedElements === element"
            (click)="element.estatus === 1 && toggleRow(element)">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <mat-paginator #paginatorRec [pageSizeOptions]="[10, 20, 30, 40, 50, 60]" showFirstLastButtons></mat-paginator>
      </div>

      <div fxLayout="row wrap" *ngIf="noSolicitud">
        <div fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" style="text-align:center">
          <h1>No hay solicitudes autrizadas hasta el momento</h1>
        </div>
      </div>

      <div fxLayout="row wrap" *ngIf="!solicitudes.length && !noSolicitud">
        <div fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100">
          <div class="wrap-spiner">
            <mat-spinner [diameter]="40"></mat-spinner>
          </div>
        </div>
      </div>

    </mat-expansion-panel>

    <mat-expansion-panel (opened)="getResources(2)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Materiales / Herramientas
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="container-table">
        <table #innerTableRequest mat-table #outerSort="matSort" [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 mb"
          matSort>
          <ng-container matColumnDef="verSolicitud">
            <th mat-header-cell *matHeaderCellDef> Ver Solicitud </th>
            <td mat-cell *matCellDef="let element">
              <span class="col-center">
                <button *ngIf="element.estatus === 1" (click)="openDialogRequest(element.idSolicitud, element.idTipo)" mat-icon-button color="primary"
                  matTooltip="Ver Solicitud" matTooltipPosition="left">
                  <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button *ngIf="element.estatus ===  0" color="accent" matTooltip="Proceso Inactivo" matTooltipPosition="left">
                  <mat-icon>visibility</mat-icon>
                </button>
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element">
              <span class="col-center"> {{element.fechaSolicito | date}} </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="folio">
            <th mat-header-cell *matHeaderCellDef> Folio </th>
            <td mat-cell *matCellDef="let element">
              <span class="col-center"> {{element.folio}} </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="empresa">
            <th mat-header-cell *matHeaderCellDef> Empresa </th>
            <td mat-cell *matCellDef="let element">
              <span class="col-center"> {{element.empresa}} </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="contrato">
            <th mat-header-cell *matHeaderCellDef> Contrato </th>
            <td mat-cell *matCellDef="let element">
              <span class="col-center"> {{element.noContrato}} </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="solicitante">
            <th mat-header-cell *matHeaderCellDef> Solicitante </th>
            <td mat-cell *matCellDef="let element">
              <span class="col-center"> {{element.usuarioSolicito}} </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="example-element-detail" [@detailExpand]="element == expandedElements ? 'expanded' : 'collapsed'">
                <div class="inner-table mat-elevation-z8" *ngIf="expandedElements">
                  <table #innerTables mat-table #innerSort="matSort" class="orders-table" [dataSource]="dataWorkOrders" matSort>

                    <ng-container matColumnDef="verOrden">
                      <th mat-header-cell *matHeaderCellDef> Ver Orden de Trabajo </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="col-center">
                          <button (click)="openDialogAuthorize(element.idOrdenTrabajo, element.idTipo, element.idSolicitud, 'verOrdenP')" mat-icon-button
                            *ngIf="element.colorAutorizar === 'green'" color="primary" matTooltip="Ver Orden de Trabajo" matTooltipPosition="left">
                            <mat-icon>visibility</mat-icon>
                          </button>
                          <button mat-icon-button color="accent" *ngIf="element.colorAutorizar === 'gray'" matTooltip="Proceso Inactivo" matTooltipPosition="left">
                            <mat-icon>visibility</mat-icon>
                          </button>
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="fecha">
                      <th mat-header-cell *matHeaderCellDef> Fecha </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="col-center"> {{ element.fechaOrdenTrabajo | date }} </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="folio">
                      <th mat-header-cell *matHeaderCellDef> Folio </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="col-center"> OT {{element.folio}} - {{element.idOrdenTrabajo}} </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="elaboro">
                      <th mat-header-cell *matHeaderCellDef> Elaboro </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="col-center"> {{element.usuarioOrdenTrabajo}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="validarOrden">
                      <th mat-header-cell *matHeaderCellDef> Validar </th>
                      <td mat-cell *matCellDef="let element; let i = index">
                        <span class="col-center">
                          <button (click)="validateOrder(element, dataSource.filteredData.indexOf(element))" mat-raised-button color="primary" matTooltip="Validar Orden de Trabajo" matTooltipPosition="left">
                            Validar
                          </button>
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="cancelarOrden">
                      <th mat-header-cell *matHeaderCellDef> Cancelar </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="col-center">
                          <button (click)="openDialogDeleteOrden(element)" mat-icon-button *ngIf="element.colorEliminarOrdenTrabajo === 'green'" color="primary"
                            matTooltip="Cancelar Orden de Trabajo" matTooltipPosition="left">
                            <mat-icon>block</mat-icon>
                          </button>
                          <button mat-icon-button color="accent" *ngIf="element.colorEliminarOrdenTrabajo === 'gray'" matTooltip="Proceso Inactivo"
                            matTooltipPosition="left">
                            <mat-icon>block</mat-icon>
                          </button>
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="comprobante">
                      <th mat-header-cell *matHeaderCellDef> Comprobante </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="col-center">
                          <button mat-icon-button color="primary" (click) = "descargarOrdenTrabajo(element)" matTooltip="Descargar Comprobante" matTooltipPosition="left">
                            <mat-icon>cloud_download</mat-icon>
                          </button>
                        </span>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></tr>
                  </table>

                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" [class.example-element-row]="element.estatus === 1" [class.example-expanded-row]="expandedElements === element"
            (click)="element.estatus === 1 &&  element.estatus === 1 && toggleRow(element)">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <mat-paginator #paginatorMat [pageSizeOptions]="[10, 20, 30, 40, 50, 60]" showFirstLastButtons></mat-paginator>
      </div>

      <div fxLayout="row wrap" *ngIf="noSolicitud">
        <div fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" style="text-align: center">
          <h1>No hay solicitudes autorizadas hasta el momento</h1>
        </div>
      </div>

      <div fxLayout="row wrap" *ngIf="!solicitudes.length && !noSolicitud">
        <div fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100">
          <div class="wrap-spiner">
            <mat-spinner [diameter]="40"></mat-spinner>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

    <mat-expansion-panel (opened)="getResources(3)">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Maquinaria / Equipo
        </mat-panel-title>
        <mat-panel-description>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div class="container-table">
        <table #innerTableRequest mat-table #outerSort="matSort" [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8 mb"
          matSort>
          <ng-container matColumnDef="verSolicitud">
            <th mat-header-cell *matHeaderCellDef> Ver Solicitud </th>
            <td mat-cell *matCellDef="let element">
              <span class="col-center">
                <button *ngIf="element.estatus === 1" (click)="openDialogRequest(element.idSolicitud, element.idTipo)" mat-icon-button color="primary"
                  matTooltip="Ver Solicitud" matTooltipPosition="left">
                  <mat-icon>visibility</mat-icon>
                </button>
                <button mat-icon-button *ngIf="element.estatus ===  0" color="accent" matTooltip="Proceso Inactivo" matTooltipPosition="left">
                  <mat-icon>visibility</mat-icon>
                </button>
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="fecha">
            <th mat-header-cell *matHeaderCellDef> Fecha </th>
            <td mat-cell *matCellDef="let element">
              <span class="col-center"> {{element.fechaSolicito | date}} </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="folio">
            <th mat-header-cell *matHeaderCellDef> Folio </th>
            <td mat-cell *matCellDef="let element">
              <span class="col-center"> {{element.folio}} </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="empresa">
            <th mat-header-cell *matHeaderCellDef> Empresa </th>
            <td mat-cell *matCellDef="let element">
              <span class="col-center"> {{element.empresa}} </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="contrato">
            <th mat-header-cell *matHeaderCellDef> Contrato </th>
            <td mat-cell *matCellDef="let element">
              <span class="col-center"> {{element.noContrato}} </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="solicitante">
            <th mat-header-cell *matHeaderCellDef> Solicitante </th>
            <td mat-cell *matCellDef="let element">
              <span class="col-center"> {{element.usuarioSolicito}} </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="expandedDetail">
            <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
              <div class="example-element-detail" [@detailExpand]="element == expandedElements ? 'expanded' : 'collapsed'">
                <div class="inner-table mat-elevation-z8" *ngIf="expandedElements">
                  <table #innerTables mat-table #innerSort="matSort" class="orders-table" [dataSource]="dataWorkOrders" matSort>
                    <ng-container matColumnDef="verOrden">
                      <th mat-header-cell *matHeaderCellDef> Ver Orden de Trabajo </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="col-center">
                          <button (click)="openDialogAuthorize(element.idOrdenTrabajo, element.idTipo, element.idSolicitud, 'verOrdenP')" mat-icon-button
                            *ngIf="element.colorAutorizar === 'green'" color="primary" matTooltip="Ver Orden de Trabajo" matTooltipPosition="left">
                            <mat-icon>visibility</mat-icon>
                          </button>
                          <button mat-icon-button color="accent" *ngIf="element.colorAutorizar === 'gray'" matTooltip="Proceso Inactivo" matTooltipPosition="left">
                            <mat-icon>visibility</mat-icon>
                          </button>
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="fecha">
                      <th mat-header-cell *matHeaderCellDef> Fecha </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="col-center"> {{ element.fechaOrdenTrabajo | date }} </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="folio">
                      <th mat-header-cell *matHeaderCellDef> Folio </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="col-center"> OT {{element.folio}} - {{element.idOrdenTrabajo}} </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="elaboro">
                      <th mat-header-cell *matHeaderCellDef> Elaboro </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="col-center"> {{element.usuarioOrdenTrabajo}}</span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="validarOrden">
                      <th mat-header-cell *matHeaderCellDef> Validar </th>
                      <td mat-cell *matCellDef="let element; let i = index">
                        <span class="col-center">
                          <button (click)="validateOrder(element, dataSource.filteredData.indexOf(element))" mat-raised-button color="primary" matTooltip="Validar Orden de Trabajo" matTooltipPosition="left">
                            Validar
                          </button>
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="cancelarOrden">
                      <th mat-header-cell *matHeaderCellDef> Cancelar </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="col-center">
                          <button (click)="openDialogDeleteOrden(element)" mat-icon-button *ngIf="element.colorEliminarOrdenTrabajo === 'green'" color="primary"
                            matTooltip="Cancelar Orden de Trabajo" matTooltipPosition="left">
                            <mat-icon>block</mat-icon>
                          </button>
                          <button mat-icon-button color="accent" *ngIf="element.colorEliminarOrdenTrabajo === 'gray'" matTooltip="Proceso Inactivo"
                            matTooltipPosition="left">
                            <mat-icon>block</mat-icon>
                          </button>
                        </span>
                      </td>
                    </ng-container>

                    <ng-container matColumnDef="comprobante">
                      <th mat-header-cell *matHeaderCellDef> Comprobante </th>
                      <td mat-cell *matCellDef="let element">
                        <span class="col-center">
                          <button mat-icon-button color="primary" (click) = "descargarOrdenTrabajo(element)" matTooltip="Descargar Comprobante" matTooltipPosition="left">
                            <mat-icon>cloud_download</mat-icon>
                          </button>
                        </span>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="innerDisplayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: innerDisplayedColumns;"></tr>
                  </table>

                </div>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" [class.example-element-row]="element.estatus === 1" [class.example-expanded-row]="expandedElements === element"
            (click)=" element.estatus === 1 && element.estatus === 1 && toggleRow(element)">
          </tr>
          <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
        </table>
        <mat-paginator #paginatorMaq [pageSizeOptions]="[10, 20, 30, 40, 50, 60]" showFirstLastButtons></mat-paginator>
      </div>

      <div fxLayout="row wrap" *ngIf="noSolicitud">
        <div fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" style="text-align:center">
          <h1>No hay solicitudes autorizadas hasta el momento</h1>
        </div>
      </div>

      <div fxLayout="row wrap" *ngIf="!solicitudes.length && noSolicitud">
        <div fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100">
          <div class="wrap-spiner">
            <mat-spinner [diameter]="40"></mat-spinner>
          </div>
        </div>
      </div>
    </mat-expansion-panel>

  </mat-accordion>
</div>