
<div class="wrap-leyenda">
  <p *ngIf="option==='plan-trabajo'">PLAN DE TRABAJO</p>
  <p *ngIf="option==='reporte-conceptos-ejecutados'">REPORTE DE CONCEPTOS EJECUTADOS</p>
  <p *ngIf="option==='reporte-subcontratos'">REPORTE DE SUBCONTRATOS</p>
  <p *ngIf="option==='reporte-mano-obra'">REPORTE DE MANO DE OBRA</p>
  <p *ngIf="option==='reporte-maquinaria-equipo'">REPORTE DE MAQUINARIA Y EQUIPO</p>
  <p *ngIf="option==='reporte-materiales'">REPORTE DE MATERIALES</p>
  <p *ngIf="option==='reporte-ingresos-egresos'">REPORTE DE INGRESOS Y EGRESOS</p>
  <p *ngIf="option==='validacion'">OBRAS PARA VALIDACIONES</p>
  <p *ngIf="option==='bitacora-obra'">BITÁCORA DE OBRA</p>
</div>

<mat-form-field class="margin-333" style="width: 98%">
  <input matInput placeholder="Filtrar Obras" value="" (keyup)='updateFilter($event)'>
</mat-form-field>

<div fxLayout="row wrap" *ngIf="(obs$ | async) as obras">
  <ng-container *ngIf="obras.length; else loading">
    <div *ngFor="let obra of obras" fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">

      <mat-card class="user-card p-0">
        <mat-card-title>
          <div class="card-title-text obra">

            
            <a *ngIf="obra && accesoBitacora && option==='plan-trabajo' && obra.cierre === 0" class="toolbar-avatar md mr-1" [routerLink]="['/ejecucion-proyecto/plan-trabajo', obra.idObra]" >
              <img src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="">
            </a>
            <a *ngIf="obra && !accesoBitacora && option==='plan-trabajo'" class="toolbar-avatar md mr-1">
              <img src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="">
            </a>
            <a *ngIf="obra && accesoBitacora && option==='reporte-conceptos-ejecutados' && obra.cierre === 0" class="toolbar-avatar md mr-1" [routerLink]="['/ejecucion-proyecto/reporte-conceptos-ejecutados', obra.idObra]" >
              <img src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="">
            </a>
            <a *ngIf="obra && !accesoBitacora && option==='reporte-conceptos-ejecutados'" class="toolbar-avatar md mr-1">
              <img src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="">
            </a>
            <a *ngIf="obra && accesoBitacora && option==='reporte-subcontratos' && obra.cierre === 0" class="toolbar-avatar md mr-1" [routerLink]="['/ejecucion-proyecto/reporte-subcontratos', obra.idObra]" >
              <img src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="">
            </a>
            <a *ngIf="obra && !accesoBitacora && option==='reporte-subcontratos'" class="toolbar-avatar md mr-1">
              <img src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="">
            </a>
            <a *ngIf="obra && accesoBitacora && option==='reporte-mano-obra' && obra.cierre === 0" class="toolbar-avatar md mr-1" [routerLink]="['/ejecucion-proyecto/reporte-mano-obra', obra.idObra]" >
              <img src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="">
            </a>
            <a *ngIf="obra && !accesoBitacora && option==='reporte-mano-obra'" class="toolbar-avatar md mr-1">
              <img src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="">
            </a>
            <a *ngIf="obra && accesoBitacora && option==='reporte-materiales' && obra.cierre === 0" class="toolbar-avatar md mr-1" [routerLink]="['/ejecucion-proyecto/reporte-materiales', obra.idObra]" >
              <img src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="">
            </a>
            <a *ngIf="obra && !accesoBitacora && option==='reporte-materiales'" class="toolbar-avatar md mr-1">
              <img src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="">
            </a>
            <a *ngIf="obra && accesoBitacora && option==='reporte-maquinaria-equipo' && obra.cierre === 0" class="toolbar-avatar md mr-1" [routerLink]="['/ejecucion-proyecto/reporte-maquinaria-equipo', obra.idObra]" >
              <img src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="">
            </a>
            <a *ngIf="obra && !accesoBitacora && option==='reporte-maquinaria-equipo'" class="toolbar-avatar md mr-1">
              <img src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="">
            </a>
            <a *ngIf="obra && accesoBitacora && option==='reporte-ingresos-egresos' && obra.cierre === 0" class="toolbar-avatar md mr-1" [routerLink]="['/ejecucion-proyecto/reporte-ingresos-egresos', obra.idObra]" >
              <img src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="">
            </a>
            <a *ngIf="obra && !accesoBitacora && option==='reporte-ingresos-egresos'" class="toolbar-avatar md mr-1">
              <img src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="">
            </a>
            <a *ngIf="obra && accesoBitacora && option==='validacion' && obra.cierre === 0" class="toolbar-avatar md mr-1">
              <img src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="">
            </a>
            <span class="title-card-catalogs">{{obra.noContrato}} - <span> {{obra.nombreObra}} </span></span>
            <span fxFlex></span>
            <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
              <mat-icon class="">more_vert</mat-icon>
            </button>
            <mat-menu #userMenu="matMenu">

              <button 
              *ngIf="accesoBitacora && option==='plan-trabajo' && obra.cierre === 0" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/plan-trabajo', obra.idObra]">
              Plan de Trabajo</button>

              <button 
              *ngIf="option==='plan-trabajo'" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/lista-plan-trabajo', obra.idObra]">
              Ver Plan de Trabajo</button>
              
              <button 
              *ngIf="accesoBitacora && option==='reporte-conceptos-ejecutados' && obra.cierre === 0" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/reporte-conceptos-ejecutados', obra.idObra]">
              Reporte de Conceptos Ejecutados</button>

              <button 
              *ngIf="option==='reporte-conceptos-ejecutados'" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/lista-reportes-conceptos-ejecutados', obra.idObra]">
              Ver Reportes</button>

              <button 
              *ngIf="option==='reporte-conceptos-ejecutados'" 
              mat-menu-item 
              (click) = "exportarReporte(obra.idObra, 'conceptos-ejecutados')">
              Exportar Reportes</button>

              <button 
              *ngIf="accesoBitacora && option==='reporte-subcontratos' && obra.cierre === 0" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/reporte-subcontratos', obra.idObra]">
              Reporte Subcontratos</button>

              <button 
              *ngIf="option==='reporte-subcontratos'" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/lista-reportes-subcontratos', obra.idObra]">
              Ver Reportes</button>

              <button 
              *ngIf="option==='reporte-subcontratos'" 
              mat-menu-item 
              (click) = "exportarReporte(obra.idObra, 'subcontratos')">
              Exportar Reportes</button>

              <button 
              *ngIf="accesoBitacora && option==='reporte-mano-obra' && obra.cierre === 0" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/reporte-mano-obra', obra.idObra]">
              Reporte Mano Obra</button>

              <button 
              *ngIf="option==='reporte-mano-obra'" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/lista-reportes-mano-obra', obra.idObra]">
              Ver Reportes</button>

              <button 
              *ngIf="option==='reporte-mano-obra'" 
              mat-menu-item 
              (click) = "exportarReporte(obra.idObra, 'mano-obra')">
              Exportar Reportes</button>

              <button 
              *ngIf="accesoBitacora && option==='reporte-materiales' && obra.cierre === 0" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/reporte-materiales', obra.idObra]">
              Reporte Materiales</button>

              <button 
              *ngIf="option==='reporte-materiales'" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/lista-reportes-materiales', obra.idObra]">
              Ver Reportes</button>

              <button 
              *ngIf="option==='reporte-materiales'" 
              mat-menu-item 
              (click) = "exportarReporte(obra.idObra, 'materiales')">
              Exportar Reportes</button>

              <button 
              *ngIf="accesoBitacora && option==='reporte-maquinaria-equipo' && obra.cierre === 0" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/reporte-maquinaria-equipo', obra.idObra]">
              Reporte Maquinaria y Equipo</button>

              <button 
              *ngIf="option==='reporte-maquinaria-equipo'" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/lista-reportes-maquinaria-equipo', obra.idObra]">
              Ver Reportes</button>

              <button 
              *ngIf="option==='reporte-maquinaria-equipo'" 
              mat-menu-item 
              (click) = "exportarReporte(obra.idObra, 'maquinaria-equipo')">
              Exportar Reportes</button>

              <button 
              *ngIf="accesoBitacora && option==='reporte-ingresos-egresos' && obra.cierre === 0" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/reporte-ingresos-egresos', obra.idObra]">
              Reporte Ingresos y Egresos</button>

              <button 
              *ngIf="option==='reporte-ingresos-egresos'" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/lista-reportes-ingresos-egresos', obra.idObra]">
              Ver Reportes</button>

              <button 
              *ngIf="option==='reporte-ingresos-egresos'" 
              mat-menu-item 
              (click) = "exportarReporte(obra.idObra, 'ingresos-egresos')">
              Exportar Reportes</button>

              <!-- <button 
              *ngIf="option==='validacion'" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/validacion-conceptos-ejecutados', obra.idObra]">
              Validación de Conceptos Ejecutados</button> -->

              <div id="validar-reporte-conceptos" #myIdVC>
                <button 
                mat-menu-item 
                [routerLink]="['/ejecucion-proyecto/validacion-conceptos-ejecutados', obra.idObra]"
                *ngIf= "option==='validacion' && permisosEspecialesPermitidos.includes(myIdVC?.id) && obra.cierre === 0">
                Validación de Conceptos Ejecutados</button>
              </div>

              <!-- <button 
              *ngIf="option==='validacion'" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/validacion-subcontratos', obra.idObra]">
              Validación de Subcontratos</button> -->

              <div id="validar-reporte-subcontratos" #myIdVS>
                <button 
                mat-menu-item 
                [routerLink]="['/ejecucion-proyecto/validacion-subcontratos', obra.idObra]"
                *ngIf= "option==='validacion' && permisosEspecialesPermitidos.includes(myIdVS?.id) && obra.cierre === 0">
                Validación de Subcontratos</button>
              </div>

              <button 
              *ngIf="option==='validacion'" 
              mat-menu-item 
              (click) = "exportarReporte(obra.idObra, 'validacion')">
              Exportar Validaciones</button>
              
              <button 
              *ngIf="option==='bitacora-obra' && obra.cierre === 0" 
              mat-menu-item 
              (click)="abrirAltaComentario(obra.idObra)">
              Agregar Nota</button>

              <button 
              *ngIf="option==='bitacora-obra'" 
              mat-menu-item 
              (click) = "exportarReporte(obra.idObra, 'bitacora-obra')">
              Exportar Bitácora</button>

            </mat-menu>
          </div>
          <mat-divider></mat-divider>
        </mat-card-title>

        <mat-card-content>
          <div class="user-details">
            <div class="wrap-detalles-obra">
              <p class="p-info-catalogs">
                <span>Fecha de Inicio:</span> {{obra.fechaInicio | date}}</p>
              <p class="p-info-catalogs">
                <span>Fecha de Termino:</span> {{obra.fechaFin | date}}</p>
              <p class="p-info-catalogs">
                <span>Lugar:</span> {{obra.lugarTrabajo}}</p>
              <!-- <p class="p-info-catalogs">
                <span>Supervisor Encargado:</span>
                {{obra.supervisor.nombre}} {{obra.supervisor.apellidoPaterno}} {{obra.supervisor.apellidoMaterno}}
              </p> -->
              <p class="p-info-catalogs">
                <span>Supervisor(es) Encargado(s):</span> 
                <b class="text-supervisor-obra" *ngFor="let supervisor of obra.supervisor">
                  - {{supervisor.nombre}} {{supervisor.apellidoPaterno}} {{supervisor.apellidoMaterno}}
                </b>
              </p>
              <p class="p-info-catalogs"><span>Monto Total Contrato:</span> {{obra.presupuestoTotal | currency}}</p>
              <p class="alert-close" *ngIf="obra.cierre === 1"><span class="indicator-close"></span>Cerrada en {{obra.fechaCierre | date}}</p>
            </div>

            <div class="wrap-buttons">      
              <button
                mat-raised-button color="primary" 
                (click)="viewComments(obra.idObra)"  
                *ngIf="option==='bitacora-obra'" >
                Ver Bitácora
              </button>
            </div>

            <!-- <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Comentarios Bitácora
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="wrap-container-comments">
                  <app-bitacora-obra [idObra] = "obra.idObra"></app-bitacora-obra>
                </div>
              </mat-expansion-panel>
            </mat-accordion> -->


          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="wrap-loading-catalog">
      <mat-spinner [diameter]="60" *ngIf = "usuarioIdentificado"></mat-spinner>
      <div *ngIf = "!usuarioIdentificado">
        <h3>NO TIENES PROYECTOS ASIGNADOS</h3>
      </div>
    </div>
  </ng-template>
</div>

<mat-paginator [pageSizeOptions]="[6, 12, 24, 100]"></mat-paginator>