
<mat-form-field class="margin-333" style="width: 98%">
  <input matInput placeholder="Filtrar Obras" value="" (keyup)='updateFilter($event)'>
</mat-form-field>

<div fxLayout="row wrap" *ngIf="(obs$ | async) as obras">
  <ng-container *ngIf="obras.length; else loading">
    <div *ngFor="let obra of obras" fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">

      <mat-card class="user-card p-0">
        <mat-card-title>
          <div class="card-title-text obra">

            
            <a *ngIf="obra && accesoBitacora && option==='plan-trabajo'" class="toolbar-avatar md mr-1" [routerLink]="['/ejecucion-proyecto/plan-trabajo', obra.idObra]" >
              <img src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="">
            </a>
            <a *ngIf="obra && accesoBitacora && option==='reporte-conceptos-ejecutados'" class="toolbar-avatar md mr-1" [routerLink]="['/ejecucion-proyecto/reporte-conceptos-ejecutados', obra.idObra]" >
              <img src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="">
            </a>
            <a *ngIf="obra && accesoBitacora && option==='reporte-subcontratos'" class="toolbar-avatar md mr-1" [routerLink]="['/ejecucion-proyecto/reporte-subcontratos', obra.idObra]" >
              <img src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="">
            </a>
            <a *ngIf="obra && accesoBitacora && option==='validacion'" class="toolbar-avatar md mr-1">
              <img src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="">
            </a>
            <span class="title-card-catalogs">{{obra.noContrato}} - <span> {{obra.nombreObra}} </span></span>
            <span fxFlex></span>
            <button mat-icon-button [matMenuTriggerFor]="userMenu" class="">
              <mat-icon class="">more_vert</mat-icon>
            </button>
            <mat-menu #userMenu="matMenu">
              <!-- <a mat-menu-item routerLink="/alta-proyecto/ver-obra/{{obra.idObra}}/bitacora/{{obra.idObra}}">Ver</a> -->
  

              <button 
              *ngIf="accesoBitacora && option==='plan-trabajo'" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/plan-trabajo', obra.idObra]">
              Plan de Trabajo</button>

              <button 
              *ngIf="option==='plan-trabajo'" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/lista-plan-trabajo', obra.idObra]">
              Ver Plan de Trabajo</button>
              
              <button 
              *ngIf="accesoBitacora && option==='reporte-conceptos-ejecutados'" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/reporte-conceptos-ejecutados', obra.idObra]">
              Reporte de Conceptos Ejecutados</button>

              <button 
              *ngIf="option==='reporte-conceptos-ejecutados'" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/lista-reportes-conceptos-ejecutados', obra.idObra]">
              Ver Reportes</button>

              <button 
              *ngIf="accesoBitacora && option==='reporte-subcontratos'" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/reporte-subcontratos', obra.idObra]">
              Reporte Subcontratos</button>

              <button 
              *ngIf="option==='reporte-subcontratos'" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/lista-reportes-subcontratos', obra.idObra]">
              Ver Reportes</button>

              <button 
              *ngIf="accesoBitacora && option==='validacion'" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/validacion-plan-trabajo', obra.idObra]">
              Validación Plan de Trabajo</button>

              <button 
              *ngIf="accesoBitacora && option==='validacion'" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/validacion-conceptos-ejecutados', obra.idObra]">
              Validación de Conceptos Ejecutados</button>

              <button 
              *ngIf="accesoBitacora && option==='validacion'" 
              mat-menu-item 
              [routerLink]="['/ejecucion-proyecto/validacion-subcontratos', obra.idObra]">
              Validación de Subcontratos</button>
              
              <button 
              mat-menu-item 
              (click)="abrirAltaComentario(obra.idObra)">
              Comentario Obra</button>
            </mat-menu>
          </div>
          <mat-divider></mat-divider>
        </mat-card-title>

        <mat-card-content>
          <div class="user-details">
            <div class="wrap-detalles-obra">
              <p class="p-info-catalogs">
                <span>Fecha de Inicio:</span> {{obra.fechaInicio | date}}</p>
              <p class="p-info-catalogs">
                <span>Fecha de Termino:</span> {{obra.fechaFin | date}}</p>
              <p class="p-info-catalogs">
                <span>Lugar:</span> {{obra.lugarTrabajo}}</p>
              <!-- <p class="p-info-catalogs">
                <span>Supervisor Encargado:</span>
                {{obra.supervisor.nombre}} {{obra.supervisor.apellidoPaterno}} {{obra.supervisor.apellidoMaterno}}
              </p> -->
              <p class="p-info-catalogs">
                <span>Supervisor(es) Encargado(s):</span> 
                <b class="text-supervisor-obra" *ngFor="let supervisor of obra.supervisor">
                  - {{supervisor.nombre}} {{supervisor.apellidoPaterno}} {{supervisor.apellidoMaterno}}
                </b>
              </p>
              <p class="p-info-catalogs">
                <span>Monto Total Contrato:</span> {{obra.presupuestoTotal | currency}}</p>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="wrap-loading-catalog">
      <mat-spinner [diameter]="60"></mat-spinner>
    </div>
  </ng-template>
</div>

<mat-paginator [pageSizeOptions]="[6, 12, 24, 100]"></mat-paginator>