<mat-card class="p-0">
  <mat-card-title class="wrap-title">
    <!-- <img src="{{rutaImg}}/{{empresa.imagen}}" alt=""> -->
    <!-- <div class="card-title-text">{{empresa.nombre}}</div> -->
    <mat-divider></mat-divider>
  </mat-card-title>
  <mat-card-content>
    <div class="mb-1">
      <p>Cargar Imágen</p>
      <input type="file" style="visibility: hidden;" type="file" #fileInput ng2FileSelect [uploader]="uploaderLogo" />
    </div>

    <div fxLayout="row" fxLayoutWrap="wrap" style="justify-content: center">
      <div class="mb-1">
        <div ng2FileDrop (click)="fileInput.click()" [ngClass]="{'dz-file-over': hasBaseDropZoneOver}" [uploader]="uploaderLogo"
          (fileOver)="fileOverBase($event)" class="fileupload-drop-zone-logo-div">
          <p>Logo empresa</p>
          <p>Arrastra o click sobre la imagen o zona punteada</p>

          <div *ngIf="uploaderLogo.queue.length; else tableNoData">
            <div *ngFor="let item of uploaderLogo.queue ">
              <div *ngIf="!item.isSuccess" class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" [ngStyle]="{ 'width': item.progress + '%' }"></div>
                <mat-progress-bar class="" color="primary" mode="determinate" [value]="item.progress">
                </mat-progress-bar>
              </div>
            </div>
          </div>
          <div *ngIf = "!empresa">
            <div class="wrap-loading-catalog">
              <mat-spinner [diameter]="40"></mat-spinner>
            </div>
          </div>
          <img *ngIf = "empresa" class="fileupload-drop-zone-logo" src="http://{{host}}/{{rutaImg}}/files/{{empresa.imagen}}" alt="">
        </div>

      </div>

    </div>

    <div class="cont-btns">
      <button mat-raised-button [routerLink]="'/catalogos-administrativos/empresas'">Regresar</button>
    </div>

  </mat-card-content>
</mat-card>