.wrap-buttons{
  text-align: right;
}

.wrap-detalles-obra{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.wrap-detalles-obra p{
  margin-bottom: 0;
}

.wrap-detalles-obra p span{
  font-weight: bold;
}

.text-supervisor-obra{
  display: block;
  font-weight: 400;
  padding-left: 10px;
}

.card-title-text.status-perfecto{
  background: green;
}

.card-title-text.status-estable{
  background: greenyellow;
}

.card-title-text.status-alerta{
  background: orange;
}

.card-title-text.status-peligro{
  background: red;
}

.alert-close{
  display: grid;
  grid-template-columns: 20px auto;
  grid-gap: 8px;
  align-items: flex-start;
  font-weight: 500;
  .indicator-close{
    width: 20px;
    height: 20px;
    display: inline-block;
    background: red;
    border-radius: 50%;
  }
}

@media screen and (max-width:599px){
  .wrap-detalles-obra{
    grid-template-columns: 1fr;
    grid-gap: 10px 0;
  }
}
