<div class="container-alcance-resumen">
  <p class="title-section">
    ALCANCE
  </p>
  <div class="scrollable-wrap">
    <div class="wrap-alcance-resumen title-wrap">
      <div class="col-1 title-prog tipo-1">
        <div>Periodo</div>
        <div>Corte</div>
      </div>
      <div class="col-2 title-prog">
        <p class="encabezado-col">Programa de Subcontrato</p>
        <div class="tipo-2">
          <div>Programado</div>
          <div>Ejecutado</div>
          <div>Diferencia</div>
        </div>
      </div>
    </div>
    
    <div class="wrap-alcance-resumen content-wrap" *ngFor="let semana of semanas">
      <div class="col-1 tipo-1">
        <div>{{semana.periodo}}</div>
        <div>{{semana.corte}}</div>
      </div>
      <div class="col-2  tipo-2">
        <div>{{semana.programado}}%</div>
        <div>{{semana.ejecutado}}%</div>
        <div>{{semana.diferencia}}%</div>
      </div>
    </div>
  </div>

</div>