.wrap-buttons{
  text-align: right;
}

mat-card{
  height: 150px !important;
}

::ng-deep .success-dialog {
  // color: white !important;
  // background-color: #3b9a4a !important;
  .mat-simple-snackbar-action {
      color: #3b9a4a !important;
  }
}