<mat-card class="p-0 container-create-user">
  <mat-card-title class="">
    <div class="card-title-text">Llena el formulario para la creación de un concepto extraordinario</div>
    <mat-divider></mat-divider>
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="createExtraordinaryConceptForm" (submit)="createExtraordinary()">
      <div fxLayout="row wrap">

        <div fxFlex="100" fxFlex.gt-xs="100">
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput type="number" name="noConcepto" formControlName="noConcepto" placeholder="No. Concepto" value="">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="createExtraordinaryConceptForm.controls['noConcepto'].hasError('required') && createExtraordinaryConceptForm.controls['noConcepto'].touched"
                class="form-error-msg">
                El número del concepto extraordinario es un campo requerido
              </small>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="descripcion" formControlName="descripcion" placeholder="Descripción" value="">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="createExtraordinaryConceptForm.controls['descripcion'].hasError('required') && createExtraordinaryConceptForm.controls['descripcion'].touched"
                class="form-error-msg">
                La descripción del concepto extraordinario es un campo requerido
              </small>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="partida" formControlName="partida" placeholder="Partida" value="">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="createExtraordinaryConceptForm.controls['partida'].hasError('required') && createExtraordinaryConceptForm.controls['partida'].touched"
                class="form-error-msg">
                Partida es un campo requerido
              </small>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="unidad" formControlName="unidad" placeholder="Unidad" value="">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="createExtraordinaryConceptForm.controls['unidad'].hasError('required') && createExtraordinaryConceptForm.controls['unidad'].touched"
                class="form-error-msg">
                Unidad es un campo requerido
              </small>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput type="number" name="cantidad" formControlName="cantidad" placeholder="Cantidad" value="">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="createExtraordinaryConceptForm.controls['cantidad'].hasError('required') && createExtraordinaryConceptForm.controls['cantidad'].touched"
                class="form-error-msg">
                La cantidad es un campo requerido
              </small>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="precioUnitario" formControlName="precioUnitario" placeholder="Precio Unitario" mask="separator.2" thousandSeparator=",">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="createExtraordinaryConceptForm.controls['precioUnitario'].hasError('required') && createExtraordinaryConceptForm.controls['precioUnitario'].touched"
                class="form-error-msg">
                El precio unitario es un campo requerido
              </small>
            </div>
          </div>
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="importe" formControlName="importe" placeholder="Importe" mask="separator.2" thousandSeparator=",">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="createExtraordinaryConceptForm.controls['importe'].hasError('required') && createExtraordinaryConceptForm.controls['importe'].touched"
                class="form-error-msg">
                El importe es un campo requerido
              </small>
            </div>
          </div>
         
        </div>

      </div>

      <div class="cont-btns">
        <button mat-raised-button color="primary" [disabled]="createExtraordinaryConceptForm.invalid" type="submit">Agregar</button>
        <!-- <button mat-raised-button [routerLink]="'/configuracion/perfiles'">Cancelar</button> -->
      </div>
    </form>
  </mat-card-content>
</mat-card>