.wrap-add-montos{
  margin-top: 20px;
}

.mat-form-field{
  width: 100% !important;
}

.cont-btn{
  text-align: right;
}

.tipo-presupuesto{
  padding: 5px;
  margin-bottom: 15px;
}

h4{
  color: gray;
  margin: 10px 0;
}

.tipo-presupuesto .titulo-tipo-presupuesto{
  color: #4caf50;
  border-bottom: 1px solid;
  text-align: right;
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;
}