.wrap-add-montos{
  margin-top: 20px;
}

.mat-form-field{
  width: 100% !important;
}

.cont-btn{
  text-align: right;
}

.tipo-presupuesto{
  padding: 5px;
  margin-bottom: 15px;
}

h4{
  color: gray;
  margin: 10px 0;
}

.tipo-presupuesto .titulo-tipo-presupuesto{
  color: gray;
  border-bottom: 1px solid;
  text-align: right;
  padding: 5px;
  font-size: 12px;
  text-transform: uppercase;
}

.tipo-presupuesto .titulo-tipo-presupuesto.pto{
  color: #4caf50;
}

.tipo-presupuesto .titulo-tipo-presupuesto.ptm{
  color: tomato;
}

.tipo-presupuesto .titulo-tipo-presupuesto.pmo{
  color: cadetblue;
}

.tipo-presupuesto .titulo-tipo-presupuesto.ps{
  color: orange;
}

.tipo-presupuesto .titulo-tipo-presupuesto.pme{
  color: slategrey;
}
