<div class="container-documentos-expediente">
  <p class="title-section">
    Documentos
  </p>
  <div class="scrollable-wrap">
    <div class="wrap-documentos-expediente title-wrap">
      <div class="col-1 title-prog">
        <div>Documento</div>
      </div>
      <div class="col-2 title-prog">
        <div>Responsable</div>
      </div>
      <div class="col-3 title-prog">
        <div>Estatus</div>
      </div>
      <div class="col-4 title-prog">
        <div>Fecha de Carga</div>
      </div>
    </div>

    <div class="fases" *ngFor="let fase of fases">
      <div class="title-wrap">
        <h5 class="title">{{fase.tipo}}</h5>
      </div>
      <div class="wrap-documentos-expediente content-wrap" *ngFor = "let documento of fase.documento">
        <div class="col-1 info-doc">
          <div class="align-left">{{documento.nombre}}</div>
        </div>
        <div class="col-2 info-doc">
          <div>{{documento.responsable}}</div>
        </div>
        <div class="col-3 info-doc">
          <div [ngStyle] = "{'color':documento.estatus === 'CARGADO' ? 'green' : 'red' }">{{documento.estatus}}</div>
        </div>
        <div class="col-4 info-doc">
          <div *ngIf="!documento.fechaCarga">-</div>
          <div *ngIf="documento.fechaCarga">{{documento.fechaCarga | date}}</div>
        </div>
      </div>
    </div>

  </div>

</div>