.title-section{
  background: #3f3f3f;
  color: white;
  text-align: center;
  padding: 5px;
  text-transform: uppercase;
}

.wrap-title{
  width: 100%;
  text-align: center;
  .title-graphic{
    text-transform: uppercase
  }
}