.wrap-title img{
  max-width: 200px;
}

.fileupload-drop-zone-logo{
  width: 100%;
}
  
.fileupload-drop-zone-logo-div{
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px dashed rgba(0, 0, 0, .15);
  margin: 10px;
  cursor: pointer;
}

.cont-btns{
  text-align: right;
}

.wrapper-settings{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 435px;
}

table {
  width: 100%;
}

.container-table-products{
  padding: 10px;
}

.wrap-btn{
  margin-bottom: 10px;
}

.wrap-catalog-list{
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 5px;
}

// .icon-excel-status{}

.icon-excel-status img{
  width: 70px;
}

// .message{}
.message p{
  margin-bottom: 0;
  font-size: 16px;
  color: #4caf50;
}

.mat-delete{
  // background: #ffc107;
  background: #d9534f;
  color: white;
}

.wrap-button{
  margin: 0px -15px 15px 0px;
  text-align: right;
}

.wrap-button button{
  margin: 0 10px;
}

.wrap-catalog {
  margin: 10px 0 20px;
}


// TABLE
.example-container {
  height: 400px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  // min-width: 300px;

}

table {
  width: 100%;
}

.mat-header-row {
  position: sticky;
  top: 0;
  z-index: 100;
}

.mat-row.example-detail-row {
  min-height: 0 !important;
}

.mat-row.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

.mat-row.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row .mat-cell {
  border-bottom-width: 0;
}

.mat-cell{
  font-size: 12px;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.tag-description{
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

.show-description {
  display: none;
}

.show-button {
  display: inline-block;
}

// EXPANSION
.wrap-catalog .mat-expansion-panel-header-title,
.wrap-catalog .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.wrap-catalog .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.wrap-catalog .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

@media(max-width: 959px) {
  .mobile-label {
    width: auto;
    display: inline-block;
    font-weight: 500;
    margin-right: 15px;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row { 
    display: grid;
    padding: 8px 10px;
    width: 100%;
    // max-width: 600px;
    border: 1px solid lightgray;
    margin: 10px 0;
    border-radius: 3px
    // flex-direction: column;
    // border: 1px solid red;
    // align-items: start;
  }

  .mat-row::after {
    min-height: 0;
    display: block;
  }

  .example-element-detail {
    overflow: hidden;
    display: block;
  }

  .example-element-description {
    padding: 5px;
    text-align: left;
    // border: 1px solid red;
  }

  .show-description {
    display: inline-block;
  }
  
  .show-button, .show-row {
    display: none;
  }
}