<!-- <mat-form-field class="margin-333" style="width: 98%">
  <input matInput placeholder="Filtrar Plan de Trabajo" value="" (keyup)='updateFilter($event)'>
</mat-form-field> -->

<div class="wrap-button">
  <button mat-raised-button color="primary" [routerLink]="'/ejecucion-proyecto/proyectos/plan-trabajo'">Regresar</button>
</div>

<div fxLayout="row wrap" *ngIf="(obs$ | async) as worksPlan">
  <ng-container *ngIf="worksPlan.length; else loading">
    <div *ngFor="let plan of worksPlan" fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">

      <mat-card class="user-card p-0">
        <mat-card-title>
          <div class="card-title-text obra">
            <span fxFlex></span>
            <button mat-icon-button [matMenuTriggerFor]="planMenu" class="">
              <mat-icon class="">more_vert</mat-icon>
            </button>
            <mat-menu #planMenu="matMenu">
              <!-- <a mat-menu-item routerLink="modificar-plan-trabajo/{{plan.idPlanTrabajo}}">Modificar Plan de Trabajo</a>
              <button mat-menu-item (click)="openDialoAlertDelete(plan)">Eliminar Plan</button> -->
            </mat-menu>
          </div>
          <mat-divider></mat-divider>
        </mat-card-title>

        <mat-card-content>
          <div class="user-details">
            <div class="wrap-detalles-tarea">
              <p class="p-info-catalogs">
                <span>Fecha de Inicio:</span> {{plan.fechaInicio | date}}</p>
              <p class="p-info-catalogs">
                <span>Fecha de Termino:</span> {{plan.fechaFinal | date}}</p>
            </div>
            <div class="wrap-observacion">
              <p class="tit-observacion">Observación:</p>
              <p>{{plan.observacion}}</p>
            </div>
          </div>

          <mat-accordion>
            <mat-expansion-panel>
              
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Conceptos
                </mat-panel-title>
                <mat-panel-description>
                  Conceptos agregados al plan de trabajo
                </mat-panel-description>
              </mat-expansion-panel-header>
              <ul class="list-concepts">
                <li *ngFor="let concepto of conceptosSeleccionados">
                  <p><b>No. Concepto:</b> {{concepto.noConcepto}}</p>
                  <p><b>Descripción:</b> {{concepto.descripcion}}</p>
                  <p><b>Cantidad Planeada:</b> {{concepto.cantidadPlaneada}}</p>
                  <p><b>Importe Planeado:</b> {{concepto.importePlaneado |currency}}</p>
                </li>
              </ul>
              <div class="wrap-cantidad-total">
                <p>El importe total planeado de los conceptos agregados al plan de trabajo es de <b>{{montoImporteConceptosSeleccionados | currency}}</b> </p>
              </div>
            </mat-expansion-panel>
         
          </mat-accordion>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>
  <ng-template #loading>
    <div class="wrap-loading-catalog">
      <mat-spinner [diameter]="60"></mat-spinner>
    </div>
  </ng-template>
</div>

<mat-paginator [pageSizeOptions]="[6, 12, 24, 100]"></mat-paginator>