.wrap-title img{
  max-width: 200px;
}

.fileupload-drop-zone-logo{
  width: 100%;
}
  
.fileupload-drop-zone-logo-div{
  text-align: center;
  border: 1px dashed rgba(0, 0, 0, .15);
  margin: 10px;
  cursor: pointer;
  padding: 5%;
}

.fileupload-drop-zone-logo-div .icon-upload{
  max-width: 130px;
  filter: opacity(0.5);
}

.fileupload-drop-zone-logo-div .indication{
  font-size: 20px;
}

.fileupload-drop-zone-logo-div .o{
  font-size: 18px;
}

.cont-btns{
  text-align: right;
}

.wrapper-settings{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 435px;
}

table {
  width: 100%;
}

.container-table-products{
  padding: 10px;
}

.wrap-btn{
  margin-bottom: 10px;
}

.wrap-catalog-list{
  margin: 10px 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 5px;
}

// .icon-excel-status{}

.icon-excel-status img{
  width: 70px;
}

// .message{}

.message p{
  margin-bottom: 0;
  font-size: 16px;
  color: #4caf50;
}

.wrap-button{
  margin: 10px 7px;
  text-align: right;
}

.container-upload{
  display: grid;
  grid-template-columns: 60px 1fr;
  // border: 1px solid red;
  align-items: center;
  grid-gap: 5px;
  padding: 10px 0;
}

.wrap-img img{
  max-width: 40px;
  vertical-align: top;
}

.wrap-uploader {
  // border: 1px solid blue;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.wrap-uploader .progress .mat-progress-bar {
  height: 6px !important;
}

.wrap-uploader .filename, .wrap-uploader .size{
  text-align: left;
  margin-bottom: 5px;
  font-size: 12px;
}

.wrap-uploader .size{
  margin-top: 5px;
}

.wrap-evidence {
  margin: 50px 0 20px 0;
}