.wrap-button{
  text-align: right;
  margin: 20px 5px 20px;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.container-movimientos {
  .wrap-movimientos {
    .total {
      padding: 5px;
      text-align: right;
      font-weight: 500;
      margin-bottom: 10px;
    }
    .wrap-scrollable {
      .row {
        display: grid;
        // grid-template-columns: repeat(7, 1fr);
        grid-template-columns: .5fr .8fr 2fr 1fr 1fr 1fr 1fr;
        justify-items: center;
        grid-gap: 5px;
        &.title {
          color: white;
          padding: 10px;
          border-radius: 5px 5px 0 0;
        }
        &.info {
          border-bottom: 1px solid lightgray;
          font-size: 13px;
          text-align: center;
          padding: 1px 5px;
          align-items: center;
          &:last-child {
            border-bottom: none;
          }
        }
      }
      .item {
        &.buttons {
          width: 80%;
        display: flex;
        justify-content: space-around;
        padding: 5px 0;
        }
      }
      .cont-info {
        // box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
        height: auto;
        max-height: 300px;
        overflow-y: auto;
        padding: 5px 0;
      }
      .cont-add {
        padding: 10px;
        text-align: center;
        border-radius: 0 0 5px 5px;
        // background: darkseagreen;
      }
    }
  }
  .alert-no-data {
    text-align: center;
    color: #f15757;
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
  }
}

@media screen and (max-width:1024px) {
  .container-movimientos {
    .wrap-movimientos {
      overflow-x: auto;
      .wrap-scrollable {
        width: 1024px;
      }
    }
  }
}

.mat-delete{
  color: #f15757;
  // color: white;
 }


.wrap-detalles-tarea{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin-bottom: 10px;
}

.wrap-detalles-tarea p{
  margin-bottom: 0;
}

.wrap-detalles-tarea p span{
  font-weight: bold;
}

.mat-card-title.status-perfecto{
  background: green;
}

.mat-card-title.status-estable{
  background: greenyellow;
}

.mat-card-title.status-alerta{
  background: orange;
}

.mat-card-title.status-peligro{
  background: red;
}

.text-supervisor-obra{
  display: block;
  font-weight: 400;
  padding-left: 10px;
}

.wrap-observacion .tit-observacion{
  font-weight: bold;
  margin: 3px;
}

.mat-form-field + .mat-form-field {
  margin-left: 8px;
}

.monto-total{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
}

.monto-total p{
  margin: 0;
}

.total-p{
  color: #4caf50;
  // margin: 0;
}

.total-e{
  color: orange;
}

table {
  width: 100% !important;
}

.content-center{
  text-align: center;
  margin: 16px 0 0 0 !important;
}

.buttons-report{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3px;
}

// TABLE
.example-container {
  height: 400px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  // min-width: 300px;

}

table {
  width: 100%;
}

.mat-header-row {
  position: sticky;
  top: 0;
  z-index: 100;
}

.mat-row.example-detail-row {
  min-height: 0 !important;
}

.mat-row.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

.mat-row.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row .mat-cell {
  border-bottom-width: 0;
}

.mat-cell{
  font-size: 12px;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.tag-description{
  display: block;
  font-weight: 500;
  margin-bottom: 10px;
}

.mat-table {
  overflow: auto;
  max-height: 500px;
}

.mobile-label {
  display: none;
}

.show-description {
  display: none;
}

.show-button {
  display: inline-block;
}

@media(max-width: 959px) {
  .mobile-label {
    width: auto;
    display: inline-block;
    font-weight: 500;
    margin-right: 15px;
  }

  .mat-header-row {
    display: none;
  }

  .mat-row { 
    display: grid;
    padding: 8px 10px;
    width: 100%;
    // max-width: 600px;
    border: 1px solid lightgray;
    margin: 10px 0;
    border-radius: 3px
    // flex-direction: column;
    // border: 1px solid red;
    // align-items: start;
  }

  .mat-row::after {
    min-height: 0;
    display: block;
  }

  .example-element-detail {
    overflow: hidden;
    display: block;
  }

  .example-element-description {
    padding: 5px;
    text-align: left;
    // border: 1px solid red;
  }

  .show-description {
    display: inline-block;
  }
  
  .show-button, .show-row {
    display: none;
  }
}


@media screen and (max-width:599px){
  .wrap-detalles-obra{
    grid-template-columns: 1fr;
    grid-gap: 10px 0;
  }
}