<div class="container-gral" *ngIf="permisoAcceso">
  <div class="wrap-button" *ngIf="obra">
    <button mat-raised-button color="primary" [routerLink]="'/ejecucion-proyecto/proyectos/reporte-ingresos-egresos'">Regresar</button>
  </div>

   <div  *ngIf="(obs$ | async) as reportes">
    
    <ng-container *ngIf="reportes.length; else loading">
      
      <div class="mat-box-shadow margin-333">
        <ngx-datatable 
        class="material fullscreen bg-white"
        [rows]="reportes"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [scrollbarH]="true"
        [rowHeight]="'auto'"
        [limit]="20"
        [scrollbarH]="true"
        [rowHeight]="50">
  
          <ngx-datatable-column name="No." [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <p  class="content-center">{{ row?.no }}</p>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Fecha" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <p  class="content-center">{{row?.fecha}}</p>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Descripción" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <p  class="content-center">{{row?.descripcion}}</p>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Referencia" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <p  class="content-center">{{row?.referencia.descripcion}}</p>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Ingreso" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <p  class="content-center">{{row?.ingreso | transformCurrency}}</p>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Egreso" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <p  class="content-center">{{row?.egreso | transformCurrency}}</p>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Acumulado" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <p  class="content-center">{{row?.acumulado | transformCurrency}}</p>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Tipo" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <p  class="content-center">{{row?.tipoMovimiento.descripcion}}</p>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Categoria" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <p  class="content-center">{{row?.categoriaMovimientoMonetario.descripcion}}</p>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Acción" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div  class="content-center buttons-report">
                <div id="modificar-reporte" #myIdM>
                  <button mat-icon-button color="accent" *ngIf="permisosEspecialesPermitidos.includes(myIdM?.id) && obra.cierre===0" routerLink="modificar-reporte-ingresos-egresos/{{row?.idMovimientoMonetario}}" > 
                    <mat-icon>edit</mat-icon> 
                  </button>
                </div>
                <div id="eliminar-reporte" #myIdE>
                  <button mat-icon-button color="accent" *ngIf="permisosEspecialesPermitidos.includes(myIdE?.id) && obra.cierre===0" (click)="openDialoAlertDelete(row)" >
                    <mat-icon>delete_sweep</mat-icon>
                  </button>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
      </div>
    </ng-container>

    <ng-template #loading>
      <div class="wrap-loading-catalog">
        <mat-spinner [diameter]="60" *ngIf = "reporteExistente"></mat-spinner>
        <div *ngIf = "!reporteExistente">
          <h3>EL PROYECTO NO CUENTA CON REPORTES REGISTRADOS</h3>
        </div>
      </div>
    </ng-template>
  </div> 


  <!-- <mat-card class="wrap-catalog">
    <div class="example-container mat-elevation-z8">
      <table mat-table [dataSource]="dataSourceNew" multiTemplateDataRows class="mat-elevation-z8" matSort>
        
        <ng-container matColumnDef="no">
          <mat-header-cell *matHeaderCellDef class="center-table" mat-sort-header> No. </mat-header-cell>
          <mat-cell *matCellDef="let reporte" class="center-table"> 
            <span class="mobile-label">No:</span>
            <span *ngIf="reporte.tipoMovimiento.descripcion === 'Costos de Obra'"> {{reporte.no}} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fecha">
          <mat-header-cell *matHeaderCellDef class="center-table" mat-sort-header> Fecha </mat-header-cell>
          <mat-cell *matCellDef="let reporte" class="center-table"> 
            <span class="mobile-label">Fecha:</span>
            <span *ngIf="reporte.tipoMovimiento.descripcion === 'Costos de Obra'"> {{reporte.fecha | date}} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <mat-header-cell *matHeaderCellDef class="center-table" mat-sort-header> Descripción </mat-header-cell>
          <mat-cell *matCellDef="let reporte" class="center-table"> 
            <span class="mobile-label">Descripción:</span>
            <span *ngIf="reporte.tipoMovimiento.descripcion === 'Costos de Obra'"> {{reporte.descripcion}} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="referencia">
          <mat-header-cell *matHeaderCellDef class="center-table" mat-sort-header> Referencia </mat-header-cell>
          <mat-cell *matCellDef="let reporte" class="center-table"> 
            <span class="mobile-label">Referencia:</span>
            <span *ngIf="reporte.tipoMovimiento.descripcion === 'Costos de Obra'"> {{reporte.referencia.descripcion}} </span>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="monto">
          <mat-header-cell *matHeaderCellDef class="center-table" mat-sort-header> Monto </mat-header-cell>
          <mat-cell *matCellDef="let reporte" class="center-table"> 
            <span class="mobile-label">Monto:</span>
            <span *ngIf="reporte.tipoMovimiento.descripcion === 'Costos de Obra'"> {{reporte.monto | transformCurrency}} </span>
          </mat-cell>
        </ng-container>
  
      

        <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
        <mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"></mat-row>
        <mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row show-row" ></mat-row>
      </table>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </mat-card> -->

</div>