<div class="container-gral" *ngIf="permisoAcceso && obra">
  <!-- <div class="wrap-button" *ngIf="obra">
    <button mat-raised-button color="primary" [routerLink]="'/ejecucion-proyecto/proyectos/reporte-ingresos-egresos'">Regresar</button>
  </div> -->

  <div class="wrap-button">
    <button mat-raised-button color="primary" [routerLink]="'/ejecucion-proyecto/proyectos/reporte-ingresos-egresos'">Regresar</button>
  </div>

  <mat-accordion *ngIf="!loadTipoMovimientos">
    
    <mat-expansion-panel 
    *ngFor = "let movimiento of tipoMovimientos" 
    (click)="expandPannelMovimientos(movimiento.expanded, movimiento.idTipoMovimientoMonetario)" 
    >
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{movimiento.descripcion}}
        </mat-panel-title>   
      </mat-expansion-panel-header>

      <!-- ACORDION CATEGORIA -->
      <mat-accordion *ngIf="!loadCategorias">
        <mat-expansion-panel 
        *ngFor = "let categoria of categoriasMovimiento" 
        (click)="expandPanelCategorias(categoria.expanded, categoria.idCategoriaMovimientoMonetario)" 
        ngDefaultControl>
          <mat-expansion-panel-header>
            <mat-panel-title>
              {{categoria.descripcion}}
            </mat-panel-title>  
          </mat-expansion-panel-header>
          <div class="container-movimientos" *ngIf="!loadMovimientos">
            <div class="wrap-movimientos">
              <div class="total">
                Total: {{montoTotal | transformCurrency}}
              </div>
              <div class="wrap-scrollable">
                <div class="row title" [style.background] = "categoria.color">
                  <div class="item">No.</div>
                  <div class="item">Fecha</div>
                  <div class="item">Descripción</div>
                  <div class="item">Referencia</div>
                  <div class="item">Ingreso</div>
                  <div class="item">Egreso</div>
                  <div class="item">Acciones</div>
                </div>
                <div class="cont-info" *ngIf="!noMovimientos">
                  <div class="row info" *ngFor = "let movimiento of movimientosCategoria; index as i">
                    <div class="item">{{i + 1}}</div>
                    <div class="item">{{movimiento.fecha | date}}</div>
                    <div class="item">{{movimiento.descripcion}}</div>
                    <div class="item">{{movimiento.referencia.descripcion}}</div>
                    <div class="item">{{movimiento.ingreso | transformCurrency}}</div>
                    <div class="item">{{movimiento.egreso | transformCurrency}}</div>
                    <div class="item buttons" *ngIf="obra.cierre === 0">
                      <div id="modificar-reporte" #myIdM>
                        <button mat-icon-button color="accent" (click)="openBottomEdit(movimiento)" *ngIf="permisosEspecialesPermitidos.includes(myIdM?.id)">
                          <mat-icon>edit</mat-icon>
                        </button>
                      </div>
                      <div id="eliminar-reporte" #myIdE>
                        <button mat-icon-button [color]="'delete'" *ngIf="permisosEspecialesPermitidos.includes(myIdE?.id)" (click) = "openDialoAlertDelete(movimiento)">
                          <mat-icon>delete</mat-icon>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="cont-info" *ngIf="noMovimientos">
                  <p class="alert-no-data">no hay movimientos registrados aún en esta categoría</p>
                </div>
                <div class="cont-add" *ngIf="obra.cierre === 0">
                  <button mat-mini-fab color="primary" (click)="openBottomAdd(movimiento.idTipoMovimientoMonetario, categoria.idCategoriaMovimientoMonetario)"><mat-icon>add</mat-icon></button>
                </div>
              </div>
            </div>
          </div>

          <div *ngIf="loadMovimientos">
            <div class="wrap-loading-catalog">
              <mat-spinner [diameter]="60" ></mat-spinner>
            </div>
          </div>

        </mat-expansion-panel>
      </mat-accordion>
       <!-- END ACORDION CATEGORIA -->

      <div *ngIf="loadCategorias">
        <div class="wrap-loading-catalog">
          <mat-spinner [diameter]="60" ></mat-spinner>
        </div>
      </div>
      
    </mat-expansion-panel>
    
  </mat-accordion>

  <div *ngIf="loadTipoMovimientos">
    <div class="wrap-loading-catalog">
      <mat-spinner [diameter]="60" ></mat-spinner>
    </div>
  </div>



  

   <!-- <div  *ngIf="(obs$ | async) as reportes">
    
    <ng-container *ngIf="reportes.length; else loading">
      
      <div class="mat-box-shadow margin-333">
        <ngx-datatable 
        class="material fullscreen bg-white"
        [rows]="reportes"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [scrollbarH]="true"
        [rowHeight]="'auto'"
        [limit]="20"
        [scrollbarH]="true"
        [rowHeight]="50">
  
          <ngx-datatable-column name="No." [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <p  class="content-center">{{ row?.no }}</p>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Fecha" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <p  class="content-center">{{row?.fecha}}</p>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Descripción" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <p  class="content-center">{{row?.descripcion}}</p>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Referencia" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <p  class="content-center">{{row?.referencia.descripcion}}</p>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Ingreso" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <p  class="content-center">{{row?.ingreso | transformCurrency}}</p>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Egreso" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <p  class="content-center">{{row?.egreso | transformCurrency}}</p>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Acumulado" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <p  class="content-center">{{row?.acumulado | transformCurrency}}</p>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Tipo" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <p  class="content-center">{{row?.tipoMovimiento.descripcion}}</p>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Categoria" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <p  class="content-center">{{row?.categoriaMovimientoMonetario.descripcion}}</p>
            </ng-template>
          </ngx-datatable-column>

          <ngx-datatable-column name="Acción" [flexGrow]="1">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div  class="content-center buttons-report">
                <div id="modificar-reporte" #myIdM>
                  <button mat-icon-button color="accent" *ngIf="permisosEspecialesPermitidos.includes(myIdM?.id)" routerLink="modificar-reporte-ingresos-egresos/{{row?.idMovimientoMonetario}}" > 
                    <mat-icon>edit</mat-icon> 
                  </button>
                </div>
                <div id="eliminar-reporte" #myIdE>
                  <button mat-icon-button color="accent" *ngIf="permisosEspecialesPermitidos.includes(myIdE?.id)" (click)="openDialoAlertDelete(row)" >
                    <mat-icon>delete_sweep</mat-icon>
                  </button>
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>

        </ngx-datatable>
      </div>
    </ng-container>

    <ng-template #loading>
      <div class="wrap-loading-catalog">
        <mat-spinner [diameter]="60" *ngIf = "reporteExistente"></mat-spinner>
        <div *ngIf = "!reporteExistente">
          <h3>EL PROYECTO NO CUENTA CON REPORTES REGISTRADOS</h3>
        </div>
      </div>
    </ng-template>
  </div>  -->

</div>

<div *ngIf="loadTipoMovimientos">
  <div class="wrap-loading-catalog">
    <mat-spinner [diameter]="60" ></mat-spinner>
  </div>
</div>