.wrap-spiner{
  display: flex;
  justify-content: center;
  height: 452px;
  align-items: center;
}

.accordions {
  padding: 8px;
  margin: 20px 0;
}

.mat-card-content{
  margin-top: 1.5rem !important;
}

.grid-colors{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2px;
}

.legend-color {
  display: flex;
  .bar-color{
    background: #dcedc8;
    width: 40px;
    height: 20px;
    display: inline-block;
    margin: 0 10px 0 5px;
  }
  .circle-color{
    width: 22px;
    height: 22px;
    display: inline-block;
    margin: 0 10px 0 5px;
    border-radius: 50%;
    &.gray{
      background: #9e9e9e;
    }
    &.green{
      background: #3b9a4a;
    }
    &.yellow{
      background: #ffc108;
    }
    &.red{
      background: #f15757;
    }
  }
}

table {
  width: 100%;
}

.mb{
  margin-bottom: 20px;
}

tr.example-detail-row {
  height: 0;
}

.example-expanded-row {
  background: gold !important;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #dcedc8;
  color: white !important;
  cursor: pointer;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.inner-table {
  width: 100%;
}

.inner-table mat-form-field {
  margin-top: 15px;
  width: 100%;
}


.mat-sort-header-button{
  text-transform: capitalize !important;
}

::ng-deep .mat-sort-header-container {
  justify-content: center !important;
}

::ng-deep th.mat-header-cell {
  text-align: center !important;
}

mat-sort-header{
  text-transform: capitalize !important;
}
.txt-capitalize {
  text-transform: capitalize !important;
}

.info-ot{
  background: cornflowerblue;
  color: white !important;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 26px;
  height: 26px;
}

.col-center{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
}

.orders-table{
  width: 100% !important; 
  margin: 10px 0 20px !important;
  background: azure;
}

.mat-cancel {
  color: #f15757;
}

.container-table {
 
  .mat-row,
  .mat-header-row {
      display: table-row;
  }
  .mat-cell,
  .mat-header-cell {
      word-wrap: initial;
      display: table-cell;
      padding: 0px 5px;
      line-break: unset;
      width: auto;
      white-space: nowrap;
      overflow: hidden;
      vertical-align: middle;
  }
}

.wrap-but {
  padding: 0 10px 20px 10px;
  text-align: center;
}

.wrap-button {
  text-align: right;
}

.mat-column-empresa {
  // border: 1px solid red !important;
  white-space: unset !important;
  width: 18% !important;
  text-align: center;
}

.wrap-button-download {
  text-align: right;
  margin: 25px 10px 0px 0px;
}

@media screen and (max-width:1200px){
  // .container-table{
  //   overflow-x: auto !important;
  //   table {
  //     width: 1500px !important;
  //   }
  // }

  .container-table {
    display: block;
    width: 100%;
    overflow-x: auto;
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
        margin: 0px;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 5px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
  }
}