<div class="container-reporte" *ngIf="obra; else loading">
  <mat-card class="rep-card p-0">
    <mat-card-title> 
      <div class="container-title">
        <img class="icon" src="assets/images/faces/10.jpg" alt="icono" />
        <h2 class="title-component">Control de Avance Semanal</h2>
        <img class="logo" src="http://{{host}}/Sicap/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="logo">
      </div>
    </mat-card-title>
    <mat-card-content>
      <div class="container-data-company">
        <p class="title-section">
          DATOS GENERALES
        </p>
        <div class="wrap-data-company">
          <div class="title"> Empresa: </div>
          <div class="description">{{obra.empresa.descripcion}}</div>
          <div class="title"> Cliente: </div>
          <div class="description">{{obra.cliente.nombre}}</div>
          <div class="title"> No. de Contrato: </div>
          <div class="description multiple">  
            {{obra.noContrato}}
            <div class="title"> No. de Licitación: </div>
            <div class="description">{{obra.noLicitacion}}</div>
          </div>
          <div class="title"> Nombre de la Obra: </div>
          <div class="description">{{obra.nombreObra}}</div>
          <div class="title"> Lugar: </div>
          <div class="description"> León, Guanajuato </div>
        </div>
      </div>
  
      <form [formGroup]="reporteForm" (submit)="buscarDatos()">
        <div fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100" class="container-search">
  
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput [matDatepicker]="fechaInicio" formControlName="fechaInicio" name="date" placeholder="Fecha Inicio"
                (dateChange)="onFechaInicio($event)">
              <mat-datepicker-toggle matSuffix [for]="fechaInicio"></mat-datepicker-toggle>
              <mat-datepicker #fechaInicio (selectedChange)="onFechaInicio($event)"></mat-datepicker>
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="reporteForm.controls['fechaInicio'].hasError('required') && reporteForm.controls['fechaInicio'].touched" class="form-error-msg">
                Fecha Inicio del reporte es un campo requerido
              </small>
            </div>
            <div class="validaciones">
              <small *ngIf="error.isError" class="form-error-msg">
                {{ error.errorMessage }}
              </small>
            </div>
          </div>
  
          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput [matDatepicker]="fechaFin" formControlName="fechaFinal" name="date" placeholder="Fecha Fin" (dateChange)="onFechaFinal($event)">
              <mat-datepicker-toggle matSuffix [for]="fechaFin"></mat-datepicker-toggle>
              <mat-datepicker #fechaFin (selectedChange)="onFechaFinal($event)"></mat-datepicker>
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="reporteForm.controls['fechaFinal'].hasError('required') && reporteForm.controls['fechaFinal'].touched" class="form-error-msg">
                Fecha Final del reporte es un campo requerido
              </small>
            </div>
          </div>
          
          <div class="wrap-button">
            <button mat-raised-button color="primary" [disabled]="reporteForm.invalid" type="submit" class="btn-accept">Buscar</button>
          </div>
    
        </div>
      </form>
    </mat-card-content>
  </mat-card>

  <mat-card class="rep-card seccion-alcance p-0"  *ngIf="ver && !dataSemanas">
    <mat-card-content class="cargando-componente">
    <mat-spinner [diameter]="60"></mat-spinner>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="rep-card seccion-alcance p-0" *ngIf="ver && dataSemanas">
    <mat-card-content>
      <app-alcance-reporte-costo-avance-general [semanas] = "dataSemanas"></app-alcance-reporte-costo-avance-general>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="rep-card seccion-costo p-0" *ngIf="dataSemanas">
    <mat-card-content>
      <app-costo-reporte-costo-avance-general [semanas] = "dataSemanas"></app-costo-reporte-costo-avance-general>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="rep-card seccion-graficas p-0" *ngIf="dataSemanas">
    <mat-card-content>
      <app-graficas-reporte-costo-avance-general></app-graficas-reporte-costo-avance-general>
    </mat-card-content>
  </mat-card>

</div>
<ng-template #loading>
  <div class="wrap-loading-catalog">
    <mat-spinner [diameter]="60"></mat-spinner>
  </div>
</ng-template>