.step-header{
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 15px;
  align-items: center;
  padding: 2px;
  margin-bottom: 10px;
}

.step-header img{
  max-width: 50px;
  max-height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.step-header .name-date p{
  margin: 0;
}

.step-header .name-date span{
  margin: 0;
  font-weight: 400;
}

@media screen and (max-width: 599px){
  .step-header img{
    display: none;
  }
}