<!-- <mat-form-field class="margin-333" style="width: 98%">
  <input matInput placeholder="Filtrar Plan de Trabajo" value="" (keyup)='updateFilter($event)'>
</mat-form-field> -->

<div class="container-gral" *ngIf="permisoAcceso">
  <div class="wrap-button">
    <button mat-raised-button color="primary" [routerLink]="'/ejecucion-proyecto/proyectos/reporte-maquinaria-equipo'">Regresar</button>
  </div>

  <div fxLayout="row wrap" *ngIf="(obs$ | async) as reportes">
    <ng-container *ngIf="reportes.length; else loading">
      <div class="monto-total">
        <p *ngIf="reports.length">
          Se han capturado {{reports.length}} reportes que suman un importe acumulado de <b>{{totalAcumumladoReportes | transformCurrency}}</b>
          y representa un avance del {{(totalAcumumladoReportes / totalMonto) * 100 | number:'1.2-2'}}% del presupuesto de maquinaria y equipo.
        </p>
        <!-- {{totalAcumumladoReportes | transformCurrency}} -->
      </div>

      <div *ngFor="let reporte of reportes" fxFlex="100" fxFlex.gt-sm="100" fxFlex.sm="100">
        <!-- {{reporte | json}} -->
        <mat-card class="user-card p-0" *ngIf="obra">
          <mat-card-title>
            <div class="card-title-text obra">
              <span fxFlex></span>
              <button mat-icon-button [matMenuTriggerFor]="reporteMenu" class="">
                <mat-icon class="">more_vert</mat-icon>
              </button>
              <mat-menu #reporteMenu="matMenu">
                <div id="modificar-reporte" #myIdM>
                  <a mat-menu-item routerLink="modificar-reporte-maquinaria-equipo/{{reporte.idCapturaMaquinariaEquipo}}" *ngIf="permisosEspecialesPermitidos.includes(myIdM?.id) && obra.cierre===0">Modificar Reporte Maquinaria y Equipo</a>
                </div>
                <div id="eliminar-reporte" #myIdE>
                  <button mat-menu-item (click)="openDialoAlertDelete(reporte)" *ngIf="permisosEspecialesPermitidos.includes(myIdE?.id) && obra.cierre===0">Eliminar Reporte</button>
                </div>
              </mat-menu>
            </div>
            <mat-divider></mat-divider>
          </mat-card-title>

          <mat-card-content>
            <div class="user-details">
              <div class="wrap-detalles-tarea">
                <p class="p-info-catalogs">
                  <span>Fecha de Captura:</span> {{reporte.fechaCaptura | date}}
                </p>
              </div>
              <div class="wrap-observacion">
                <p class="tit-observacion">Observación:</p>
                <p>{{reporte.observacion}}</p>
              </div>
              <div class="wrap-total" *ngFor="let tot of total">
                <p class="total-p" *ngIf="tot.idReporte === reporte.idCapturaMaquinariaEquipo">
                  El importe total del reporte es de <b>{{tot.totalMateriales | transformCurrency}}</b>
                  y representa el {{(tot.totalMateriales / tot.totalMaquinaria) * 100 | number:'1.2-2'}}% del presupuesto de maquinaria y equipo.
                </p>

              </div>
            </div>

            <mat-accordion>
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Maquinaria y Equipo
                  </mat-panel-title>
                  <mat-panel-description>
                    Conceptos agregados al reporte de maquinaria y equipo
                  </mat-panel-description>
                </mat-expansion-panel-header>
                <app-conceptos-lista [conceptos]="reporte.detMaquinariaEquipo" [tipoReporte]="'reporte-maquinaria-equipo'" (montosCaptured)="onMontosTotal($event)">
                </app-conceptos-lista>
              </mat-expansion-panel>
            </mat-accordion>

          </mat-card-content>
        </mat-card>
      </div>
    </ng-container>
    <ng-template #loading>
      <div class="wrap-loading-catalog">
        <mat-spinner [diameter]="60" *ngIf = "reporteExistente"></mat-spinner>
        <div *ngIf = "!reporteExistente">
          <h3>EL PROYECTO NO CUENTA CON REPORTES REGISTRADOS</h3>
        </div>
      </div>
    </ng-template>
  </div>

  <mat-paginator [pageSizeOptions]="[6, 12, 24, 100]"></mat-paginator>
</div>