.wrap-spiner{
  display: flex;
  justify-content: center;
  height: 452px;
  align-items: center;
}

.info-obra{
  padding: 15px 0 0;
}

.info-obra h1{
  color: gray;
}

.info-obra p {
  color: #4caf50;
}

agm-map {
    height: 300px;
    margin-bottom: 10px !important;
}

table {
  width: 100%;
}

.container-catalogo{
  margin-top: 10px;
}

.wrap-button{
  text-align: right;
  margin: 10px 5px;
}
