<mat-card class="p-0 container-create-user">
  <mat-card-title class="">
    <div class="card-title-text">Formulario para la creación de proveedores</div>
    <mat-divider></mat-divider>
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="createProveedorForm" (submit)="createProveedor()">
      <div fxLayout="row wrap">

        <div fxFlex="100" fxFlex.gt-xs="100" class="pr-1 wrap-form-1">

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="nombre" formControlName="nombre" placeholder="Nombre(s)" value="">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="createProveedorForm.controls['nombre'].hasError('required') && createProveedorForm.controls['nombre'].touched" class="form-error-msg">
                Nombre del proveedor es un campo requerido
              </small>
            </div>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="razonSocial" formControlName="razonSocial" placeholder="Razón Social" value="">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="createProveedorForm.controls['razonSocial'].hasError('required') && createProveedorForm.controls['razonSocial'].touched"
                class="form-error-msg">
                Razón social es un campo requerido
              </small>
            </div>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="rfc" formControlName="rfc" placeholder="RFC" value="">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="createProveedorForm.controls['rfc'].hasError('required') && createProveedorForm.controls['rfc'].touched"
                class="form-error-msg">
                RFC es un campo requerido
              </small>
              <small *ngIf="createProveedorForm.controls['rfc'].hasError('minlength') && createProveedorForm.controls['rfc'].touched" class="form-error-msg">
                El rfc debe ser mínimo de 12 caracteres 
              </small>
              <small *ngIf="createProveedorForm.controls['rfc'].hasError('maxlength') && createProveedorForm.controls['rfc'].touched" class="form-error-msg">
                El rfc no debe ser mayor a 13 caracteres
              </small>
            </div>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="direccion" formControlName="direccion" placeholder="Dirección">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="createProveedorForm.controls['direccion'].hasError('direccion') && createProveedorForm.controls['direccion'].touched"
                class="form-error-msg">
                Dirección es un campo requerido
              </small>
            </div>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="localizacion" formControlName="localizacion" placeholder="Localización">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="createProveedorForm.controls['localizacion'].hasError('localizacion') && createProveedorForm.controls['localizacion'].touched"
                class="form-error-msg">
                Localización es un campo requerido
              </small>
            </div>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="telefono" formControlName="telefono" placeholder="Teléfono">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="createProveedorForm.controls['telefono'].hasError('required') && createProveedorForm.controls['telefono'].touched" class="form-error-msg">
                Teléfono es un campo requerido
              </small>
            </div>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="familia" formControlName="familia" placeholder="Familia">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="createProveedorForm.controls['familia'].hasError('familia') && createProveedorForm.controls['familia'].touched"
                class="form-error-msg">
                Familia es un campo requerido
              </small>
            </div>
          </div>

          <div class="pb-1">
            <mat-form-field class="full-width">
              <input matInput name="especialidad" formControlName="especialidad" placeholder="Especialidad">
            </mat-form-field>
            <div class="validaciones">
              <small *ngIf="createProveedorForm.controls['especialidad'].hasError('especialidad') && createProveedorForm.controls['especialidad'].touched"
                class="form-error-msg">
                Dirección es un campo requerido
              </small>
            </div>
          </div>

        </div>

      </div>

      <div class="cont-btns">
        <button mat-raised-button color="primary" [disabled]="createProveedorForm.invalid" type="submit">Agregar</button>
        <button mat-raised-button [routerLink]="'/configuracion/proveedores'">Cancelar</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>