<div class="container-pagos-resumen">
  <p class="title-section">
    PAGOS
  </p>
  <div class="scrollable-wrap">
    <div class="wrap-pagos-resumen title-wrap">
      <div class="col-1 title-prog">
        <div>No.</div>
      </div>
      <div class="col-2 title-prog">
        <div>Fecha</div>
      </div>
      <div class="col-3 title-prog">
        <div>Categoria</div>
      </div>
      <div class="col-4 title-prog">
        <div>Subcategoria</div>
      </div>
      <div class="col-5 title-prog">
        <div>Monto</div>
      </div>
      <div class="col-6 title-prog">
        <div>Pendiente de Pago</div>
      </div>
    </div>
    <div class="wrap-pagos-resumen content-wrap">
      <div class="col-1">
        <div>0</div>
      </div>
      <div class="col-2">
        <div>15/07/2018</div>
      </div>
      <div class="col-3">
        <div>Destajista</div>
      </div>
      <div class="col-4">
        <div>Gustavo Galindo</div>
      </div>
      <div class="col-5">
        <div>$15,000</div>
      </div>
      <div class="col-6">
        <div>$530,100</div>
      </div>
    </div>
  </div>

</div>