<div class="container-pagos-resumen">
  <p class="title-section">
    PAGOS
  </p>
  <div class="scrollable-wrap">
    <div class="wrap-pagos-resumen title-wrap">
      <div class="col-1 title-prog">
        <div>No.</div>
      </div>
      <div class="col-2 title-prog">
        <div>Fecha</div>
      </div>
      <div class="col-3 title-prog">
        <div>Categoria</div>
      </div>
      <div class="col-4 title-prog">
        <div>Subcategoria</div>
      </div>
      <div class="col-5 title-prog">
        <div>Monto</div>
      </div>
      <div class="col-6 title-prog">
        <div>Pendiente de Pago</div>
      </div>
    </div>
    <div class="wrap-pagos-resumen content-wrap" *ngFor="let pago of pagos">
      <div class="col-1 info-resumen">
        <div>{{pago.no}}</div>
      </div>
      <div class="col-2 info-resumen">
        <div>{{pago.fecha}}</div>
      </div>
      <div class="col-3 info-resumen">
        <div>{{pago.categoriaMovimientoMonetario.descripcion}}</div>
      </div>
      <div class="col-4 info-resumen">
        <div>Gustavo Galindo</div>
      </div>
      <div class="col-5 info-resumen">
        <div>{{pago.monto | currency}}</div>
      </div>
      <div class="col-6 info-resumen">
        <div>$530,100</div>
      </div>
    </div>
  </div>

</div>