.wrap-spiner{
  display: flex;
  justify-content: center;
  height: 452px;
  align-items: center;
}

.mat-card-content{
  margin-top: 1.5rem !important;
}

.container-solicitudes{
  margin: 20px 0;
  h1{
    color: #4caf50;
  }
  .card-info{
    display: grid;
    grid-template-columns: .6fr 1fr .8fr 2fr 2.5fr;
    grid-gap: 0 15px;
    align-items: center;
    margin-bottom: 0px;
    padding: 5px 10px;
    &:nth-child(even){
      background: rgba(211, 211, 211, .3);
      border-radius: 3px;;
    }
    &:nth-child(odd){
      background: white;
    }
    .col-tit-descripcion{
      border-bottom: 1px solid lightgray;
      padding-bottom: 5px;
      text-transform: uppercase;
      color: gray;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .col-tit-actions{
      text-align: center;
      padding-bottom: 5px;
      color: gray;
      text-transform: uppercase;
      display: grid;
      grid-template-columns: repeat(8, auto);
      grid-gap: 5px;
    }

    .col-description{
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    .col-actions{
      display: grid;
      grid-template-columns: repeat(8, auto);
      grid-gap: 5px;
      button{
        background-origin: padding-box;
      }
    }
  }
}

@media screen and (max-width:1440px){
  .solicitud-card{
    overflow-x: scroll;
    .mat-card-cont{
      width: 1440px;
    }
  }
}