<div fxLayout="row wrap" *ngIf="!obra">
  <div fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100">
    <div class="wrap-spiner">
      <mat-spinner></mat-spinner>
    </div>
  </div>
</div>

<div *ngIf="opcionesPermitidas">
  <mat-card fxLayout="row wrap" class="container-solitud" *ngIf="obra">
    <form>
      <!-- <form> -->
      <div fxFlex="100" fxFlex.gt-md="100" fxFlex.gt-sm="100">
        <mat-card-title class="title-solicitud">
          <h1>Orden de Pago para Recursos</h1>
          <span>Grupo Empresarial Cima</span>
          <p>Area Administrativa</p>
        </mat-card-title>
        <mat-divider></mat-divider>

        <mat-card-content>
          <div class="data-form">

            <div class="wrap-logo">
              <img class="img md mr-1" src="http://{{host}}/{{rutaImg}}/files/{{obra.empresa.imagen}}" alt="empresa">
            </div>

            <div class="wrap-data-obra">
              <div class="tit">Nombre de la empresa:</div>
              <div class="desc">{{obra.nombreObra}}</div>
              <div class="tit">Obra / Proyecto:</div>
              <div class="desc">Proyecto</div>
              <div class="tit">Fecha de la Solicitud:</div>
              <div class="desc">{{solicitud.solicitud.fechaSolicito | date}}</div>
              <div class="tit">Beneficiario:</div>
              <div class="desc">{{solicitud.solicitud.usuarioSolicito.nombre}} {{solicitud.solicitud.usuarioSolicito.apellidoPaterno}} {{solicitud.solicitud.usuarioSolicito.apellidoMaterno}}</div>
            </div>
          </div>

          <div class="fields-form">
            <div class="wrap-descripcion-solicitud">
              <div class="pb-1">
                <div class="desc">{{solicitud.solicitud.observacionesAdicionales}}</div>
              </div>
            </div>
          </div>

          <div class="cont-btns">
            <button mat-raised-button color="primary" class="btn-accept" (click)="generarOrden()">Generar Orden</button>
            <button mat-raised-button [routerLink]="'/solicitudes-suministros/solicitudes-realizadas'">Cancelar</button>
          </div>

        </mat-card-content>
      </div>
    </form>

  </mat-card>

  <div *ngIf="obra">
    <div class="mat-box-shadow margin-333" *ngIf="peticionesSolicitadas.length; else nopeticiones">
      <div class="wrap-totales">
        <div class="total">
          <p>Total Importe Solicitado Sin Factura:
            <span>{{totalImporteSolicitadoSinFactura | currency}}</span>
          </p>
        </div>
        <div class="total">
          <p>Total Importe Solicitado Con Factura:
            <span>{{totalImporteSolicitadoConFactura | currency}}</span>
          </p>
        </div>
        <div class="total">
            <p>Total Importe Autorizado Sin Factura:
              <span>{{totalImporteValidadoSinFactura | currency}}</span>
            </p>
          </div>
          <div class="total">
            <p>Total Importe Autorizado Con Factura:
              <span>{{totalImporteValidadoConFactura | currency}}</span>
            </p>
          </div>
      </div>

      <ngx-datatable class="material fullscreen bg-white" style="height: auto; overflow-y: auto;" [rows]="peticionesSolicitadas"
        [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true" [rowHeight]="'auto'" [scrollbarH]="true"
        [rowHeight]="50">

        <!-- <ngx-datatable-column name="No." [flexGrow]="1">
          <ng-template let-row="row" let-rowIndex="rowIndex" ngx-datatable-cell-template>
            <p class="content-center">
              {{ rowIndex + 1 }}
            </p>
          </ng-template>
        </ngx-datatable-column> -->

        <ngx-datatable-column name="Categoría" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <p class="content-center">
              <!-- {{row?.categoriaSolicitudRecurso.descripcion}} -->
              {{row?.idCategoriaSolicitudRecurso}}
            </p>
          </ng-template>
        </ngx-datatable-column>

        <ngx-datatable-column name="Desglose de la Solicitud" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <p class="content-center">
              {{row?.desglose}}
            </p>
          </ng-template>
        </ngx-datatable-column>

        <!-- <ngx-datatable-column name="Importe Solicitado S/Factura" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <p class="content-center">
              {{row?.importeSolicitadoSinFactura | currency}}
            </p>
          </ng-template>
        </ngx-datatable-column> -->

        <ngx-datatable-column name="Importe Validado S/Factura" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <mat-form-field class="cantidad-validada">
              <input 
              matInput 
              mask="separator.2" thousandSeparator=","
              [(ngModel)]="row.importeValidadoSinFactura"
              (blur) = "getTotales()"
              />
            </mat-form-field>
            <p class="content-centers">
              {{row?.importeSolicitadoSinFactura | currency}}
            </p>
          </ng-template>
        </ngx-datatable-column>
        
        <!-- <ngx-datatable-column name="Importe Solicitado C/Factura" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <p class="content-center">
              {{row?.importeSolicitadoConFactura | currency}}
            </p>
          </ng-template>
        </!--> 

        <ngx-datatable-column name="Importe Validado C/Factura" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <mat-form-field class="cantidad-validada">
              <input 
              matInput 
              mask="separator.2" thousandSeparator=","
              [(ngModel)]="row.importeValidadoConFactura" 
              (blur) = "getTotales()"
              />
            </mat-form-field>
            <p class="content-centers">
              {{row?.importeSolicitadoConFactura | currency}}
            </p>
          </ng-template>
        </ngx-datatable-column>
        

        <ngx-datatable-column name="Comentario Revisión" [flexGrow]="1">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <mat-form-field class="comentario">
              <textarea matInput [(ngModel)]="row.comentarioRevision" ></textarea>
            </mat-form-field>
          </ng-template>
        </ngx-datatable-column>
        <!-- [(ngModel)]="row.comentario" -->
      </ngx-datatable>

    </div>

    <ng-template #nopeticiones>
      <ngx-datatable class="material fullscreen bg-white" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [scrollbarH]="true"
        [rowHeight]="'auto'" [scrollbarH]="true" [rowHeight]="50" *ngIf="obra">
        <ngx-datatable-column name="No." [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column name="Categoría" [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column name="Desglose de la Solicitud" [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column name="Importe Validado S/Factura" [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column name="Importe Validado C/Factura" [flexGrow]="1"></ngx-datatable-column>
        <ngx-datatable-column name="Comentario Revisión" [flexGrow]="1"></ngx-datatable-column>
      </ngx-datatable>
    </ng-template>
  </div>


</div>