.content-image{
  position: relative;
}

.wrap-spinner{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}


// @media screen and (max-width: 599px){
//   .content-image{
//     display: none;
//   }
// }