.section-dashboard {
  width: 100%;
  // border: 1px solid red;
  height: 90vh;
  padding: 10px;
  position: relative;
  .wrapper-info-obras {
    .container-info-obra {
      display: grid;
      grid-template-columns: 1.5fr 3fr 1fr;
      align-items: flex-start;
      grid-gap: 16px;
      .logo-obra {
        text-align: center;
        .img {
          display: inline-block;
          margin-bottom: 10px;
          img {
            vertical-align: bottom;
            width: 100px;
          }
        }
        .no-obra {
          color: #4caf50;
          font-size: 20px;
        }
        .descripcion-obra {
          text-align: justify;
          margin: 0;
        }
      }
      .info-obra {
        display: grid;
        padding: 10px 10px 0 10px;
        align-self: end;
        .is-parraf {
          display: flex;
          align-items: center;
          justify-content: end;
          margin: 0 0 10px 0;
          font-size: 14px;
          &:last-child {
            margin: 0;
          }
          .mat-icon {
            margin-right: 3px;
          }
          b {
            margin-right: 10px;
          }
          .is-sup {
            display: flex;
            flex-direction: column;
            span {
              &::before {
                content: '-';
                margin-right: 5px;
              }
            }
          }
        }
      }
      .time-obra {
        align-self: center;
        justify-self: center;
      }
    }
    .container-avance-programado {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 10px;
    }
  }
 
  .mat-icon { 
    &.arrow {
      position: fixed;
      font-size: 40px;
      height: 40px;
      width: 40px;
      cursor: pointer;
      color: #4caf50;
      opacity: 1;
      &.inactive {
        opacity: .3;
        cursor: initial;
      }
      &.back {
        bottom: 50%;
      }
      &.next {
        right: 15px;
        bottom: 50%;
      }
    }
  }

  .wrapper-bullets {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 35px;
    left: 50%;
    // transform: translate(-50%, 0);
    .item-bullet {
      width: 20px;
      height: 20px;
      background-color: #4caf50;
      opacity: .3;
      border-radius: 50%;
      margin-right: 10px;
      cursor: pointer;
      &.active {
        opacity: 1;
        cursor: initial;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .wrapper-loading {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}