<div class="section-dashboard">
  
  <div class="wrapper-info-obras" *ngIf="dataObras.length > 0">
    <mat-card class="container-info-obra">
      <div class="logo-obra">
        <div class="img">
          <img src="http://{{host}}/{{rutaImg}}/files/{{obraActual.empresa.imagen}}" alt="nombre epresa" />
        </div>
        <p class="no-obra">{{obraActual.noContrato}}</p>
        <p class="descripcion-obra">{{ (obraActual.nombreObra.length > 200) ? (obraActual.nombreObra | slice:0:200)+'...':(obraActual.nombreObra) }}</p>
      </div>

      <div class="info-obra">
        <p class="is-parraf"><mat-icon>calendar_today</mat-icon> <b> Fecha Inicio:</b>  {{obraActual.fechaInicio | date}}</p>
        <p class="is-parraf"><mat-icon>date_range</mat-icon> <b> Fecha Fin:</b>  {{obraActual.fechaFin | date}}</p>
        <p class="is-parraf"><mat-icon>location_on</mat-icon> <b> Lugar de Trabajo:</b>  {{obraActual.lugarTrabajo}}</p>
        <div class="is-parraf">
          <mat-icon>people_alt</mat-icon> 
          <b> Supervisor(es):</b> 
          <div class="is-sup">
            <span *ngFor="let supervisor of obraActual.supervisor" >{{supervisor.nombre}} {{supervisor.apellidoPaterno}} {{supervisor.apellidoMaterno}}</span> 
          </div>
        </div>
        <p class="is-parraf"><mat-icon>person</mat-icon> <b> Cliente:</b>  {{obraActual.cliente.nombre}}</p>
        <p class="is-parraf"><mat-icon>emoji_people</mat-icon> <b> Destajista:</b>  {{obraActual.cliente.nombre}}</p>
        <p class="is-parraf"><mat-icon>attach_money</mat-icon> <b> Monto total:</b>  {{obraActual.presupuestoTotal | transformCurrency}}</p>
      </div>

      <div class="time-obra">
        <!-- <p style="text-align:center">Días restantes</p> -->
        <div
          echarts
          [options]="graficaTiempo"
          [autoResize]="true"
          style="height: 200px;"
        ></div>
        <p>Duración Total: {{obraActual.plazoEjecucion}} días</p>
      </div>
    </mat-card>
    
    <div class="container-avance-programado" *ngIf="dataAvanceObra.length">
      <mat-card class="p-0">
        <div fxLayout="row wrap">
          <div fxFlex="40" class="p-1">
            <p class="" style="font-size: .75rem; margin: 0 0 8px">AVANCE DE OBRA PROGRAMADO</p>
            <p class="text-20 text-green font-weight-bold mb-0">
              {{porcentajeProgramado}} % 
            </p>
            <p class="text-muted m-0"> {{dataAvanceObra.length}} Semanas</p>
          </div>
          <div fxFlex="60">
            <div
              echarts
              [options]="avanceProgramado"
              [autoResize]="true"
              style="height: 150px; right: -1px"
            ></div>
          </div>
        </div>
      </mat-card>
   
      <mat-card class="p-0">
        <div fxLayout="row wrap">
          <div fxFlex="40" class="p-1">
            <p class="" style="font-size: .75rem; margin: 0 0 8px">AVANCE DE OBRA EJECUTADO</p>
            <p class="text-20 text-red font-weight-bold mb-0">
              {{porcentajeEjecutado}} % 
            </p>
            <p class="text-muted m-0"> {{dataAvanceObra.length}} Semanas</p>
          </div>
          <div fxFlex="60">
            <div
              echarts
              [options]="avanceEjecutado"
              [autoResize]="true"
              style="height: 150px; right: -1px"
            ></div>
          </div>
        </div>
      </mat-card>
    
      <mat-card class="p-0">
        <div fxLayout="row wrap">
          <div fxFlex="40" class="p-1">
            <p class="" style="font-size: .75rem; margin: 0 0 8px">AVANCE DE OBRA VALIDADO</p>
            <p class="text-20 text-blXK font-weight-bold mb-0">
              {{porcentajeValidado}} % 
            </p>
            <p class="text-muted m-0"> {{dataAvanceObra.length}} Semanas</p>
          </div>
          <div fxFlex="60">
            <div
              echarts
              [options]="avanceValidado"
              [autoResize]="true"
              style="height: 150px; right: -1px"
            ></div>
          </div>
        </div>
      </mat-card>
    </div>

    <mat-card class="p-0 " style="margin-bottom: 40px;">
      <mat-tab-group>
        <mat-tab label="Avance del Costo Directo Programado Vs. Costo Directo Real">
          <div
            echarts
            [options]="diferenciaCostosOptions"
            [merge]="diferenciaCostos"
            [autoResize]="true"
            style="height: 255px;"
          ></div>
        </mat-tab>
      </mat-tab-group>
    </mat-card>

  </div>

  
  <mat-icon class="arrow back" [ngClass] = "{ 'inactive': idPosicionObraActual <= 1 || loadingData}" (click)="idPosicionObraActual > 1 && moveObra('back')">arrow_back_ios</mat-icon>
  <mat-icon class="arrow next" [ngClass] = "{ 'inactive': idPosicionObraActual >= dataObras.length || loadingData}" (click)="idPosicionObraActual < dataObras.length && moveObra('next')">arrow_forward_ios</mat-icon>

  <div class="wrapper-bullets" *ngIf="dataObras.length > 0">
    <div  
    class="item-bullet"  
    [ngClass] = "{'active': obraActual.idObra === obra.idObra}"
    *ngFor="let obra of dataObras; index as i" (click)="obraActual.idObra !== obra.idObra && showObraBullet(i+1)">
    </div>
  </div>

  <div class="wrapper-loading" *ngIf="loadingData">
    <mat-spinner [diameter]="60"></mat-spinner>
  </div>
  
</div>