<div class="wrap-buttons">
  <a mat-raised-button color="primary"  matTooltip="Creación de un nueva empresa" matTooltipPosition="left" [routerLink]="'/catalogos-administrativos/crear-empresa'">Crear Empresa</a>
</div>

<mat-form-field class="margin-333" style="width: 98%">
  <input matInput placeholder="Filtrar Empresas" value="" (keyup)='updateFilter($event)'>
</mat-form-field>


<div fxLayout="row wrap" *ngIf="obs$ | async as empresas; else noEmpresas">
  <ng-container *ngIf="empresas.length; else loading">
    <div *ngFor="let empresa of empresas" fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">

      <mat-card class="user-card p-0">
        <mat-card-title>
          <div class="card-title-text">
            <a *ngIf="!empresa.imagen" class="toolbar-avatar md mr-1">
              <img src="http://{{host}}/{{rutaImg}}/files/ic-company-default.png" alt="">
            </a>
            <a *ngIf="empresa.imagen" class="toolbar-avatar md mr-1">
              <img src="http://{{host}}/{{rutaImg}}/files/{{empresa.imagen}}" alt="">
            </a>
            <span class="title-card-catalogs">{{empresa.nombre}}</span>
            <span fxFlex></span>
            <button mat-icon-button [matMenuTriggerFor]="empresaMenu" class="">
              <mat-icon class="">more_vert</mat-icon>
            </button>
            <mat-menu #empresaMenu="matMenu">
              <!-- <button mat-menu-item (click)="openDialogUser(user)">Ver</button> -->
              <button mat-menu-item [routerLink]="['/catalogos-administrativos/modificar-empresa', empresa.idEmpresa]">Editar</button>
              <button mat-menu-item [routerLink]="['/catalogos-administrativos/actualizar-perfil', empresa.idEmpresa]">Actualizar Logo</button>
              <button mat-menu-item (click)="openDialoAlertDelete(empresa.idEmpresa)">Eliminar</button>
            </mat-menu>
          </div>
          <mat-divider></mat-divider>
        </mat-card-title>

        <mat-card-content>
          <div class="user-details">
            <p class="p-info-catalogs">
              <mat-icon class="text-muted">phone</mat-icon>{{empresa.telefono}}</p>
            <p class="p-info-catalogs">
              <mat-icon class="text-muted">location_on</mat-icon>{{empresa.direccion}}</p>
            <p class="p-info-catalogs">
              <mat-icon class="text-muted">description</mat-icon>{{empresa.rfc}}</p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </ng-container>

  <ng-template #noEmpresas>
    <div fxFlex="100" fxFlex.gt-sm="33" fxFlex.sm="50">
      <mat-card class="user-card p-0">
        <mat-card-content>
          <img src="assets/images/icons/no-close.png" alt="no found">
        </mat-card-content>
      </mat-card>
    </div>
  </ng-template>
</div>

<ng-template #loading>
  <div class="wrap-loading-catalog">
    <mat-spinner [diameter]="60"></mat-spinner>
  </div>
</ng-template>

<mat-paginator [pageSizeOptions]="[6, 12, 24, 100]"></mat-paginator>